<% cache commercial_unit do %>

  <tr class="status-<%= commercial_unit.status %>">
    <td>
      <%= link_to commercial_unit.building.street_address, commercial_unit %><br />
      <small><%= commercial_unit.building.neighborhood.name %></small>
    </td>
    <td><%= commercial_unit.summary %></td>
    <td><%= money_formatted(commercial_unit.rent) %>/Month</td>
    <td><%= commercial_unit.sq_footage %></td>
    <td><%= commercial_unit.available_by %></td>

    <td>
      <% if commercial_unit.status == "active" %>
        <span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span>
      <% elsif commercial_unit.status == "pending" %>
        <span class="glyphicon glyphicon-arrow-up dark-orange" aria-hidden="true"></span>
      <% elsif commercial_unit.status == "off" %>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      <% end %>
    </td>

    <% if current_user.is_management? %>
      <td>
        <%= link_to 'Edit', edit_commercial_unit_path(commercial_unit) %> | 
        <%= link_to 'Delete', commercial_unit, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    <% end %>
  </tr>

<% end %><!-- end cache -->