<% cache commercial_unit do %>
  <tr class="<%= cycle('even', 'odd') -%>">
    <td>
      <% if commercial_unit.cached_primary_img %>
        <%= link_to(image_tag(commercial_unit.cached_primary_img.file.url(:thumb), :class => 'img-responsive', 
          alt: commercial_unit.cached_primary_img.file.url(:medium)), commercial_unit) %>
      <% else %>
        <!-- placeholder image -->
        <%= link_to(image_tag("listing_soon.png", alt: "Image coming soon", :size => "100x100"), commercial_unit) %>
      <% end %>
    </td>
    <td>
      <%= link_to commercial_unit.street_address_and_unit, commercial_unit %><br />
      <% if commercial_unit.cached_neighborhood %>
        <small><%= commercial_unit.cached_neighborhood.name %></small>
      <% end %>
    </td>
    <td>
      <% if current_user.is_management? %>
        <%= link_to commercial_unit.cached_landlord.code, commercial_unit.cached_landlord %>
      <% else %>
        <%= commercial_unit.cached_landlord.code %>
      <% end %>
    </td>

    <td>
      <%= link_to commercial_unit.building.street_address, commercial_unit %><br />
      <small><%= commercial_unit.building.neighborhood.name %></small>
    </td>
    <td><%= commercial_unit.summary %></td>
    <td><%= money_formatted(commercial_unit.rent) %>/Month</td>
    <td><%= commercial_unit.sq_footage %></td>
    <td><%= commercial_unit.available_by.strftime("%b %d") %></td>

    <td>
      <% if commercial_unit.status == "active" %>
        <span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span>
      <% elsif commercial_unit.status == "pending" %>
        <span class="glyphicon glyphicon-arrow-up dark-orange" aria-hidden="true"></span>
      <% elsif commercial_unit.status == "off" %>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      <% end %>
    </td>

    <% if current_user.is_management? %>
      <td>
        <%= link_to 'Edit', edit_commercial_unit_path(commercial_unit) %><br />
        <%= link_to 'Delete', delete_modal_commercial_unit_path(commercial_unit), 
          data: { toggle: "modal", target: "#unitDeleteModal"}, remote: true %>
      </td>
    <% end %>
  </tr>

<% end %><!-- end cache -->