<h1>Editing Commercial Unit</h1>

<%= render 'form' %>

<%= link_to 'Show', @commercial_unit %> |
<%= link_to 'View all', commercial_units_path %>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<% provide(:title, 'Editing Commerical Unit') %>
		<h1 class="page-header">
			Commercial: <%= @commercial_unit.building.formatted_street_address %></h1>
	  	
		<%= render 'form' %>

	</div>
</div>