<script>
   //unobstrusive: attach method call here
   //call when typing or enter or focus leaving
  function initialize() {
    var timer2;
    function clearSpinner() {
      // remove the spinner after download completes.
      // this is a very hackish way of roughly estimating how long
      // the download takes to complete
      clearInterval(timer2);
      $('.btn-print-list').toggleClass('active');
    };

    $('.btn-print-list').click( function(event) {
      // show spinner
      $(this).toggleClass('active');
      timer2 = setTimeout(clearSpinner, 15000);
    });

    function doSearch(event) {

      // sanitize invalid input before submitting
      if ($('#neighborhood_ids').val() == "{:id=>\"neighborhood_ids\"}") {
        $('#neighborhood_ids').val('');
      }

      $.ajax({
        url: "<%= filter_commercial_units_path %>",
        data: {
          search_params: {
            address: $('#address').val(),
            rent_min: $('#rent_min').val(),
            rent_max: $('#rent_max').val(),
            landlord: $('#landlord').val(),
            status: $('#status').val(),
            status: $('#property_type').val(),
            status: $('#listing_id').val(),
            neighborhood_ids: $('#neighborhood_ids').val(),
          } 
        },
        dataType: "script"
      });
    };

    // search as user types
    var timer;
    function throttledSearch() {
      clearInterval(timer);  //clear any interval on key up
      timer = setTimeout(doSearch, 500);
    };
    
    // change enter key to tab
    function preventEnter(event) {
      if (event.keyCode == 13) {
        //$('#checkbox_active').focus();
        return false;
      }
    };

    $('input').keydown(preventEnter);
    $('#address').keyup(throttledSearch);
    $('#rent_min').keyup(throttledSearch);
    $('#rent_max').keyup(throttledSearch);
    $('#landlord').keyup(throttledSearch);
    $('#status').change(throttledSearch);
    $('#neighborhood_ids').change(throttledSearch);
    $('#property_type').change(throttledSearch);
    $('#listing_id').keyup(throttledSearch);
  };
  // TODO: get rid of document.ready
  $(document).ready(initialize);
</script>

<% provide(:title, 'Commercial Listings') %>
<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>Commercial Listings</h1>
    </div>
    <div class="col-md-6 form-label-responsive">
      <br />
      <br />
      <% if current_user.is_management? %>
        <h1>Commercial Listings</h1><%= link_to 'Add a listing', new_commercial_unit_path %> 
      <% end %>
      <%= link_to print_list_commercial_units_path, 
        class:"btn btn-xs btn-primary link-as-button btn-print-list has-spinner" do %>
        <span class="spinner active"><i class="fa fa-refresh fa-spin"></i></span> Print
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <br />
    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th><%= sortable('street_address', 'Address') %></th>
          <th><%= sortable 'summary' %></th>
          <th><%= sortable 'rent' %></th>
          <th><%= sortable 'sq_footage' %></th>
          <th><%= sortable 'available_by' %></th>
          <th><%= sortable 'status' %></th>
          <% if current_user.is_management? %>
            <th colspan="1"></th>
          <% end %>
        </tr>
      </thead>

      <tbody class="commercial_units_table_body">
        <%# Template Dependency: commercial_units/commercial_unit %>
        <%= render @commercial_units %>
      </tbody>
    </table>
  </div>
</div>


<div class="row">
  <div class="col-md-12 form-label-responsive">
    <%= will_paginate @commercial_units, {inner_window: 1, class:"pagination-sm"} %>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="unitDeleteModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Unit</h4>
      </div>
      <div class="modal-body">
        Placeholder
      </div>
      <div class="modal-footer">
        <button class="delete-btn">Placeholder</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<!-- Neighborhood Modal -->
<div class="modal fade" id="neighborhoodsModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="neighborhood-modal-title">Select Neighborhoods</h4>
      </div>
      <div class="modal-body">
        <div id="placeholder-body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-close" data-dismiss="modal">Done</button>
      </div>

    </div>
  </div>
</div>