<script>
	function initialize() {
    $(".panel").geocomplete({
    	map: "#map_canvas",
    	location: "<%= @commercial_unit.building.formatted_street_address %>" ,
    	details: ".details"
    }).bind("geocode:result", function(event, result){
        //console.log(result);
    }).bind("geocode:error", function(event, result){
        //console.log("[ERROR]: " + result);
    });
	};
	$(document).ready(initialize);
</script>

<% provide(:title, @commercial_unit.building.street_address) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	
		<div class="row">
  		<div class="col-md-12">
  			<br /><br />
  			<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">
				    	
				    	<div class="row">
					  		<div class="col-md-6">
					  			<h1>
						  			<%= @commercial_unit.building.street_address %>
						  		</h1>
						  		<p>
					  				<%= @commercial_unit.building.neighborhood.name %>, <%= @commercial_unit.building.sublocality %>, <%= @commercial_unit.building.administrative_area_level_2_short %> <%= @commercial_unit.building.postal_code %>
					  			</p>
					  		</div>
					  		<div class="col-md-6 right">
					  			<h1><%= money_formatted(@commercial_unit.price_per_sq_ft) %>/SF/Month</h1>
						  		<p><%= @commercial_unit.sq_footage %> SF | <%= @commercial_unit.commercial_property_type.property_type %></p>
					  		</div>
					    </div>
				    </h3>
				  </div>
				  <div class="panel-body">
				  	<p>
				  	  <%= link_to 'View all', commercial_units_path %>
		          
		      		| <%= link_to 'Report Inaccuracy', inaccuracy_modal_commercial_unit_path(@commercial_unit), 
		        			data: {toggle: "modal", target: "#unitInaccuracyModal"}, remote: true %>
		        	| <%= link_to 'Print', print_modal_commercial_unit_path(@commercial_unit), 
		        		data: {toggle: "modal", target: "#printModal"}, remote: true %>
		        	<% if current_user.is_management? %>
					  		| <%= link_to 'Edit', edit_commercial_unit_path(@commercial_unit) %>
					  		| <%= link_to 'Duplicate', duplicate_modal_commercial_unit_path(@commercial_unit), 
			      				data: { toggle: "modal", target: "#unitDuplicateModal"}, remote: true %>
					  	<% end %>
		        </p>
		        
				  	<div id="map_canvas"></div>
				  	<br />
				    <h3><%= @commercial_unit.commercial_property_type.property_type %> Property For Lease</h3>

				    <div class="row">
						  <div class="col-md-3">
						    <strong>Total Space:</strong>
						  </div>
						  <div class="col-md-3">
						    <%= @commercial_unit.sq_footage %> SF
						  </div>
						  <div class="col-md-3">
						    <strong>Building Size:</strong>
						  </div>
						  <div class="col-md-3">
						    <%= @commercial_unit.building_size %> SF
						  </div>
						</div>

						<div class="row">
						  <div class="col-md-3">
						    <strong>Rent per Sq Ft:</strong>
						  </div>
						  <div class="col-md-3">
						    <%= money_formatted(@commercial_unit.price_per_sq_ft) %> /SF/MONTH
						  </div>
						  <div class="col-md-3">
						    <strong>Rental per Month:</strong>
						  </div>
						  <div class="col-md-3">
						    <%= rent_formatted(@commercial_unit.rent) %>
						  </div>
						  
						</div>

						<div class="row">
						  <div class="col-md-3">
						    <strong>Property Type:</strong>
						  </div>
						  <div class="col-md-3">
						    <%= @commercial_unit.commercial_property_type.property_type %>
						  </div>
						  <div class="col-md-3">
						    <strong>Listing ID:</strong>
						  </div>
						  <div class="col-md-3">
						    <%= @commercial_unit.listing_id %>
						  </div>
						</div>

						<div class="row">
						  <div class="col-md-3">
						    <strong>Property Sub-type:</strong>
						  </div>
						  <div class="col-md-3">
						    <%= @commercial_unit.commercial_property_type.property_sub_type %>
						  </div>
						  <div class="col-md-3">
						    <strong>Date Available:</strong>
						  </div>
						  <div class="col-md-3">
						    <%= @commercial_unit.available_by.strftime("%Y-%b-%d") %>
						  </div>
						</div>

						<div class="row">
						  <div class="col-md-3">
						    <strong>Construction Status:</strong>
						  </div>
						  <div class="col-md-3">
						  	<% if @commercial_unit.construction_status == "existing" %>
						  		Existing
						  	<% else %>
						  		Under Construction/Proposed
						  	<% end %>
						  </div>

						</div>

						<br />
				    <h3>Description</h3>
				    <%= @commercial_unit.property_description %>

				  </div><!-- panel-body-->
				</div><!-- panel -->
			</div><!-- col -->
		</div><!-- row -->

  
  </div><!-- col -->
</div><!-- row -->

<%= render 'layouts/modals' %>

<!-- Print Modal: only on the show page -->
<div class="modal fade" id="printModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Generating Printable PDF</h4>
      </div>
      <div class="modal-body">
      	<div class="row">
        	<div class="col-md-12">
        		<p>Please be patient, generating pdfs will take a few moments. </p>
        		<br />
        	</div>
        </div>
        
      </div>
      <div class="modal-footer">
      	<%= link_to commercial_unit_path(@commercial_unit, :format => 'pdf'), class:"btn btn-warning link-as-button print-btn has-spinner" do %>
              <span class="spinner active"><i class="fa fa-refresh fa-spin"></i></span> Print PDF
            <% end %>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>