<div class="well <%= css_class %>">
	<h4><%= announcement.canned_response %></h4>
	
	<small><em><%= time_ago_in_words(announcement.updated_at) %></em></small><br />

	<% if announcement.respond_to? :unit_id %>

		<% is_residential = (announcement.respond_to? :residential_listing_id) && (announcement.residential_listing_id) %>
		<% is_commercial = (announcement.respond_to? :commercial_listing_id) && (announcement.commercial_listing_id) %>
		<% is_sales = (announcement.respond_to? :sales_listing_id) && (announcement.sales_listing_id) %>

		<!-- RESIDENTIAL -->
		<% if is_residential %>
			<%= link_to residential_listing_path(announcement.residential_listing_id) do %>
				<%= announcement.street_number %> <%= announcement.route %>
				<% if !announcement.building_unit.blank? %>
					#<%= announcement.building_unit %>
				<% end %>
			<% end %>
			<!-- COMMERCIAL -->
		<% elsif is_commercial %>
			<%= link_to commercial_listing_path(announcement.commercial_listing_id) do %>
				<%= announcement.street_number %> <%= announcement.route %>
				<% if !announcement.building_unit.blank? %>
					#<%= announcement.building_unit %>
				<% end %>
			<% end %>
			<!-- SALES -->
		<% elsif is_sales %>
			<%= link_to sales_listing_path(announcement.sales_listing_id) do %>
				<%= announcement.street_number %> <%= announcement.route %>
				<% if !announcement.building_unit.blank? %>
					#<%= announcement.building_unit %>
				<% end %>
			<% end %>
		<% else %>
		<!-- NO ADDRESS SPECIFIED -->
			<%= announcement.street_number %> <%= announcement.route %>
			<% if !announcement.building_unit.blank? %>
				#<%= announcement.building_unit %>
			<% end %>
		<% end %>
		
	<% end %>

	<br /><br />
	<p><%= announcement.note %></p>

	<div class="pull-right">- <%= announcement.sender_name %></div>
</div>