<% provide(:title, 'Recent Announcements') %>

<div id="announcements">
<div id="section-name" data-name="announcements">

<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>Recent Announcements</h1>
    </div>
    <div class="col-md-6 form-label-responsive">
      
      <% if current_user.is_management? %>
        <%= link_to 'Make an Announcement', new_announcement_path %><br />
      <% end %>
      <!-- loading more should add another 2 rows of data -->
      <%= link_to 'Load more', announcements_path(
        params.merge({
        limit: params[:limit] ? params[:limit].to_i + 8 : 12,
        }).symbolize_keys)
        %>
    </div>
  </div>
</div>

<div class="row vertical-align">
  <div class="col-md-12">

    <i class="fa fa-spinner fa-pulse fa-5x forms-spinner-desktop"></i>

    <div id="announcement-search-filters" data-search-path="<%= filter_announcements_path %>">
      <%= form_tag filter_announcements_path, :method => 'get' do %>

        <%= hidden_field_tag :res_limit, params[:res_limit] %>
        <%= hidden_field_tag :com_limit, params[:com_limit] %>
        <%= hidden_field_tag :sales_limit, params[:sales_limit] %>
        <%= hidden_field_tag :event_limit, params[:event_limit] %>

        <div class="row vertical-padding">
          <div class="col-md-1">
            <%= label_tag(:filter_address, "Address:") %>
          </div>
          <div class="col-md-3">
          <%= autocomplete_field_tag :filter_address, params[:filter_address], 
              autocomplete_building_formatted_street_address_announcements_path,
              update_elements: {},
              placeholder: "123 Main St", 
              class:'form-control' %>
          </div>
        
          <div class="col-md-2 form-label-responsive">
            <strong>Posted Between:</strong>
          </div>
        
          <div class="col-md-2 col-sm-left-padding">
            <div class='input-group date datepicker'>
              <%= text_field_tag :created_start, params[:created_start], 
                placeholder: "starting", class:"form-control", size:30 %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
          <div class="col-md-2 col-sm-left-padding">
            <div class='input-group date datepicker'>
              <%= text_field_tag :created_end, params[:created_end], 
                placeholder: "ending", class:"form-control" %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
        </div>
        
        <div class="row vertical-padding">
          <div class="col-md-2 col-md-offset-1">
            <%= link_to 'Clear filters', announcements_path, class: 'btn btn-xs btn-default' %>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</div>

<hr />

<div class="items">
  <%= render partial: "announcements/items_list", locals: { announcements: @announcements } %>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="annDeleteModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Entry</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete this announcement?
        </p>
      </div>
      <div class="modal-footer">
        <button class="delete-btn">Placeholder</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>