<% provide(:title, 'Recent Announcements') %>

<div id="announcements">
<div id="section-name" data-name="announcements">

<div class="page-header">
  <div class="row">
    <div class="col-sm-6">
      <h1>Recent Announcements</h1>
    </div>
    <div class="col-sm-6 form-label-responsive page-header-buttons">
      <% if current_user.is_management? || current_user.is_listings_manager? %>
        <%= link_to 'Make an Announcement', new_announcement_path,
            class: "btn btn-warning btn-sm link-as-button"  %>
      <% end %>
    </div>
  </div>
</div>

<div class="row vertical-align">
  <div class="col-md-12">

    <i class="fa fa-spinner fa-pulse fa-5x forms-spinner-desktop"></i>

    <div id="announcement-search-filters" data-search-path="<%= filter_announcements_path %>">
      <%= form_tag filter_announcements_path, method: 'get' do %>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-sm-1">
            <strong>Posted:</strong>
          </div>

          <div class="col-xs-4 col-sm-2">
            <div class='input-group date datepicker'>
              <%= text_field_tag :created_start, params[:created_start],
                placeholder: "begin", class:"form-control", size:30 %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
          <div class="col-xs-4 col-sm-2">
            <div class='input-group date datepicker'>
              <%= text_field_tag :created_end, params[:created_end],
                placeholder: "end", class:"form-control" %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-sm-1">
            <strong>Category:</strong>
          </div>
          <div class="col-xs-8 col-sm-3">
            <%= select_tag :category_filter,
              options_for_select(%w(Any Residential Commercial Sales Event)),
              {prompt: "Choose one...",
              class: "form-control"} %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-6 col-md-offset-3 pagination-wrapper">
            <%= render partial: 'shared/pagination',
              locals: {models: @announcements, shorten_text: false} %>
          </div>
        </div>

      <% end %>
    </div>

  </div>
</div>

<hr />

<div class="items">
  <%= render partial: "announcements/items_list",
    locals: { announcements: @announcements, shorten_text: false } %>
</div>

<!-- Delete Modal -->
<div class="modal fade modal-fullscreen" id="annDeleteModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Entry</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete this announcement?
        </p>
      </div>
      <div class="modal-footer">
        <button class="delete-btn">Placeholder</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
