<div id="roommates">

<%= form_for(@roommate) do |f| %>
<%= f.hidden_field :lock_version %>
  <div class="row">
    <div class="col-md-12">

          <%= render :partial => 'shared/error_messages',
            :locals => {:model => @roommate} %>

          <div class="row vertical-margin-lg">
            <div class="col-xs-12">
              <%= f.label :name, class: 'required' %>
            </div>
            <div class="col-xs-12">
              <%= f.text_field :name, class: 'form-control',
                  :required => true %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-xs-12">
              <%= f.label :email, class: 'required' %>
            </div>
            <div class="col-xs-12">
              <%= f.telephone_field :email, class: 'form-control' %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-xs-12">
              <%= f.label :phone_number, "Phone", class: 'required' %>
            </div>
            <div class="col-xs-12">
              <%= f.telephone_field :phone_number, placeholder: "(XXX)XXX-XXXX",
                  class: 'form-control' %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-xs-12">
              <%= f.label :how_did_you_hear_about_us %>
            </div>
            <div class="col-xs-12">
              <%= f.select(:how_did_you_hear_about_us, options_for_select(['Roommate Mixer Event', 'Email', 'Facebook', 'Google Search', 'Building Sign', 'Word of Mouth', 'Other'], [@roommate.how_did_you_hear_about_us ? @roommate.how_did_you_hear_about_us : '']),
                {prompt: "Choose one..."},
                class: 'form-control',
                :include_blank => true) %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-xs-12">
              <%= f.label :describe_yourself %>
            </div>
            <div class="col-xs-12">
              <%= f.text_area :describe_yourself, class: 'form-control', :size => "20x10" %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-xs-3">
              <%= f.label :monthly_budget %>
            </div>
            <div class="col-xs-9">
              <%= f.select(:monthly_budget, options_for_select(['$750 - $999', '$1,000 - $1,249', '$1,250 - $1,499', '$1,500+'], [@roommate.monthly_budget ? @roommate.monthly_budget : '']),
                {prompt: "Choose one..."},
                class: 'form-control',
                :include_blank => true) %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-xs-3">
              <%= f.label :move_in_date %>
            </div>
            <div class="col-xs-9">
              <div class='input-group date datepicker'
                data-available-by="<%= @roommate.move_in_date ? @roommate.move_in_date.strftime("%m/%d/%Y") : '' %>">
                <%= f.text_field :move_in_date, class:"form-control", size:30 %>
                <label class="input-group-addon btn" for="date">
                  <span class="fa fa-calendar open-datepicker"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-xs-3">
              <%= f.label :neighborhood %>
            </div>
            <div class="col-xs-9">
              <%= f.select(:neighborhood, options_for_select([
                'Bedford Stuyesant',
                'Bushwick',
                'Crown Heights',
                'Greenpoint',
                'Prospect Lefferts Gardens',
                'Prospect Heights',
                'Ridgewood',
                'Williamsburg',
                'Flatbush Ditmas Park',
                'Other'
                ], [@roommate.neighborhood ? @roommate.neighborhood.name : '']),
                {prompt: "Choose one..."},
                class: 'form-control',
                :include_blank => true) %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-xs-3">
              <%= f.label :dogs_allowed %>
            </div>
            <div class="col-xs-9">
              <%= f.select(:dogs_allowed, options_for_select(['Yes', 'No'],
                [@roommate.dogs_allowed == 'Yes' ? 'Yes' : 'No']),
                {prompt: "Choose one..."},
                class: 'form-control',
                :include_blank => true) %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-xs-3">
              <%= f.label :cats_allowed %>
            </div>
            <div class="col-xs-9">
              <%= f.select(:cats_allowed, options_for_select(['Yes', 'No'],
                [@roommate.cats_allowed == 'Yes' ? 'Yes' : 'No']),
                {prompt: "Choose one..."},
                class: 'form-control',
                :include_blank => true) %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-xs-12">
              <%= f.label :internal_notes %>
            </div>
            <div class="col-xs-12">
              <%= f.text_area :internal_notes, class: 'form-control', :size => "20x10" %>
            </div>
          </div>

          <div class="actions">
            <%= f.submit class: "btn btn-warning" %>
          </div>

    </div>
  </div>
<% end %>
</div>