<div id="roommates">

<div class="row">
  <div class="col-md-6">
      <!-- User image form -->
      <div class="row">
        <div class="col-md-12">
          <div class="avatar">
            <%= render 'image', :locals => {:roommate => @roommate} %>
          </div>
        </div>
      </div>
  </div>

  <div class="col-md-6">
    <!-- All other fields form -->
    <%= form_for(@roommate) do |f| %>
      <%= render :partial => 'shared/error_messages', 
        :locals => {:model => @roommate} %>

      <div class="field">
        <%= f.label :name, class: 'required' %><br>
        <%= f.text_field :name, class: 'form-control', 
            :required => true %>
      </div>
      
      <div class="field">
        <%= f.label :email, class: 'required' %><br>
        <%= f.telephone_field :email,
            class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :phone_number, "Phone", class: 'required' %><br>
        <%= f.telephone_field :phone_number, placeholder: "(XXX)XXX-XXXX",
            class: 'form-control' %>
      </div>
      
      <div class="field">
        <%= f.label :how_did_you_hear_about_us %><br>
        <%= f.select(:how_did_you_hear_about_us, options_for_select(['Roommate Mixer Event', 'Email', 'Facebook', 'Google Search', 'Building Sign', 'Word of Mouth', 'Other'], [@roommate.how_did_you_hear_about_us ? @roommate.how_did_you_hear_about_us : '']), 
          {prompt: "Choose one..."},
          class: 'form-control',
          :include_blank => true) %>
      </div>

      <div class="field">
        <%= f.label :describe_yourself %><br>
        <%= f.text_area :describe_yourself, class: 'form-control', :size => "20x10" %>
      </div>

      <div class="field">
        <%= f.label :monthly_budget %><br>
        <%= f.select(:monthly_budget, options_for_select(['$500 - $749', '$750 - $999', '$1,000 - $1,249', '$1,250 - $1,499', '$1,500+'], [@roommate.monthly_budget ? @roommate.monthly_budget : '']), 
          {prompt: "Choose one..."},
          class: 'form-control',
          :include_blank => true) %>
      </div>

      <div class="field">
        <%= f.label :move_in_date %><br />
        <div class='input-group date datepicker' 
          data-available-by="<%= @roommate.move_in_date ? @roommate.move_in_date.strftime("%m/%d/%Y") : '' %>">
          <%= f.text_field :move_in_date, class:"form-control", size:30 %>
          <label class="input-group-addon btn" for="date">
            <span class="fa fa-calendar open-datepicker"></span>
          </label>
        </div>
      </div>

      <div class="field">
        <%= f.label :neighborhood %><br>
        <%= f.select(:neighborhood, options_for_select([
          'Bedford Stuyesant',
          'Bushwick',
          'Crown Heights',
          'Greenpoint',
          'Prospect Lefferts Gardens',
          'Prospect Heights',
          'Ridgewood',
          'Williamsburg',
          'Flatbush Ditmas Park',
          'Other'
          ], [@roommate.neighborhood ? @roommate.neighborhood.name : '']), 
          {prompt: "Choose one..."},
          class: 'form-control',
          :include_blank => true) %>
      </div>

      <div class="field">
        <%= f.label :dogs_allowed %><br />
        <%= f.select(:dogs_allowed, options_for_select(['Yes', 'No'], 
          [@roommate.dogs_allowed == 'Yes' ? 'Yes' : 'No']), 
          {prompt: "Choose one..."},
          class: 'form-control',
          :include_blank => true) %>
      </div>

      <div class="field">
        <%= f.label :cats_allowed %><br />
        <%= f.select(:cats_allowed, options_for_select(['Yes', 'No'],
          [@roommate.cats_allowed == 'Yes' ? 'Yes' : 'No']), 
          {prompt: "Choose one..."},
          class: 'form-control',
          :include_blank => true) %>
      </div>

      <div class="actions">
        <%= f.submit class: "btn btn-warning" %>
      </div>
    <% end %>    
  </div>
</div>

</div>