<% if @roommate.id %>

<!-- user uploaded an image from wufoo -->
<% if @roommate.upload_picture_of_yourself %>
  <p><strong>Photo Uploaded through Wufoo</strong></p>
  <%= image_tag @roommate.upload_picture_of_yourself, class: 'img-responsive', 
    alt: @roommate.upload_picture_of_yourself %>
<% else %>
  <p><strong>No photo provided by Wufoo.</strong></p>
<% end %>

<br />
<p><strong>You can upload another photo below, which will override the one from Wufoo.</strong></p>
<% if @roommate.image %>
  <!-- display existing image -->
  <div class="img-medium">
    <%= image_tag @roommate.image.file.url(:medium), :class => 'img-responsive', 
      alt: @roommate.image.file.url(:medium) %>

    <!-- remove image -->
    <%= link_to "Remove", destroy_image_roommate_path(@roommate), remote: true, method: :delete,
      class: 'btn btn-xs btn-warning center-block', 
      data: { confirm: "Are you sure you want to remove the profile picture?" }
     %>
  </div>
<% else %>
  <!-- display placeholder image if none uploaded currently -->
  <%= image_tag "agent_soon.jpg", alt: "Agent image coming soon",
    class: 'img-responsive', width:"95%" %>
<% end %>


  <br />
  <div class="row">
    <div class="col-md-12">
      <%= form_for(@roommate, :url => upload_image_roommate_path(@roommate), 
        html: {multipart: true}, method: :post) do |f| %>
        <%= f.file_field :file %><br>
        <%= f.submit "Upload Photo", class: "btn btn-warning" %>
      <% end %>
    </div>
  </div>
<% else %>
  <p><strong>
    Save your roommate data first, then add a photo!
  </strong></p>
<% end %>