  <tr class="<%= cycle('even', 'odd') -%>" data-id="<%= roommate.id %>" data-email="<%= roommate.email %>" >

    <!-- ****** checkboxes ****************************************** -->
    <td>
      <i data-action="selectUnit" class="fa fa-square-o fa-lg"></i>
    </td>

    <!-- ****** IMAGE ****************************************** -->
    <td>
      <!-- user uploaded an image from wufoo -->
      <% if roommate.upload_picture_of_yourself %>
        <%= link_to(image_tag(roommate.upload_picture_of_yourself, class: 'img-responsive', size:'100x100',
          alt: roommate.upload_picture_of_yourself), roommate) %>
      <% else %>
        <!-- placeholder image -->
        <%= link_to(image_tag("listing_soon.png", alt: "Image coming soon", :size => "100x100"), roommate) %>
      <% end %>
    </td>

    <!-- ****** NAME ****************************************** -->
    <td>
      <% if !roommate.read %>
        <strong><%= link_to "#{roommate.name}", roommate_path(roommate.id) %></strong><br />
      <% else %>
        <%= link_to "#{roommate.name}", roommate_path(roommate.id) %><br />
      <% end %>
    </td>

    <!-- ****** PHONE ****************************************** -->
    <td class="phone"><%= roommate.phone_number %></td>

    <!-- ****** EMAIL ****************************************** -->
    <td><%= mail_to roommate.email, roommate.email %></td>

    <!-- ****** BUDGET ****************************************** -->
    <td>
      <% if roommate.monthly_budget %>
        <%= roommate.monthly_budget %>
      <% end %>
    </td>

    <!-- ****** MOVE IN DATE ****************************************** -->
    <td>
      <% if roommate.move_in_date %>
        <%= roommate.move_in_date.strftime("%b %d") %>
      <% end %>
    </td>

    <!-- ****** NEIGHBORHOOD ****************************************** -->
    <td>
      <% if roommate.neighborhood_name %>
        <%= roommate.neighborhood_name %>
      <% end %>
    </td>

    <!-- ****** DOGS ALLOWED ****************************************** -->
    <td>
      <% if roommate.dogs_allowed == true %>
        <span class="glyphicon glyphicon-ok green text-center" aria-hidden="true"></span>
      <% else %>
        <span class="glyphicon glyphicon-remove red middle" aria-hidden="true"></span>
      <% end %>
    </td>

    <!-- ****** CATS ALLOWED ****************************************** -->
    <td>
      <% if roommate.cats_allowed == true %>
        <span class="glyphicon glyphicon-ok green text-center" aria-hidden="true"></span>
      <% else %>
        <span class="glyphicon glyphicon-remove red middle" aria-hidden="true"></span>
      <% end %>
    </td>

    <!-- ****** SUBMITTED DATE ****************************************** -->
    <td>
      <% if roommate.submitted_date %>
        <%= roommate.submitted_date.strftime("%b %d") %>
      <% end %>
    </td>

    <!-- ****** STATUS ****************************************** -->
    <td>
      <% if roommate.archived %>
        Matched<br />
        <% if roommate.residential_listing_id %>
          <%= link_to roommate.residential_listing.street_address_and_unit, roommate.residential_listing %>
        <% end %>
      <% else %>
        Unmatched
      <% end %>
    </td>

    <!-- ****** LINKS ****************************************** -->

      <td>
        <%= link_to 'Edit', edit_roommate_path(roommate) %>
        <br />
        <% if !roommate.archived %>
          <%= link_to 'Match', match_modal_roommate_path(roommate),
            data: { toggle: "modal", target: "#roommateMatchModal"}, remote: true %>
        <% else %>
          <%= link_to 'Unmatch', unmatch_modal_roommate_path(roommate),
            data: { toggle: "modal", target: "#roommateUnmatchModal"}, remote: true %>
        <% end %>
          <%= link_to 'Delete', delete_modal_roommate_path(roommate),
            data: { toggle: "modal", target: "#roommateDeleteModal"}, remote: true %>
        <br />
      </td>

  </tr>
