<% provide(:title, 'Roommates') %>

<div id="roommates">

<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>Roomsharing Referrals</h1>
    </div>
    <div class="col-md-6 form-label-responsive">
      <%= link_to 'New Referral', new_roommate_path, class: 'btn btn-warning btn-sm link-as-button' %>      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-4">

    <i class="fa fa-spinner fa-pulse fa-5x room-spinner-desktop"></i>

    <div id="room-search-filters" data-search-path="<%= filter_roommates_path %>">
      <%= form_tag roommates_path, :method => 'get' do %>
        <div class="row vertical-padding">
          <div class="col-xs-5 form-label-responsive">
            <%= label_tag :name, 'Name' %>
          </div>
          <div class="col-xs-7 col-sm-left-padding">
            <%= autocomplete_field_tag :name, params[:name], 
              autocomplete_roommate_name_roommates_path,
              update_elements: {},
              placeholder: "Bob Smith", 
              class:'form-control' %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-5 form-label-responsive">
            <%= label_tag :referred_by, 'Referred By' %>
          </div>
          <div class="col-xs-7 col-sm-left-padding">
            <%= select_tag(:referred_by, 
              options_for_select(@referrers),
              {class: "form-control", 
              prompt: "Any"}) %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-5 form-label-responsive">
            <%= label_tag :neighborhood_id, "Neighborhood" %>
          </div>
          <div class="col-xs-7 col-sm-left-padding">
            <%= select_tag(:neighborhood_id, 
              options_for_select(@neighborhoods.collect {|u| [u.name, u.id]}),
              {class: "form-control", 
              prompt: "Any"}) %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-4">

    <div class="row vertical-padding">
      <div class="col-xs-5 form-label-responsive">
        <%= label_tag(:submitted_date) %>
      </div>
      <div class="col-xs-7 col-sm-left-padding">
        <div class='input-group date datepicker'>
          <%= text_field_tag :submitted_date, params[:submitted_date], 
            placeholder: "date", class:"form-control", size:30 %>
          <label class="input-group-addon btn" for="date">
            <span class="fa fa-calendar open-datepicker"></span>
          </label>
        </div>
      </div>
    </div>
    
    <div class="row vertical-padding">
      <div class="col-xs-5 form-label-responsive">
        <%= label_tag(:move_in_date) %>
      </div>
      <div class="col-xs-7 col-sm-left-padding">
        <div class='input-group date datepicker'>
          <%= text_field_tag :move_in_date, params[:move_in_date], 
            placeholder: "date", class:"form-control", size:30 %>
          <label class="input-group-addon btn" for="date">
            <span class="fa fa-calendar open-datepicker"></span>
          </label>
        </div>
      </div>
    </div>
    
    <div class="row vertical-padding">
      <div class="col-xs-5 form-label-responsive">
        <%= label_tag :monthly_budget %>
      </div>
      <div class="col-xs-7 col-sm-left-padding">
        <%= select_tag(:monthly_budget, 
          options_for_select(['$750 - $999', '$1,000 - $1,249', '$1,250 - $1,499', '$1,500+'], 
          ),
          {class: "form-control", 
          prompt: "Any"}) %>
      </div>
    </div>

  </div>

  <div class="col-xs-12 col-md-4">
    <div class="row vertical-padding">
      <div class="col-xs-5 form-label-responsive">
        <%= label_tag :dogs_allowed %>
      </div>
      <div class="col-xs-7 col-sm-left-padding">
   
        <%= select_tag(:dogs_allowed, 
          options_for_select(['Yes', 'No'], 
          ),
          {class: "form-control", 
          prompt: "Doesn't matter"}) %>
      </div>
    </div>

    <div class="row vertical-padding">
      <div class="col-xs-5 form-label-responsive">
        <%= label_tag :cats_allowed %>
      </div>
      <div class="col-xs-7 col-sm-left-padding">
   
        <%= select_tag(:cats_allowed, 
          options_for_select(['Yes', 'No'], 
          ),
          {class: "form-control", 
          prompt: "Doesn't matter"}) %>
      </div>
    </div>

    <div class="row vertical-padding">
      <div class="col-xs-5 form-label-responsive">
        <%= label_tag(:status) %>
      </div>
      <div class="col-xs-7 col-sm-left-padding">
        <%= select_tag(:status, 
          options_for_select(['Unmatched', 'Matched'], 
            [params[:status].blank? ? 'Unmatched' : params[:status]]),
          {class: "form-control", 
          prompt: "Any"}) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="row vertical-padding">
      <div class="col-xs-5 form-label-responsive">
        <%= link_to 'Clear filters', roommates_path, class: 'btn btn-xs btn-default' %>
      </div>
    </div>
  </div> 
</div>

<hr />
<%= form_tag print_list_roommates_path do %>
<br />
<div class="row">
  <div class="col-md-6">
      <!-- will be a dropdown of either print pdf or email -->
      <div class="dropdown selected-listings">
        <button class="btn btn-warning btn-sm dropdown-toggle disabled" id="selected-listings-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="menu">
          0 Selected Roommates
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu selected-listings-menu" aria-labelledby="selected-listings-dropdown">

          <li role="presentation"><a class="list-item-sm-padding" data-action="mark-read" role="menuitem" tabindex="-1">
            <i class="fa fa-fw fa-file-text"></i> Mark Read</a></li>

          <li role="presentation"><a class="list-item-sm-padding" id="matchMultiple" role="menuitem" tabindex="-1" 
            data-toggle="modal" data-target="#roommateMatchModal">
            <i class="fa fa-fw fa-envelope"></i> Match</a></li>

          <li role="presentation"><a class="list-item-sm-padding" id="emailListings" role="menuitem" tabindex="-1" 
            data-toggle="modal" data-target="#emailModal">
            <i class="fa fa-fw fa-envelope"></i> Email</a></li>

          <li role="presentation"><a class="list-item-sm-padding" data-action="PDF" role="menuitem" tabindex="-1">
            <i class="fa fa-fw fa-file-text"></i> PDF</a></li>
            
          <li role="presentation"><a class="list-item-sm-padding" data-action="CSV" role="menuitem" tabindex="-1">
            <i class="fa fa-fw fa-list"></i> CSV</a></li>
        </ul>
      </div>
    
    <span class="totals">
      &nbsp;&nbsp;<%= @roommates.total_count %> Roommates found
    </span>
  </div>

  <div class="col-md-6">
    <div class="form-label-responsive">
      <%= render partial: 'shared/pagination', locals: {models: @roommates} %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th style="min-width: 30px;">
            <!-- checkboxes -->
            <i data-action="selectAllUnits" class="select-all-listings fa fa-square-o"></i>
          </th>
          <th><!-- first image --></th>
          <th data-sort="name" class="th-sortable">Name</th>
          <th data-sort="phone">Phone</th>
          <th data-sort="email" class="th-sortable">Email</th>
          <th data-sort="monthly_budget" class="th-sortable">Monthly Budget</th>
          <th data-sort="move_in_date" class="th-sortable">Move In Date</th>
          <th data-sort="neighborhood_name" class="th-sortable">Neighborhood</th>
          <th data-sort="dogs_allowed" class="th-sortable">Dogs Ok</th>
          <th data-sort="cats_allowed" class="th-sortable">Cats Ok</th>
          <th data-sort="submitted_date" class="th-sortable selected-sort">Submitted <i class="glyphicon glyphicon-triangle-bottom"></i></th>
          <th data-sort="status">Status</th>
          <th colspan="1"></th>
        </tr>
      </thead>
    
      <tbody class="roommates_table_body">
        <%= render partial: 'roommates/roommate', 
        collection: @roommates %>
      </tbody>
    </table>

  </div>
</div>

<% end %><!-- form -->

<div class="row">
  <div class="col-md-12 form-label-responsive">
    <%= render partial: 'shared/pagination', locals: {models: @roommates} %>
  </div>
</div>

<!-- Email Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" 
  aria-labelledby="emailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(send_message_roommates_path, remote:true) do %>
      <div class="modal-body">
        
        <div class="row vertical-padding">
          <div class="col-md-12">
            <div class="form-group ui-front">
              <%= label_tag "roommate[recipients]", "Recipients", class: 'required' %>
              <i><small>Use commas to separate email addresses</small></i>
              <%= autocomplete_field_tag "roommate[recipients]", "",
                autocomplete_user_email_roommates_path, 'data-delimiter' => ',', :multiple => true,
                update_elements: {},
                placeholder: "bob@myspacenyc.com, ...", 
                class:'form-control', required: true %>
            </div>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "roommate[title]", "Title" %>
            <%= text_field_tag "roommate[title]", "Check out these roommates", class: 'form-control' %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "roommate[message]", "Message" %>
            <%= text_area_tag "roommate[message]", nil, class: 'form-control', rows: 8 %>
          </div>
        </div>

        <br />
        <div class="row vertical-padding">
          <div class="col-md-12">
            
          </div>
        </div>

        <%= hidden_field_tag "roommate[ids]" %>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default horizontal-padding" data-dismiss="modal">Cancel</button>&nbsp;&nbsp; 
        <%= submit_tag "Send Email", class:"btn btn-warning" %>
      </div>

      <% end %>

    </div>
  </div>
</div>

<!-- Match Modal -->
<div class="modal fade" id="roommateMatchModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    </div>
  </div>
</div>

<!-- Unmatch Modal -->
<div class="modal fade" id="roommateUnmatchModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Mark Roommate Unmatched?</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to unmatch this roomie? Unmatching will allow them to show up in 
          roommate searches again.
        </p>
      </div>
      <div class="modal-footer">
        <button class="delete-btn">Placeholder</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="roommateDeleteModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Roommate?</h4>
      </div>
      <div class="modal-body">
        <p>
          Are you sure you want to delete this roomie? Deleting them is permanent and will completely erase their info!
        </p>
      </div>
      <div class="modal-footer">
        <button class="delete-btn">Placeholder</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>


</div>