<tr class="<%= cycle('even', 'odd') -%>">
	
  <td><%= link_to office.name, company_office_path(office.company, office) %></td>
  <td><%= office.formatted_street_address %></td>
  <td><%= office.telephone %></td>
	<td><%= office.fax %></td>

  <td>
    <% prev_link = false %>
  	<% if can? :update, office %>
	  	<%= link_to 'Edit', edit_company_office_path(office.company, office) %> |
	  	<%= link_to 'Delete', company_office_path(office.company, office), method: :delete, data: { confirm: 'Are you sure?' } %>
      <% prev_link = true %>
	  <% end %>

    <% if prev_link %><br /><% end %>
    <%= link_to 'Managers', managers_company_office_path(office.company, office) %> |
    <%= link_to 'Agents', agents_company_office_path(office.company, office) %>
  </td>
</tr>
