<h3>New Unit Added By : <%= @user_name %></h3>
<h4>Address : <%= @building %></h4>
<h4>Unit : <%= @building_unit %></h4>
<h4>Beds : <%= @beds %></h4>
<h4>Baths : <%= @baths %></h4>
<h4>Rent : <%= @rent %></h4>
<h4>Unit Amenities : <%= @all_residential_amenity %></h4>
<h4>Access Info : <%= @access_info %></h4>
<h4>Internal Notes : <%= @notes %></h4>
<h4>Available From : <%= @available %></h4>
<% if @has_fee == "1" %>
	<% fee = "has fee" %>
<% else %>
	<% fee = ""%>
<% end %>
<h4>Broker Fee : <%= fee %></h4>
<h4>Owner Pay : <%= @op_fee_percentage %></h4>
<h4>Tenant Pay : <%= @tp_fee_percentage %></h4>
<h4>Lease Start : <%= @lease_start %></h4>
<h4>Lease End : <%= @lease_end %></h4>
<h4>LandLord : <%= @landlord %></h4>
<h4></h4>
<div>
	<h4>
		<div>Thanks & Regards</div>
		<div>MySpaceNYC</div>
	</h4>
</div>