<h3>Available dates changed by : <%= @user_name %></h3>
<h4>Address : <%= @building %></h4>
<h4>Unit : <%= @building_unit %></h4>
<h4>Rent : <%= @rent %></h4>
<h4>Available date : <%= @available %></h4>

<div>
	<h4>
		<div>Thanks & Regards</div>
		<div>MySpaceNYC</div>
	</h4>
</div>