<h3>Price lowered by : <%= @user_name %></h3>
<h3>Price lowered :</h3>
<h4>Address : <%= @building %></h4>
<h4>Unit : <%= @building_unit %></h4>
<h4>Old Rent : <%= @old_rent %></h4>
<h4>Rent : <%= @rent %></h4>
<h4>Internal Notes : <%= @notes %></h4>
<h4>Access Info : <%= @access_info %></h4>
<div>
	<h4>
		<div>Thanks & Regards</div>
		<div>MySpaceNYC</div>
	</h4>
</div>