<h3>Status change</h3>
<h4><%= @street_number %> <%= @route %>, <%= @building_unit %></h4>
<h4><%= @neighborhood %></h4>
<h4><%= @beds %> Beds / <%= @baths %> Baths</h4>
<h4><%= @user_name %> Changed Status from <%= @status_old %> to <%= @status %></h4>

<div>
	<h4>
		<div>Thanks & Regards</div>
		<div>MySpaceNYC</div>
	</h4>
</div>