<p>
	[<%= @canned_response %>] 

	<% if @unit %>
		<%= @unit.building.street_number %> <%= @unit.building.route %> 
		<% if !@unit.building_unit.blank? %>
			# <%= @unit.building_unit %>
		<% end %>
	<% end %>
	
</p>
	
<p><%= @note %></p>


<p>- <%= @sender.name %></p>