<tr class="<%= cycle('even', 'odd') -%>" data-id="<%= entry.id %>" >
  <td>
    <%= entry.parent_agent_name %>
  </td>

  <td>
    <%= trim_zeros entry.agent_seniority_rate %> %  
  </td>

  <td>
    <%= entry.child_agent_name %>
  </td>

  <td>
    <% if entry.level < 4 %>
      Level <%= entry.level %>
    <% else %>
      Special Agreement
    <% end %>
  </td>

  <td>
    <%= trim_zeros entry.rate %> %
  </td>

  <td>
    <%= link_to 'Delete', delete_modal_user_waterfall_path(entry), 
      data: { toggle: "modal", target: "#unitDeleteModal"}, remote: true %>
  </td>

</tr>