<tr class="<%= cycle('even', 'odd') -%>" data-id="<%= entry.id %>" >
  <td>
    <%= entry.parent_agent_name %>
  </td>

  <td>
    <%= entry.child_agent_name %>
  </td>

  <td>
    <%= entry.level %>
  </td>

  <td>
    <%= entry.rate %>
  </td>

</tr>