<% provide(:title, 'Waterfall Plan') %>

<div id="waterfall">
<div id="get-rates-url" data-path="<%= get_rate_user_waterfalls_path %>">

<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>Waterfall Plan</h1>
    </div>
    
  </div>
</div>

<%= render partial: 'user_waterfalls/form', 
  locals:{ entry: @new_entry, title: "Enter a new waterfall connection"} %>

<hr />
<div class="row row-sm-padding">
  <div class="col-md-12">
    <i class="fa fa-spinner fa-pulse fa-5x forms-spinner-desktop"></i>

    <div id="waterfall-search-filters" data-search-path="<%= filter_user_waterfalls_path %>">

    <%= form_tag user_waterfalls_path, :method => 'get' do %>
      <div class="row vertical-padding vertical-align">
        <div class="col-xs-1">
          <strong>Filter By:</strong>
        </div>
        <div class="col-xs-3 col-sm-left-padding">
          <%= autocomplete_field_tag :parent_agent, params[:parent_agent], 
            autocomplete_user_name_user_waterfalls_path,
            update_elements: {},
            placeholder: "Agent", 
            size: 25, class:'form-control' %>
        </div>
        <div class="col-xs-3 col-sm-left-padding">
          <%= autocomplete_field_tag :child_agent, params[:child_agent], 
            autocomplete_user_name_user_waterfalls_path,
            update_elements: {},
            placeholder: "Waterfall Agent", 
            size: 25, class:'form-control' %>
        </div>
        <div class="col-xs-1 text-right">
          <%= label_tag :level, "Tier:" %>
        </div>
        <div class="col-xs-1 col-sm-left-padding">
          <%= select_tag(:level, 
            options_for_select([['Any',0], ['Level 1',1], ['Level 2',2], ['Level 3',3], ['Special Agreement', 4]], 
            params[:level] ? params[:level] : "Any"),
            class:"form-control") %>
        </div>
      </div>

    <% end %>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <br />    
    <span class="totals">
      &nbsp;&nbsp;<%= @entries.total_count %> Entries found
    </span>
  </div>
  <div class="col-md-6">
    <div class="form-label-responsive">
      <%= render partial: 'shared/pagination', locals: {models: @entries} %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div>
      <table class="table table-striped table-hover table-condensed table-responsive">
        <thead>
          <tr>
            <th data-sort="parent_agent_name" class="th-sortable">Agent</th>
            <th data-sort="agent_seniority_rate" class="th-sortable">Agent Seniority</th>
            <th data-sort="child_agent_name" class="th-sortable">Waterfall Agent</th>
            <th data-sort="level" class="th-sortable">Tier</th>
            <th data-sort="rate" class="th-sortable">Percentage</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <tbody class="user_waterfall_table_body">
          <%= render partial: 'user_waterfalls/user_waterfall', collection: @entries, as: :entry %>
        </tbody>

      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 form-label-responsive">
    <%= render partial: 'shared/pagination', locals: {models: @entries} %>
  </div>
</div>


<!-- Delete Modal -->
<div class="modal fade" id="unitDeleteModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Waterfall Entry</h4>
      </div>
      <div class="modal-body">
        Are you sure you want to remove this link?
      </div>
      <div class="modal-footer">
        <button class="delete-link">Delete</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="waterfallEditModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Waterfall Entry</h4>
      </div>
      <div class="modal-body">
        <!-- placeholder -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>