<script>
	function initialize() {
		$('#neighborhood-tabpanel a:first').tab('show')
	};
	$(document).ready(initialize);
</script>

<div class="modal-body">

	<div role="tabpanel" id="neighborhood-tabpanel">
		
			<!-- if we have multiple boroughs defined -->
			<% if @by_boroughs && @by_boroughs.length > 1 %>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<% @by_boroughs.each do |b,n| %>
						<li role="presentation"><a href="#<%= b %>" aria-controls="<%= b %>" role="tab" data-toggle="tab"><%= b %></a></li>
					<% end %>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
	  		<% @by_boroughs.each do |b,neighs| %>
	  				
			    	<div role="tabpanel" class="tab-pane" id="<%= b %>">
			    		<br />
			    		<div class="row">
			    		
			    			<% for i in 0..neighs.count-1 %>
				    			<% neighborhood = neighs[i] %>
				    			<% if i % 3 == 0 && i > 0 %>
				    				</div>
				    				<div class="row">
				    			<% end %>

				    			<div class="col-xs-4">
				    				<div class="btn-group neighborhood-buttons" data-toggle="buttons">
						    			<label class="btn btn-xs btn-link btn-as-checkbox text-left" 
						    				id="<%= neighborhood.id %>" name="<%= neighborhood.name %>">
											  <input type="checkbox" autocomplete="off"><%= wrap_text(neighborhood.name.titleize, 15) %>
											</label>
										</div>
									</div>
				    		<% end %>

							</div>
			    	</div><!-- tabpanel -->

				<% end %><!-- boroughs -->
				</div><!-- tab-content -->

			<% else %>
				<!-- No boroughs specified OR there is only 1 borough, skip the tabs. 
					Just display the neighborhoods directly. -->
					<div class="row">
	    			<% for i in 0..neighs.count-1 %>
		    			<% neighborhood = neighs[i] %>
		    			<% if i % 3 == 0 && i > 0 %>
		    				</div>
		    				<div class="row">
		    			<% end %>

		    			<div class="col-xs-4">
		    				<div class="btn-group neighborhood-buttons" data-toggle="buttons">
				    			<label class="btn btn-xs btn-link btn-as-checkbox" 
				    				id="<%= neighborhood.id %>" name="<%= neighborhood.name %>">
									  <input type="checkbox" autocomplete="off"><%= wrap_text(neighborhood.name.titleize, 15) %>
									</label>
								</div>
							</div>
		    		<% end %>
				</div>

			<% end %><!-- by_boroughs -->
		
	</div>


</div>
