<div class="row vertical-margin-lg">
  <div class="col-xs-12"><strong>Scheduled Open Houses</strong></div>
</div>

<div class="row vertical-margin-lg">
  <%= form_for @residential_unit.unit do |unit| %>
    <% unit.nested_fields_for :open_houses do |oh| %>
      <!-- date -->
      <div class="col-xs-3">
        <div class='input-group date datepicker'
          data-available-by="<%= @oh.day ? @oh.day.strftime("%m/%d/%Y") : '' %>">
          <%= oh.text_field :day,
              placeholder: "Choose...",
              class:"form-control",
              size: 30 %>

          <label class="input-group-addon btn" for="date">
            <span class="fa fa-calendar open-datepicker"></span>
          </label>
        </div>
      </div>

      <!-- start time -->
      <div class="col-xs-4 col-md-4">
        <% oh.text_field :start_time %>
      </div>

      <!-- end time -->
      <div class="col-xs-4 col-md-4">
        <% oh.text_field :end_time %>
      </div>

      <%= oh.remove_nested_fields_link %>
    <% end %>
    <%= unit.add_nested_fields_link %>
  <% end %>
</div>

