  <tr class="<%= cycle('even', 'odd') -%>" data-id="<%= residential_listing.listing_id %>" >

    <!-- ****** checkboxes ****************************************** -->
    <td>
      <i data-action="selectUnit" class="fa fa-square-o fa-lg"></i>
    </td>

    <!-- ****** IMAGE ****************************************** -->
    <td class="img-col">
      <% if @res_images[residential_listing.unit_id] %>
        <%= link_to(image_tag(@res_images[residential_listing.unit_id],
        alt: @res_images[residential_listing.unit_id]), residential_listing) %>
      <% else %>
        <!-- placeholder image -->
        <%= link_to(image_tag("listing_soon_thumb.png".freeze, alt: "Image coming soon",
          class: 'img-responsive',
          size: "100x100"), residential_listing) %>
      <% end %>
    </td>

    <!-- ****** ADDRESS ****************************************** -->
    <td>
      <%= link_to "#{residential_listing.street_address}".freeze, residential_listing_path(residential_listing.id) %><br />
      <% if residential_listing.neighborhood_name %>
        <small><%= residential_listing.neighborhood_name %></small>
      <% end %>
    </td>

    <!-- ****** UNIT ****************************************** -->
    <td>
      <%= residential_listing.building_unit %>
      <% if residential_listing.can_roomshare %>
        <br /><strong>(RS)</strong>
      <% end %>
    </td>

    <!-- ****** BEDS/BATHS ****************************************** -->
    <td>
      <%= beds_as_str(residential_listing) %> / <%= baths_as_str(residential_listing) %>
    </td>

    <!-- ****** PRICE ****************************************** -->
    <td><%= rent_formatted(residential_listing.rent) %></td>

    <!-- ****** AVAILBLE_BY ****************************************** -->
    <td>
      <% if residential_listing.available_by %>
        <%= residential_listing.available_by.strftime("%b %d") %>
      <% else %>
        -
      <% end %>
    </td>

    <!-- ****** ACCESS ****************************************** -->
    <td class="access-info" data-toggle="tooltip" data-placement="top" title="<%= residential_listing.access_info %>"
      data-delay="1500">
      <div class="row">
        <div class="col-md-12 js-phoneNumber">
          <%= trim_access residential_listing.access_info %>
        </div>
      </div>

      <!-- if roomsharing, draw indicators for each roommate slot here -->
      <% if residential_listing.can_roomshare %>
        <div class="row">
          <div class="col-md-12 margin-vertical">
            <% for idx in 0..residential_listing.beds-1 %>

              <!-- if the roommate exists -->
              <% if idx < residential_listing.roommates.count && residential_listing.roommates[idx] %>
                <% roommate = residential_listing.roommates[idx] %>
                <% if roommate.upload_picture_of_yourself %>
                  <%= image_tag roommate.upload_picture_of_yourself, class: 'roommate_icon',
                    alt: roommate.upload_picture_of_yourself, size:'26x26' %>
                <% else %>
                  <!-- otherwise the roommate is valid but has no photo -->
                  <div class="roommate_no_photo_icon">
                    <%= roommate.initials %>
                  </div>
                <% end %>

              <% else %>
                <!-- if there's no roommate -->
                <div class="roommate_no_photo_icon">&nbsp;&nbsp;&nbsp;</div>
              <% end %>

            <% end %>
            <br />
          </div>
        </div>
      <% end %><!-- roomsharing icons -->
    </td>

    <!-- ****** LANDLORD ****************************************** -->
    <td>
      <% if current_user.is_management? %>
        <%= link_to residential_listing.landlord_code, landlord_path(residential_listing.landlord_id) %>
      <% else %>
        <%= residential_listing.landlord_code %>
      <% end %>
    </td>

    <!-- ****** UPDATED_AT ****************************************** -->
    <td><%= time_ago_in_words(residential_listing.updated_at) %></td>

    <!-- ****** STATUS ****************************************** -->
    <td>
      <% if residential_listing.status == Unit.statuses["active"] %>
        <span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span>
      <% elsif residential_listing.status == Unit.statuses["pending"] %>
        <span class="glyphicon glyphicon-arrow-up dark-orange" aria-hidden="true"></span>
      <% elsif residential_listing.status == Unit.statuses["off"] %>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      <% end %>
    </td>

    <!-- ****** LINKS ****************************************** -->
    <% if current_user.is_management? || current_user.is_listings_manager? || current_user.is_photo_manager? %>
      <td>

        <% if !current_user.is_photo_manager? %>
          <%= link_to 'Edit', edit_residential_listing_path(residential_listing) %>
          <br><%= link_to 'Delete', delete_modal_residential_listing_path(residential_listing),
            data: { toggle: "modal", target: "#unitDeleteModal"}, remote: true %>
          <br>
          <%= link_to 'Duplicate', duplicate_modal_residential_listing_path(residential_listing),
            data: { toggle: "modal", target: "#unitDuplicateModal"}, remote: true %>
          <!--br>
          < % = link_to 'Announcement', new_announcement_path(
            { address: residential_listing.formatted_street_address }) %-->
        <% else %>
          <%= link_to 'Manage Photos', edit_residential_listing_path(residential_listing) %>
        <% end %>
      </td>
    <% end %>
  </tr>
