<% provide(:title, @residential_unit.unit.building.street_address +
		'#' + @residential_unit.unit.building_unit + ' - Editing') %>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="page-header">
		  <div class="row">
		    <div class="col-sm-8">
		      <h1>
		      	<%= @residential_unit.unit.building.street_address %>
		      	<small>#<%= @residential_unit.unit.building_unit %></small>
		      </h1>
		    </div>
		    <div class="col-sm-4 page-header-buttons-lg form-label-responsive">
					<%= link_to 'Show', @residential_unit %> |
					<%= link_to 'All units', residential_listings_path %>
		    </div>
		  </div>
			<div class="effect">
				<div align="left" style="margin-left: 10px;">
					<h4>Building Info</h4>
				</div>
				<div class="left-b-info">
					<% if @residential_unit.unit.building.neighborhood %>
						<strong>Neighborhood :</strong> <%= @residential_unit.unit.building.neighborhood.name %>
					<% end %>
					<br>
					<% if @residential_unit.unit.building.pet_policy %>
						<strong>Pet Policy :</strong> <%= @residential_unit.unit.building.pet_policy.name %>
					<% end %>
					<br>
					<% if @residential_unit.unit.building.rental_term %>
						<strong>Lease Term :</strong> <%= @residential_unit.unit.building.rental_term.name %>
					<% end %>
				</div>
				<div class="vertical-center"></div>
				<% if !@residential_unit.unit.building.description.blank? %>
					<div class="right-b-info">
						<%= @residential_unit.unit.building.description.html_safe %>
					</div>
				<% end %>
			</div>
		</div>

		<%= render 'form' %>

	</div>
</div>
