<% provide(:title, 'Residential Listings') %>
<div id="residential-desktop" class="">
  <div id="section-name" data-name="residential_listings">

  <%= render partial: "residential_listings/announcements",
      locals: {announcement_items: @announcement_items} %>

  <div class="row">
    <div class="col-sm-6">
      <h1>Rental Listings</h1>
    </div>
    <div class="hidden-xs hidden-sm col-sm-6 form-label-responsive page-header-buttons">
      <% if current_user.is_management? || current_user.is_listings_manager? %>
        <%= link_to 'Make Announcement', new_announcement_path,
            class: "btn btn-warning btn-sm link-as-button management-action-button" %>
        <%= link_to 'Add a Deal', new_deal_path,
            class: 'btn btn-warning btn-sm link-as-button management-action-button' %>
        <%= link_to 'Add a unit', new_residential_listing_path,
            class: 'btn btn-warning btn-sm link-as-button management-action-button' %>
        <%= link_to 'Export to CSV',
            residential_listings_path(params.permit!.merge(format: 'csv')),
            class: 'btn btn-sm btn-warning link-as-button management-action-button',
            target: :_blank %>
      <% end %>
    </div>
    <div class="hidden-md hidden-lg col-sm-5 col-sm-left-padding form-label-responsive page-header-buttons">
      <% if current_user.is_management? || current_user.is_listings_manager? %>
        <%= link_to 'Make Announcement', new_announcement_path,
            class: "btn btn-warning btn-sm link-as-button management-action-button" %>
        <%= link_to 'Add a Deal', new_deal_path,
            class: 'btn btn-warning btn-sm link-as-button management-action-button' %>
        <%= link_to 'Add a unit', new_residential_listing_path,
            class: 'btn btn-warning btn-sm link-as-button management-action-button' %>
        <%= link_to 'Export to CSV',
            residential_listings_path(params.permit!.merge(format: 'csv')),
            class:"btn btn-sm btn-warning link-as-button management-action-button",
            target: :_blank %>
      <% end %>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3">

      <i class="fa fa-spinner fa-pulse fa-5x res-spinner-desktop listings-spinner-desktop"></i>

      <div class="res-desktop-search-filters hidden-print" id="res-search-filters" data-search-path="<%= filter_residential_listings_path %>">
        <%= form_tag residential_listings_path, method: 'get' do %>
          <div class="row vertical-margin-lg">
            <div class="col-xs-3">
              <%= label_tag(:address, "Address") %>
            </div>
            <div class="col-xs-8 col-sm-left-padding">
            <%= autocomplete_field_tag :address, params[:address],
                autocomplete_building_formatted_street_address_residential_listings_path,
                update_elements: {},
                placeholder: "123 Main St",
                class:'form-control' %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-3">
              <%= label_tag(:unit, "Unit") %>
            </div>
            <div class="col-xs-8 col-sm-left-padding">
              <%= text_field_tag :unit, params[:unit], class:"form-control" %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-3">
              <%= label_tag(:unit, "Rent") %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= number_field_tag :rent_min, params[:rent_min], placeholder: "$ min",
                min: 0, max: 1000000, class:"form-control" %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= number_field_tag :rent_max, params[:rent_max], placeholder: "$ max",
                min: 0, max: 1000000, class:"form-control" %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-3">
              <%= label_tag(:unit, "Beds") %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= select_tag(:bed_min,
                options_for_select(%w(Any Studio/Loft 1 2 3 4 5 6 7 8 9 10),
                params[:bed_min]), class: 'form-control') %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= select_tag(:bed_max,
                options_for_select(%w(Any Studio/Loft 1 2 3 4 5 6 7 8 9 10),
                params[:bed_max]), class: 'form-control') %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-3">
              <%= label_tag(:unit, "Baths") %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= select_tag(:bath_min,
                options_for_select(%w(Any 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10),
                params[:bath_min]), class: 'form-control') %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= select_tag(:bath_max,
                options_for_select(%w(Any 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10),
                params[:bath_max]), class: 'form-control') %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag(:listing_id, "Listing ID") %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= text_field_tag :listing_id, params[:listing_id], class:"form-control" %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag(:landlord, "Landlord ") %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= autocomplete_field_tag :landlord, params[:landlord],
                autocomplete_landlord_code_residential_listings_path,
                update_elements: {},
                placeholder: "code",
                size: 30, class:'form-control' %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :status, "Status" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <% if current_user.is_management? ||
                    current_user.is_listings_manager? ||
                    current_user.is_photo_manager? %>
                <%= select_tag(:status,
                  options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off'],
                  params[:status] ? params[:status].titleize : "Active"), class: 'form-control') %>
              <% else %>
                <%= select_tag(:status,
                  options_for_select(['Any', 'Active/Pending', 'Active', 'Pending'],
                  params[:status] ? params[:status].titleize : "Active"), class: 'form-control') %>
              <% end %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :has_fee, "Broker's Fee" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= select_tag(:has_fee,
                options_for_select(%w(Any Yes No), params[:has_fee]), class: 'form-control') %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :pet_policy_shorthand, "Pet policy" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= select_tag(:pet_policy_shorthand,
                options_for_select(["Any", "Cats Only", "Dogs Only", "None"],
                [params[:pet_policy_shorthand] ? params[:pet_policy_shorthand].titleize : "Any"]),
                class: 'form-control') %>
            </div>
          </div>

          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :primary_agent_id, "Agent" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= select_tag(:primary_agent_id,
                options_for_select(current_user.company.users.unarchived.collect {|u| [u.name, u.id]},
                    [params[:primary_agent_id] ? params[:primary_agent_id].titleize : "Any"]),
                  {prompt: "Choose one...",
                  class: 'form-control'}) %>
            </div>
          </div>

          <% if current_user.is_management? %>
            <div class="row vertical-padding">
              <div class="col-xs-5">
                <%= label_tag :streeteasy_filter, "On Streeteasy" %>
              </div>
              <div class="col-xs-6 col-sm-left-padding">
                <%= select_tag(:streeteasy_filter,
                    options_for_select(['Any', 'Yes', 'No'],
                    [params[:streeteasy_filter] ? params[:streeteasy_filter].titleize : 'Any']),
                    class: 'form-control') %>
              </div>
            </div>
          <% end %>

          <div class="row vertical-padding">
            <div class="col-xs-12">
              <strong>Available</strong>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-6 col-sm-left-padding">
              <div class='input-group date datepicker'>
                <%= text_field_tag :available_starting, params[:available_starting],
                  placeholder: "start", class:"form-control", size:30 %>
                <label class="input-group-addon btn" for="date">
                  <span class="fa fa-calendar open-datepicker"></span>
                </label>
              </div>
            </div>
            <div class="col-xs-5 col-sm-left-padding">
              <div class='input-group date datepicker'>
                <%= text_field_tag :available_before, params[:available_before],
                  placeholder: "by", class:"form-control" %>
                <label class="input-group-addon btn" for="date">
                  <span class="fa fa-calendar open-datepicker"></span>
                </label>
              </div>
            </div>
          </div>

          <div class="row vertical-padding">
            <div class="col-xs-6">
              <div class="checkbox checkbox-warning inline">
                <%= check_box_tag :roomsharing_filter, "".freeze, params[:roomsharing_filter] == "true".freeze ? true : false,
                    class: 'styled' %>
                <label for="roomsharing_filter">
                  Roomshares
                </label>
              </div>
            </div>
            <% if current_user.is_management? %>
              <div class="col-xs-6">
                <div class="checkbox checkbox-warning inline">
                  <%= check_box_tag :unassigned_filter, "".freeze, params[:unassigned_filter] == "true".freeze   ? true : false,
                      class: 'styled' %>
                  <label for="unassigned_filter">
                    Unassigned
                  </label>
                </div>
              </div>
            <% end %>
          </div>

          <div class="row vertical-padding">
            <div class="col-xs-6">
              <div class="checkbox checkbox-warning inline">
                <%= check_box_tag :tenant_occupied_filter, "".freeze, params[:tenant_occupied_filter] == "true".freeze ? true : false,
                    class: 'styled' %>
                <label for="tenant_occupied_filter">
                  Tenant Occupied
                </label>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="checkbox checkbox-warning inline">
                <%= check_box_tag :has_stock_photos_filter, "".freeze, params[:has_stock_photos_filter] == "true".freeze ? true : false,
                    class: 'styled' %>
                <label for="has_stock_photos_filter">
                  Stock Photos
                </label>
              </div>
            </div>
          </div>

          <div class="row vertical-padding">
            <div class="col-xs-6">
              <div class="checkbox checkbox-warning inline">
                <%= check_box_tag :no_description, "".freeze, params[:no_description] == "true".freeze ? true : false,
                    class: 'styled' %>
                <label for="no_description">
                  No Description
                </label>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="checkbox checkbox-warning inline">
                <%= check_box_tag :no_images, "".freeze, params[:no_images] == "true".freeze ? true : false,
                    class: 'styled' %>
                <label for="no_images">
                  No Images
                </label>
              </div>
            </div>
          </div>

          <div class="row vertical-padding">
            <div class="col-xs-11 selectize-wrapper">
              <select id="neighborhood-select-multiple" placeholder="Neighborhoods...">
                <% @neighborhoods.each do |borough, list| %>
                  <optgroup label="<%= borough %>">
                    <% list.each do |neighborhood| %>
                      <option value="<%= neighborhood.id %>"><%= neighborhood.name %></option>
                    <% end %>
                  </optgroup>
                <% end %>
              </select>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-11 selectize-wrapper">
              <select id="unit-amenities-select-multiple" placeholder="Unit features...">
                <% @unit_amenities.each do |amenity| %>
                  <option value="<%= amenity.id %>"><%= amenity.name.titleize %></option>
                <% end %>
              </select>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-11 selectize-wrapper">
              <select id="building-amenities-select-multiple" placeholder="Building features...">
                <optgroup label="Building">
                  <% @building_amenities.each do |amenity| %>
                    <option value="<%= amenity.id %>"><%= amenity.name.titleize %></option>
                  <% end %>
                </optgroup>
              </select>
            </div>
          </div>

          <div class="row vertical-padding">
            <div class="col-xs-11 col-sm-left-padding">
              <button id='res-search-trigger', class="search-trigger btn btn-warning btn-sm form-control">
                Search
              </button>
            </div>
          </div>

        <% end %>
      </div>
    </div>

    <div class="col-md-9 hidden-xs hidden-sm">
      <div id="r-big-map" data-map-points="<%= @map_infos %>"></div>
    </div>
  </div>

  <div class="hidden-xs hidden-sm">
    <hr class="map-hr">
  </div>

  <%= form_tag print_list_residential_listings_path do %>
  <div class="row">
    <div class="col-md-6 vertical-margin-lg">
      <!-- will be a dropdown of either print pdf or email -->
      <div class="dropdown selected-listings">
        <button class="btn btn-warning btn-sm dropdown-toggle disabled" id="selected-listings-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="menu">
          0 Selected Listings
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu selected-listings-menu" aria-labelledby="selected-listings-dropdown">
          <% if current_user.is_management? %>
            <li role="presentation"><a class="list-item-sm-padding" id="assignListings" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#unitAssignModal">
            <i class="fa fa-fw fa-child"></i> Assign Agent</a></li>

            <li role="presentation"><a class="list-item-sm-padding" id="unassignListings" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#unitUnassignModal">
            <i class="fa fa-fw fa-child"></i> Unassign Agent</a></li>
          <% end %>

          <li role="presentation"><a class="list-item-sm-padding" id="emailListings" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#emailModal">
            <i class="fa fa-fw fa-envelope"></i> Email</a></li>

          <!--li role="presentation"><a class="list-item-sm-padding" data-action="listingsSheet" role="menuitem" tabindex="-1">
            <i class="fa fa-fw fa-file-text"></i> Show Sheet</a></li-->

          <li role="presentation"><a class="list-item-sm-padding" data-action="internalListingsSheet" role="menuitem" tabindex="-1">
            <i class="fa fa-fw fa-list"></i> Internal Listings Sheet</a></li>
        </ul>
      </div>

      <span class="totals">
        &nbsp;&nbsp;<%= @residential_units.total_count %> Units found
      </span>
    </div>
  </div>

  <span id="infinite-table-container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover table-condensed infinite-table-res">
        <thead>
          <tr>
            <th style="min-width: 45px;">
              <!-- checkboxes -->
              <i data-action="selectAllUnits" class="select-all-listings fa fa-square-o fa-lg"></i>
            </th>
            <th class="img-col"><!-- first image --></th>
            <th data-sort="formatted_street_address" class="th-sortable">Address</th>
            <th data-sort="building_unit" class="th-sortable">Unit</th>
            <th data-sort="bed_and_baths_sorter" class="th-sortable">Beds/Baths</th>
            <th data-sort="rent" class="th-sortable">Price</th>
            <th data-sort="available_by" class="th-sortable">Available</th>
            <th style="min-width: 20%;">Access</th>
            <th data-sort="code" class="th-sortable">Landlord</th>
            <th data-sort="name" class="th-sortable">Primary Agent</th>
            <th data-sort="residential_listings.updated_at" class="th-sortable">Updated</th>
            <th data-sort="units.status" class="th-sortable">Status</th>
            <% if current_user.is_management? || current_user.is_listings_manager? %>
              <th colspan="1" class="hidden-print"></th>
            <% end %>
          </tr>
        </thead>

        <tbody class="residential_units_table_body">
          <%= render partial: 'residential_listings/residential_listing',
            collection: @residential_units, locals: {
              res_images: @res_images, bldg_images: @bldg_images
            } %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 pagination-wrapper">
      <%= render partial: 'shared/pagination', locals: {models: @residential_units} %>
    </div>
  </div>

  </span>

  <% end %><!-- form -->

  <%# Template Dependency: residential_listings/modals %>
  <%= render 'modals' %>

  </div>
</div>
<script type="text/javascript">
  window.addEventListener('popstate', function(event) {
      // The popstate event is fired each time when the current history entry changes.
      location.reload();
  }, false);

  (function()
  {
    if( window.localStorage )
    {
      if( !localStorage.getItem('firstLoad') )
      {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }  
      else
        localStorage.removeItem('firstLoad');
    }
  })();
</script>