<% provide(:title, 'Residential Listings') %>
<div id="residential-mobile" class="no-margin-padding">
  <div id="section-name" class="mobile-container" data-name="residential_listings">

    <div class="card main card-visible hidden-md hidden-lg">
      <div class="card-contents">
        <div id="r-big-map-mobile" data-map-points="<%= @map_infos %>"></div>
        <%= render 'residential_listings/footer_index_mobile' %>
      </div>
    </div>

    <div class="card check-in">
      <div class="card-contents">
        <div class="card-nav">
          <div class="card-nav-inner">
            <div class="middle">
              <h4>Check In</h4>
            </div>
          </div>
        </div>

        <div class="card-middle">
          <div class="row checkIn-description">
            <div class="col-xs-10 col-xs-offset-1">
              <h3 class="text-center">
                Which listing you are visiting?
              </h3>
              <p class="text-center checkIn-disclaimer">
                Turn on wifi and gps for the best location accuracy.
              </p>
            </div>
          </div>
          <i class="fa fa-spinner fa-pulse fa-5x checkIn-spinner"></i>
          <div class="checkIn-form hidden"></div>
          <div class="row checkIn-row checkIn-confirmationMsg hidden">
            <div class="col-xs-10 col-xs-offset-1">
              <h3 class="text-center text-success">Thank you for checking in!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card announcements">
      <div class="card-contents">
        <div class="card-nav">
          <div class="card-nav-inner">
            <div class="middle">
              <h4>Announcements</h4>
            </div>
          </div>
        </div>

        <div class="card-middle">
        </div>

        <%= render 'residential_listings/footer_index_mobile' %>
      </div>
    </div>

    <div class="card list-view">
      <div class="card-contents">
        <div class="card-middle">
          <% if @favorite_units.length > 0 %>
            <div class="card-nav">
              <div class="card-nav-inner">
                <div class="middle">
                  <h4>Rental Listings</h4>
                </div>
              </div>
            </div>
            <!--h4 class="minor-header minor-spacing">Favorite Listings</h4-->
            <div class="favorites-table">
              <%= render partial: 'residential_listings/mobile_favorites_view',
                  collection: @favorite_units, as: :residential_listing,
                  locals: {res_images: @res_images, bldg_images: @bldg_images} %>
            </div>
          <% end %>
          <div class="card-nav">
            <div class="card-nav-inner">
              <div class="middle">
                <h4>Rental Listings</h4>
              </div>
            </div>
          </div>
          <!--h4 class="minor-header">RENTAL LISTINGS</h4-->
          <div class="infinite-table">
            <%= render partial: 'residential_listings/mobile_list_view',
                collection: @residential_units, as: :residential_listing,
                locals: {res_images: @res_images, bldg_images: @bldg_images} %>
          </div>
          <div class="row">
            <div class="col-xs-12 pagination-wrapper">
              <%#= render partial: 'shared/pagination', locals: {models: @residential_units} %>
            </div>
          </div>
        </div>
        <%= render 'residential_listings/footer_index_mobile' %>
      </div>
    </div>

    <div class="card mobile-filters">
      <div class="card-contents">
        <div class="card-nav">
          <div class="card-nav-inner">
            <div class="left js-run-search">
              <a class="link-run-search">Search</a>
            </div>
            <div class="middle">
              <h4>Mobile Filters</h4>
            </div>
            <div class="right js-cancel-search">
              <a class='link-cancel-search'>Cancel</a>
            </div>
          </div>
        </div>

        <div class="card-middle">
          <div class="row vertical-padding">
            <div class="col-xs-12">
              <%= label_tag(:address, "Address", class: 'field-label-sm') %>
            </div>
          </div>
          <div class="mobileFilters-address-row row no-vertical-padding">
            <div class="col-xs-12">
            <%= autocomplete_field_tag :address, params[:address],
                autocomplete_building_formatted_street_address_residential_listings_path,
                update_elements: {},
                placeholder: "123 Main St",
                class:'form-control' %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-3">
              <%= label_tag(:unit, "Rent", class: "field-label-sm") %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= number_field_tag :rent_min, params[:rent_min], placeholder: "$ min",
                min: 0, max: 1000000, class:"form-control" %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= number_field_tag :rent_max, params[:rent_max], placeholder: "$ max",
                min: 0, max: 1000000, class:"form-control" %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-3">
              <%= label_tag(:unit, "Beds", class: "field-label-sm") %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= select_tag(:bed_min,
                options_for_select(%w(Any Studio/Loft 1 2 3 4 5 6 7 8 9 10),
                params[:bed_min]), class: 'form-control') %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= select_tag(:bed_max,
                options_for_select(%w(Any Studio/Loft 1 2 3 4 5 6 7 8 9 10),
                params[:bed_max]), class: 'form-control') %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-3">
              <%= label_tag(:unit, "Baths", class: "field-label-sm") %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= select_tag(:bath_min,
                options_for_select(%w(Any 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10),
                params[:bath_min]), class: 'form-control') %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= select_tag(:bath_max,
                options_for_select(%w(Any 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10),
                params[:bath_max]), class: 'form-control') %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag(:landlord, "Landlord ", class: "field-label-sm") %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= autocomplete_field_tag :landlord, params[:landlord],
                autocomplete_landlord_code_residential_listings_path,
                update_elements: {},
                placeholder: "code",
                size: 30, class:'form-control' %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-3">
              <%= label_tag :ll_importance, "LL Class", class: "field-label-sm" %>
            </div>
            <div class="col-xs-4 col-sm-left-padding">
              <%= select_tag(:ll_importance,
                  options_for_select(['Any', ['Gold', 'gold'], ['Silver', 'silver'], ['Bronze', 'bronze']],
                  params[:ll_importance] ? params[:ll_importance] : "Any"), class: 'form-control') %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-3">
              <%= label_tag :status, "Status", class: "field-label-sm" %>
            </div>
            <div class="col-xs-8 col-sm-left-padding">
              <%= select_tag(:status,
                  options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off'],
                  params[:status] ? params[:status].titleize : "Active"),
                  class: 'form-control') %>
              <%# if current_user.is_management? || current_user.is_listings_manager? %>
                <%#= select_tag(:status,
                  options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off'],
                  params[:status] ? params[:status].titleize : "Active"),
                  class: 'form-control') %>
              <%# else %>
                <%#= select_tag(:status,
                  options_for_select(['Any', 'Active/Pending', 'Active', 'Pending'],
                  params[:status] ? params[:status].titleize : "Active"),
                  class: 'form-control') %>
              <%# end %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :point_of_contact, "Point of Contact", class: "field-label-sm" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= select_tag(:point_of_contact,
                options_for_select(current_user.company.users.unarchived.collect {|u| [u.name, u.id]},
                    [params[:point_of_contact] ? params[:point_of_contact].titleize : "Any"]),
                  {prompt: "Choose one...",
                  class: 'form-control'}) %>
            </div>
          </div>
          <!-- <div class="row vertical-padding">
          <div class="col-xs-3">
            <%#= label_tag :listing_id, "Listing ID", class: "field-label-sm" %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
            <%#= text_field_tag :listing_id, params[:listing_id], class:"form-control" %>
          </div>
        </div> -->
        <% if current_user.is_company_admin? || current_user.is_super_admin? || current_user.is_listings_manager? %>
            <div class="row vertical-padding">
              <div class="col-xs-5">
                <%= label_tag :tenant_occupied, "Tenant Occupieds or Not", class: "field-label-sm"  %>
              </div>
              <div class="col-xs-6 col-sm-left-padding">
                <%= select_tag(:tenant_occupied, options_for_select([['Any','Any'],['Tenant Occupied', 0], ['Not Tenant Occupied', 1]], params[:tenant_occupied] ? params[:tenant_occupied].titleize : "Any"), class: 'form-control') %>
              </div>
            </div>
          <% end %>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :youtube_video_url, "Video Present Or Not", class: "field-label-sm" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= select_tag(:youtube_video_url, options_for_select([['Any','Any'],['Video Present', 0], ['Not Video Present', 1]], params[:youtube_video_url] ? params[:youtube_video_url].titleize : "Any"), class: 'form-control') %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-12 field-label-sm">
              <strong>Available</strong>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-6 col-sm-left-padding">
              <div class='input-group date datepicker'>
                <%= text_field_tag :available_starting, params[:available_starting],
                  placeholder: "start", class:"form-control", size:30 %>
                <label class="input-group-addon btn" for="date">
                  <span class="fa fa-calendar open-datepicker"></span>
                </label>
              </div>
            </div>
            <div class="col-xs-5 col-sm-left-padding">
              <div class='input-group date datepicker'>
                <%= text_field_tag :available_before, params[:available_before],
                  placeholder: "by", class:"form-control" %>
                <label class="input-group-addon btn" for="date">
                  <span class="fa fa-calendar open-datepicker"></span>
                </label>
              </div>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-3">
              <%= label_tag :pet_policy_shorthand_mobile, "Pets", class: 'field-label-sm' %>
            </div>
            <div class="col-xs-8 col-sm-left-padding">
              <%= select_tag(:pet_policy_shorthand_mobile,
                options_for_select(["Any", "Cats Only", "Dogs Only", "No Pets", "CASE BY CASE", "CATS/SMALL DOGS", "MONTHLY PET FEE", "PET DEPOSIT REQUIRED", "PETS ALLOWED", "PETS OK", "PETS UPON APPROVAL", "SMALL PETS OK (<30 LBS)"],
                [params[:pet_policy_shorthand_mobile] ? params[:pet_policy_shorthand_mobile].titleize : "Any"]),
                class: 'form-control') %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-12">
              <%= label_tag :neighborhood_ids, "Neighborhoods", class: "field-label-sm" %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-11 selectize-wrapper">
              <select id="neighborhood-select-multiple">
                <% @neighborhoods.each do |borough, list| %>
                  <optgroup label="<%= borough %>">
                    <% list.each do |neighborhood| %>
                      <option value="<%= neighborhood.id %>"><%= neighborhood.name %></option>
                    <% end %>
                  </optgroup>
                <% end %>
              </select>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-12">
              <%= label_tag :unit_features, "Unit Features", class: "field-label-sm" %>
            </div>
          </div>
          <div class="row vertical-padding">
            <div class="col-xs-11 selectize-wrapper">
              <select id="unit-amenities-select-multiple">
                <% @unit_amenities.each do |amenity| %>
                  <option value="<%= amenity.id %>"><%= amenity.name.titleize %></option>
                <% end %>
              </select>
            </div>
          </div>

          <div class="row vertical-padding">
            <div class="col-xs-12">
              <%= label_tag :building_features, "Building Features", class: "field-label-sm" %>
            </div>
          </div>

          <div class="row vertical-padding">
            <div class="col-xs-11 selectize-wrapper">
              <select id="building-amenities-select-multiple">
                <optgroup label="Building">
                  <% @building_amenities.each do |amenity| %>
                    <option value="<%= amenity.id %>"><%= amenity.name.titleize %></option>
                  <% end %>
                </optgroup>
              </select>
            </div>
          </div>

          <div class="row vertical-padding">
            <div class="col-xs-12">
              <div class="js-reset-filters resetButton">
                <a class='field-label-sm link-reset-filters btn btn-warning btn-block'>
                  Reset Filters
                </a>
              </div>
            </div>
          </div>
          <div class="row vertical-padding end-of-page-padding"></div>
        </div><!-- here -->
      </div>

  </div>
</div>
<script type="text/javascript">
  window.addEventListener('popstate', function(event) {
      // The popstate event is fired each time when the current history entry changes.
      location.reload();
  }, false);

  (function()
  {
    if( window.localStorage )
    {
      if( !localStorage.getItem('firstLoad') )
      {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }  
      else
        localStorage.removeItem('firstLoad');
    }
  })();
</script>