<% provide(:title, 'Residential Listings') %>
<div id="residential-desktop" class="">
  <div id="section-name" data-name="residential_listings">
</div>
<div class="row">
  <div class="col-sm-6">
    <h1>Media Dashboard</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <!-- <i class="fa fa-spinner fa-pulse fa-5x res-spinner-desktop listings-spinner-desktop"></i> -->
    <div class="res-desktop-search-filters hidden-print" id="res-search-filters" data-search-path="<%= filter_residential_listings_path %>">
      <%= form_tag media_index_path, method: 'get' do %>
        <div class="row vertical-margin-lg">
          <div class="col-xs-3">
            <%= label_tag(:address, "Address") %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
          <%= autocomplete_field_tag :address, params[:address],
              autocomplete_building_formatted_street_address_residential_listings_path,
              update_elements: {},
              placeholder: "123 Main St",
              class:'form-control' %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag(:unit, "Unit") %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
            <%= text_field_tag :unit, params[:unit], class:"form-control" %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag(:landlord, "Landlord ") %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= autocomplete_field_tag :landlord, params[:landlord],
              autocomplete_landlord_code_residential_listings_path,
              update_elements: {},
              placeholder: "code",
              size: 30, class:'form-control' %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag :status, "Status" %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= select_tag(:status,
                options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off', 'Rsonly', 'Rsonly/Active'],
                params[:status] ? params[:status].titleize : "Rsonly/Active"), class: 'form-control') %>
            <%# if current_user.is_management? ||
                  current_user.is_listings_manager? ||
                  current_user.is_photo_manager? %>
              <%#= select_tag(:status,
                options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off'],
                params[:status] ? params[:status].titleize : "Active"), class: 'form-control') %>
            <%# else %>
              <%#= select_tag(:status,
                options_for_select(['Any', 'Active/Pending', 'Active', 'Pending'],
                params[:status] ? params[:status].titleize : "Active"), class: 'form-control') %>
            <%# end %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag :point_of_contact, "Point of Contact", class: "field-label-sm" %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= select_tag(:point_of_contact,
              options_for_select(@user,
                  [params[:point_of_contact] ? params[:point_of_contact].titleize : "Any"]),
                {prompt: "Choose one...",
                class: 'form-control'}) %>
          </div>
        </div>
        <% if current_user.is_management? || current_user.is_streeteasy_agent? %>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :streeteasy_filter, "On Streeteasy" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= select_tag(:streeteasy_filter,
                  options_for_select(['Any', 'Yes', 'No'],
                  [params[:streeteasy_filter] ? params[:streeteasy_filter].titleize : 'Any']),
                  class: 'form-control') %>
            </div>
          </div>
        <% end %>
        <% if current_user.is_company_admin? || current_user.is_super_admin? || current_user.is_listings_manager? %>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :tenant_occupied, "Tenant Occupieds or Not" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= select_tag(:tenant_occupied, options_for_select([['Any','Any'],['Tenant Occupied', 0], ['Not Tenant Occupied', 1]], params[:tenant_occupied] ? params[:tenant_occupied].titleize : "Any"), class: 'form-control') %>
            </div>
          </div>
        <% end %>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag :youtube_video_url, "Video Present Or Not" %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= select_tag(:youtube_video_url, options_for_select([['Any','Any'],['Video Present', 0], ['Not Video Present', 1]], params[:youtube_video_url] ? params[:youtube_video_url].titleize : "Any"), class: 'form-control') %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag :private_youtube_video_url, "Private Video Present Or Not" %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= select_tag(:private_youtube_video_url, options_for_select([['Any','Any'],['Video Present', 0], ['Not Video Present', 1]], params[:private_youtube_video_url] ? params[:private_youtube_video_url].titleize : "Any"), class: 'form-control') %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag :tour_3d, "3D Tour Present Or Not" %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= select_tag(:tour_3d, options_for_select([['Any','Any'],['3D Tour Present', 0], ['Not 3D Tour Present', 1]], params[:tour_3d] ? params[:tour_3d].titleize : "Any"), class: 'form-control') %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :exclusive_filter, "".freeze, params[:exclusive_filter] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="roomsharing_filter">
                Exclusive Listing
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :has_stock_photos_filter, "".freeze, params[:has_stock_photos_filter] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="has_stock_photos_filter">
                Stock Photos
              </label>
            </div>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :no_description, "".freeze, params[:no_description] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="no_description">
                No Description
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :no_images, "".freeze, params[:no_images] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="no_images">
                No Images
              </label>
            </div>
          </div>
        </div>
        <% if !params[:parent_neighborhoods].nil? %>
            <%= hidden_field_tag :parent_neighborhoods, params[:parent_neighborhoods] %>
          <% else %>
            <%= hidden_field_tag :parent_neighborhoods %>
          <% end %>
          <a href="javascript:;" class="test_p" data-target="#demo_neghb">Neighborhoods</a>
          <div class="row vertical-padding test_c" id="demo_neghb" style="display: none;">
            <% @neighborhoods = Neighborhood.all %>
            <% @neighborhoods.where(parent_neighborhood_id: 0).each do |neighborhood| %>
              <div class="col-sm-6">
                    <input type="checkbox" name="neighborhood[]" value="<%= neighborhood.id %>" id="parent_<%= neighborhood.id %>" onClick = "parent_neighborhoods_check(<%= neighborhood.id %>)" ><b><%= neighborhood.name.titleize %></b>
                    <br>
                    <% @neighborhoods.where(parent_neighborhood_id: neighborhood.id).each do |child_neighborhood| %>
                      <% if params[:parent_neighborhoods] %>
                        <% if params[:parent_neighborhoods].split(",").include? "#{child_neighborhood.id}" %>
                          <span class="child-input"><input type="checkbox" name="neighborhood[]" value="<%= child_neighborhood.id %>" data-parent-id= "<%= child_neighborhood.parent_neighborhood_id %>" id="child_with_parent_neghb_<%= child_neighborhood.id %>" checked="true" onClick = "child_neighborhoods_uncheck(<%= child_neighborhood.id %>)"><%= child_neighborhood.name.titleize %></span>
                        <% else %>
                          <span class="child-input"><input type="checkbox" name="neighborhood[]" value="<%= child_neighborhood.id %>" data-parent-id= "<%= child_neighborhood.parent_neighborhood_id %>" id="child_with_parent_neghb_<%= child_neighborhood.id %>" onClick = "child_neighborhoods_uncheck(<%= child_neighborhood.id %>)"><%= child_neighborhood.name.titleize %></span>
                        <% end %>
                      <% else %>
                        <span class="child-input"><input type="checkbox" name="neighborhood[]" value="<%= child_neighborhood.id %>" data-parent-id= "<%= child_neighborhood.parent_neighborhood_id %>" id="child_with_parent_neghb_<%= child_neighborhood.id %>" onClick = "child_neighborhoods_uncheck(<%= child_neighborhood.id %>)"><%= child_neighborhood.name.titleize %></span>
                      <% end %>
                    <% end %>
              </div>
            <% end %>
          </div>
        <div class="row vertical-padding">
          <div class="col-xs-11 col-sm-left-padding">
            <button id='res-search-trigger', class="search-trigger btn btn-warning btn-sm form-control">
              Search
            </button>
          </div>
        </div>

      <% end %>
    </div>
  </div>
  <div style="clear: both;"></div>
  <%#= form_tag print_list_residential_listings_path do %>
  <ul class="nav nav-tabs" style="margin-top: 20px;">
    <li class="active"><a data-toggle="tab" href="#gold"><span class="glyphicon glyphicon-certificate gold" style="float: left;"></span> <span class="gld" style="margin: 7px;display: inline-block;"> GOLD Units </span></a></li>
    <li><a data-toggle="tab" href="#silver"><span class="glyphicon glyphicon-certificate silver" style="float: left;"></span> <span class="slv" style="margin: 7px;display: inline-block;"> SILVER Units </span></a></li>
    <li><a data-toggle="tab" href="#bronze"><span class="glyphicon glyphicon-certificate bronze" style="float: left;"></span> <span class="bro" style="margin: 7px;display: inline-block;"> BRONZE Units </span></a></li>
    <li><a data-toggle="tab" href="#other"><span class="oth" style="margin: 7px;display: inline-block;"> Other Units</span></a></li>
  </ul>
  <br><br>
  <div class="tab-content">
    <div id="gold" class="tab-pane fade in active">
    <span id="infinite-table-container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover table-condensed infinite-table-res">
          <thead>
            <tr>
              <!-- <th style="min-width: 35px;"> -->
                <!-- checkboxes -->
                <!-- <i data-action="selectAllUnits" class="select-all-listings fa fa-square-o fa-lg"></i> -->
              <!-- </th> -->
              <th class="img-col"><!-- first image --></th>
              <th data-sort="formatted_street_address" class="th-sortable">Address</th>
              <!-- <th data-sort="building_unit" class="th-sortable">Unit</th> -->
              <th style="min-width: 20%;">Details</th>
              <th data-sort="bed_and_baths_sorter" class="th-sortable">Occupied?</th>
              <th data-sort="rent" class="th-sortable" style="min-width: 125px;">Using Stok Photos</th>
              <!-- <th data-sort="available_by" class="th-sortable">Available</th> -->
              <!-- <th data-sort="code" class="th-sortable">Landlord</th> -->
              <!-- <th data-sort="name" class="th-sortable">Primary Agent</th>
              <th data-sort="name" class="th-sortable">StreetEasy Primary Agent</th> -->
              <!-- <th data-sort="name" class="th-sortable">Point Of Contact</th> -->
              <th data-sort="residential_listings.updated_at" class="th-sortable">#of Photos</th>
              <!-- <th data-sort="residential_listings.updated_at" class="th-sortable">Price Change Date</th> -->
              <th data-sort="residential_listings.updated_at" class="th-sortable">Videos</th>
              <th data-sort="residential_listings.updated_at" class="th-sortable">Access</th>
              <!-- <th data-sort="units.status" class="th-sortable">Status</th>
              <th data-sort="featured" class="th-sortable">Featured</th> -->
              <% if current_user.is_management? || current_user.is_listings_manager? %>
                <th colspan="1" class="hidden-print"></th>
              <% end %>
            </tr>
          </thead>

          <tbody class="residential_units_table_body">
            <%= render partial: 'residential_listings/residential_listing',
              collection: @residential_units.where("landlords.ll_importance =?", "gold"), locals: {
                res_images: @res_images, bldg_images: @bldg_images, sep_id: "gold", more_sep_id: "gold-active"
              } %>
          </tbody>
        </table>
      </div>
    </div>
    <% if !current_user.is_third_tier_agent? %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 pagination-wrapper">
          <%= render partial: 'shared/pagination', locals: {models: @residential_units.where("landlords.ll_importance =?", "gold")} %>
        </div>
      </div>
    <% end %>

    </span>
  </div>

    <div id="silver" class="tab-pane fade">
    <span id="infinite-table-container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover table-condensed infinite-table-res">
          <thead>
            <tr>
              <!-- <th style="min-width: 35px;"> -->
                <!-- checkboxes -->
                <!-- <i data-action="selectAllUnits" class="select-all-listings fa fa-square-o fa-lg"></i> -->
              <!-- </th> -->
              <th class="img-col"><!-- first image --></th>
              <th data-sort="formatted_street_address" class="th-sortable">Address</th>
              <!-- <th data-sort="building_unit" class="th-sortable">Unit</th> -->
              <th style="min-width: 20%;">Details</th>
              <th data-sort="bed_and_baths_sorter" class="th-sortable">Occupied?</th>
              <th data-sort="rent" class="th-sortable" style="min-width: 125px;">Using Stok Photos</th>
              <!-- <th data-sort="available_by" class="th-sortable">Available</th> -->
              <!-- <th data-sort="code" class="th-sortable">Landlord</th> -->
              <!-- <th data-sort="name" class="th-sortable">Primary Agent</th>
              <th data-sort="name" class="th-sortable">StreetEasy Primary Agent</th> -->
              <!-- <th data-sort="name" class="th-sortable">Point Of Contact</th> -->
              <th data-sort="residential_listings.updated_at" class="th-sortable">#of Photos</th>
              <!-- <th data-sort="residential_listings.updated_at" class="th-sortable">Price Change Date</th> -->
              <th data-sort="residential_listings.updated_at" class="th-sortable">Videos</th>
              <th data-sort="residential_listings.updated_at" class="th-sortable">Access</th>
              <!-- <th data-sort="units.status" class="th-sortable">Status</th>
              <th data-sort="featured" class="th-sortable">Featured</th> -->
              <% if current_user.is_management? || current_user.is_listings_manager? %>
                <th colspan="1" class="hidden-print"></th>
              <% end %>
            </tr>
          </thead>

          <tbody class="residential_units_table_body">
            <%= render partial: 'residential_listings/residential_listing',
              collection: @residential_units.where("landlords.ll_importance =?", "silver"), locals: {
                res_images: @res_images, bldg_images: @bldg_images, sep_id: "silver", more_sep_id: "silver-active"
              } %>
          </tbody>
        </table>
      </div>
    </div>
    <% if !current_user.is_third_tier_agent? %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 pagination-wrapper">
          <%= render partial: 'shared/pagination', locals: {models: @residential_units.where("landlords.ll_importance =?", "silver")} %>
        </div>
      </div>
    <% end %>

    </span>
  </div>

    <div id="bronze" class="tab-pane fade">
    <span id="infinite-table-container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover table-condensed infinite-table-res">
          <thead>
            <tr>
              <!-- <th style="min-width: 35px;"> -->
                <!-- checkboxes -->
                <!-- <i data-action="selectAllUnits" class="select-all-listings fa fa-square-o fa-lg"></i> -->
              <!-- </th> -->
              <th class="img-col"><!-- first image --></th>
              <th data-sort="formatted_street_address" class="th-sortable">Address</th>
              <!-- <th data-sort="building_unit" class="th-sortable">Unit</th> -->
              <th style="min-width: 20%;">Details</th>
              <th data-sort="bed_and_baths_sorter" class="th-sortable">Occupied?</th>
              <th data-sort="rent" class="th-sortable" style="min-width: 125px;">Using Stok Photos</th>
              <!-- <th data-sort="available_by" class="th-sortable">Available</th> -->
              <!-- <th data-sort="code" class="th-sortable">Landlord</th> -->
              <!-- <th data-sort="name" class="th-sortable">Primary Agent</th>
              <th data-sort="name" class="th-sortable">StreetEasy Primary Agent</th> -->
              <!-- <th data-sort="name" class="th-sortable">Point Of Contact</th> -->
              <th data-sort="residential_listings.updated_at" class="th-sortable">#of Photos</th>
              <!-- <th data-sort="residential_listings.updated_at" class="th-sortable">Price Change Date</th> -->
              <th data-sort="residential_listings.updated_at" class="th-sortable">Videos</th>
              <th data-sort="residential_listings.updated_at" class="th-sortable">Access</th>
              <!-- <th data-sort="units.status" class="th-sortable">Status</th>
              <th data-sort="featured" class="th-sortable">Featured</th> -->
              <% if current_user.is_management? || current_user.is_listings_manager? %>
                <th colspan="1" class="hidden-print"></th>
              <% end %>
            </tr>
          </thead>

          <tbody class="residential_units_table_body">
            <%= render partial: 'residential_listings/residential_listing',
              collection: @residential_units.where("landlords.ll_importance =?", "bronze"), locals: {
                res_images: @res_images, bldg_images: @bldg_images, sep_id: "bronze", more_sep_id: "bronze-active"
              } %>
          </tbody>
        </table>
      </div>
    </div>
    <% if !current_user.is_third_tier_agent? %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 pagination-wrapper">
          <%= render partial: 'shared/pagination', locals: {models: @residential_units.where("landlords.ll_importance =?", "bronze")} %>
        </div>
      </div>
    <% end %>

    </span>
  </div>

    <div id="other" class="tab-pane fade">
    <span id="infinite-table-container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover table-condensed infinite-table-res">
          <thead>
            <tr>
              <!-- <th style="min-width: 35px;"> -->
                <!-- checkboxes -->
                <!-- <i data-action="selectAllUnits" class="select-all-listings fa fa-square-o fa-lg"></i> -->
              <!-- </th> -->
              <th class="img-col"><!-- first image --></th>
              <th data-sort="formatted_street_address" class="th-sortable">Address</th>
              <!-- <th data-sort="building_unit" class="th-sortable">Unit</th> -->
              <th style="min-width: 20%;">Details</th>
              <th data-sort="bed_and_baths_sorter" class="th-sortable">Occupied?</th>
              <th data-sort="rent" class="th-sortable" style="min-width: 125px;">Using Stok Photos</th>
              <!-- <th data-sort="available_by" class="th-sortable">Available</th> -->
              <!-- <th data-sort="code" class="th-sortable">Landlord</th> -->
              <!-- <th data-sort="name" class="th-sortable">Primary Agent</th>
              <th data-sort="name" class="th-sortable">StreetEasy Primary Agent</th> -->
              <!-- <th data-sort="name" class="th-sortable">Point Of Contact</th> -->
              <th data-sort="residential_listings.updated_at" class="th-sortable">#of Photos</th>
              <!-- <th data-sort="residential_listings.updated_at" class="th-sortable">Price Change Date</th> -->
              <th data-sort="residential_listings.updated_at" class="th-sortable">Videos</th>
              <th data-sort="residential_listings.updated_at" class="th-sortable">Access</th>
              <!-- <th data-sort="units.status" class="th-sortable">Status</th>
              <th data-sort="featured" class="th-sortable">Featured</th> -->
              <% if current_user.is_management? || current_user.is_listings_manager? %>
                <th colspan="1" class="hidden-print"></th>
              <% end %>
            </tr>
          </thead>

          <tbody class="residential_units_table_body">
            <%= render partial: 'residential_listings/residential_listing',
              collection: @residential_units.where("landlords.ll_importance IS ?", nil), locals: {
                res_images: @res_images, bldg_images: @bldg_images, sep_id: "other", more_sep_id: "other-active"
              } %>
          </tbody>
        </table>
      </div>
    </div>
    <% if !current_user.is_third_tier_agent? %>
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4 pagination-wrapper">
          <%= render partial: 'shared/pagination', locals: {models: @residential_units.where("landlords.ll_importance IS ?", nil)} %>
        </div>
      </div>
    <% end %>

    </span>
  </div>
  </div>
  <%# end %><!-- form -->

  <%# Template Dependency: residential_listings/modals %>
  <%= render 'modals' %>

  </div>
</div>
<!-- <script type="text/javascript">
  window.addEventListener('popstate', function(event) {
      // The popstate event is fired each time when the current history entry changes.
      location.reload();
  }, false);

  (function()
  {
    if( window.localStorage )
    {
      if( !localStorage.getItem('firstLoad') )
      {
        localStorage['firstLoad'] = true;
        window.location.reload();
      }  
      else
        localStorage.removeItem('firstLoad');
    }
  })();
</script> -->