<!-- display company info -->
<div class="row">
  <div class="col-xs-9">
    <%= image_tag current_user.company.image.file.url(:thumb), :class => 'photo-inline pdf-company-logo', 
      alt: current_user.company.image.file.url(:thumb), align:"left" %>    
    <h3>
      <%= current_user.company.name %> Listings<br />
      <small><%= Time.now.strftime("%B %d, %Y") %></small><br />
    </h3>
  </div>
  <div class="col-xs-3 pull-right text-right">
    <br />
    <%= current_user.name %>
    <% if !current_user.email.blank? %>
      <br /><%= mail_to current_user.email, current_user.email, subject: current_user.company.name + " Listings Inquiry" %>
    <% end %>
    <% if !current_user.mobile_phone_number.blank? %>
      <br /><%= link_to "tel:" + current_user.mobile_phone_number, current_user.mobile_phone_number %>
    <% end %>
    
  </div>
</div>

<% @neighborhood_group.each do |neighborhood_name, listings| %>
  <% reset_cycle() %>
  <div class="row">
    <div class="col-xs-12">
      <table class="table pdf-table splitForPrint new_section">
        <tr class="neighborhood-row">
          <th colspan="9"><%= neighborhood_name %></th>
        </tr>
        <tr class="heading-row">
          <th>Address</th>
          <th>Unit</th>
          <th>Beds / Baths</th>
          <th>Price</th>
          <th>Available</th>
          <th style="width: 20%;">Access</th>
          <th style="width: 20%;">Features</th>
          <th>Pet Policy</th>
        </tr>
        <% listings.each do |listing| %>
          <tr class="<%= cycle('even', 'odd') -%>">
            <td><%= listing.unit.building.route %></td>
            <td><%= listing.unit.building_unit %></td>
            <td><%= listing.beds %> / <%= trim_zeros(listing.baths) %></td>
            <td><%= rent_formatted(listing.unit.rent) %></td>
            <td>
              <% if listing.unit.available_by <= Date.today %>
                Now
              <% else %>
                <%= listing.unit.available_by %>
              <% end %>
            </td>
            <td><%= listing.unit.access_info %></td>
            <td>
              <% if !listing.all_amenities_to_s.blank? %>
                <%= listing.all_amenities_to_s %>
              <% end %>
              <% if !listing.all_amenities_to_s.blank? && !listing.unit.building.utilities_to_s.blank? %>
               ,
              <% end %>
              <% if !listing.unit.building.utilities_to_s.blank? %>
                <%= listing.unit.building.utilities_to_s %>
              <% end %>
            </td>
            <td>
              <% if listing.unit.building.pet_policy %>
                <%= pet_policy(listing) %>
              <% else %>
                None specified
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>  

    </div>
  </div>

<% end %>