<!-- <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script> -->

<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script> -->
<div class="row">
  <div class="col-sm-6">
    <h1>Roomshare Listings</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <!-- <i class="fa fa-spinner fa-pulse fa-5x res-spinner-desktop listings-spinner-desktop"></i> -->
    <div class="res-desktop-search-filters hidden-print" id="res-search-filters" data-search-path="<%= filter_residential_listings_path %>">
      <%= form_tag room_index_path, method: 'get' do %>
        <div class="row vertical-margin-lg">
          <div class="col-xs-3">
            <%= label_tag(:address, "Address") %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
          <%= autocomplete_field_tag :address, params[:address],
              autocomplete_building_formatted_street_address_residential_listings_path,
              update_elements: {},
              placeholder: "123 Main St",
              class:'form-control' %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag(:unit, "Unit") %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
            <%= text_field_tag :unit, params[:unit], class:"form-control" %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag(:unit, "Rent") %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= number_field_tag :rent_min, params[:rent_min], placeholder: "$ min",
              min: 0, max: 1000000, class:"form-control" %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= number_field_tag :rent_max, params[:rent_max], placeholder: "$ max",
              min: 0, max: 1000000, class:"form-control" %>
          </div>
        </div>
        <!-- <div class="row vertical-padding">
          <div class="col-xs-3">
            <%#= label_tag(:unit, "Beds") %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%#= select_tag(:bed_min,
              options_for_select(%w(Any Studio/Loft 1 2 3 4 5 6 7 8 9 10),
              params[:bed_min]), class: 'form-control') %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%#= select_tag(:bed_max,
              options_for_select(%w(Any Studio/Loft 1 2 3 4 5 6 7 8 9 10),
              params[:bed_max]), class: 'form-control') %>
          </div>
        </div> -->
        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag(:unit, "Baths") %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= select_tag(:bath_min,
              options_for_select(%w(Any 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10),
              params[:bath_min]), class: 'form-control') %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= select_tag(:bath_max,
              options_for_select(%w(Any 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10),
              params[:bath_max]), class: 'form-control') %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag(:listing_id, "Listing ID") %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= text_field_tag :listing_id, params[:listing_id], class:"form-control" %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag(:landlord, "Landlord ") %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= autocomplete_field_tag :landlord, params[:landlord],
              autocomplete_landlord_code_residential_listings_path,
              update_elements: {},
              placeholder: "code",
              size: 30, class:'form-control' %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag :status, "Status" %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= select_tag(:status,
                options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off', 'Rsonly', 'Rsonly/Active'],
                params[:status] ? params[:status].titleize : "Active"), class: 'form-control') %>
            <%# if current_user.is_management? ||
                  current_user.is_listings_manager? ||
                  current_user.is_photo_manager? %>
              <%#= select_tag(:status,
                options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off'],
                params[:status] ? params[:status].titleize : "Active"), class: 'form-control') %>
            <%# else %>
              <%#= select_tag(:status,
                options_for_select(['Any', 'Active/Pending', 'Active', 'Pending'],
                params[:status] ? params[:status].titleize : "Active"), class: 'form-control') %>
            <%# end %>
          </div>
        </div>
        <!-- <div class="row vertical-padding">
          <div class="col-xs-5">
            <%#= label_tag :has_fee, "Broker's Fee" %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%#= select_tag(:has_fee,
              options_for_select(%w(Any Yes No), params[:has_fee]), class: 'form-control') %>
          </div>
        </div> -->
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag :pet_policy_shorthand, "Pet policy" %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= select_tag(:pet_policy_shorthand,
              options_for_select(["Any", "Cats Only", "Dogs Only", "None"],
              [params[:pet_policy_shorthand] ? params[:pet_policy_shorthand].titleize : "Any"]),
              class: 'form-control') %>
          </div>
        </div>
        <% if current_user.is_company_admin? || current_user.is_super_admin? || current_user.is_listings_manager? %>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :building_rating, "Building Rating" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= select_tag(:building_rating, options_for_select([['Any','Any'],['NA', 0], ['Excellent', 1], ['Good', 2], ['Fair', 3]], params[:building_rating] ? params[:building_rating].titleize : "Any"), class: 'form-control') %>
            </div>
          </div>
        <% end %>
        <% if current_user.is_company_admin? || current_user.is_super_admin? || current_user.is_listings_manager? %>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :landlord_rating, "Landlord Rating" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= select_tag(:landlord_rating, options_for_select([['Any','Any'],['NA', 0], ['Excellent', 1], ['Good', 2], ['Fair', 3]], params[:landlord_rating] ? params[:landlord_rating].titleize : "Any"), class: 'form-control') %>
            </div>
          </div>
        <% end %>
        <div class="row vertical-padding">
          <div class="col-xs-12">
            <strong>Available</strong>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-6 col-sm-left-padding">
            <div class='input-group date datepicker'>
              <%= text_field_tag :available_starting, params[:available_starting],
                placeholder: "start", class:"form-control", size:30 %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
          <div class="col-xs-5 col-sm-left-padding">
            <div class='input-group date datepicker'>
              <%= text_field_tag :available_before, params[:available_before],
                placeholder: "by", class:"form-control" %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :tenant_occupied_filter, "".freeze, params[:tenant_occupied_filter] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="tenant_occupied_filter">
                Tenant Occupied
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :has_stock_photos_filter, "".freeze, params[:has_stock_photos_filter] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="has_stock_photos_filter">
                Stock Photos
              </label>
            </div>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :no_description, "".freeze, params[:no_description] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="no_description">
                No Description
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :no_images, "".freeze, params[:no_images] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="no_images">
                No Images
              </label>
            </div>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-11 selectize-wrapper">
            <select id="neighborhood-select-multiple" placeholder="Neighborhoods...">
              <% @neighborhoods.each do |borough, list| %>
                <optgroup label="<%= borough %>">
                  <% list.each do |neighborhood| %>
                    <option value="<%= neighborhood.id %>"><%= neighborhood.name %></option>
                  <% end %>
                </optgroup>
              <% end %>
            </select>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-11 selectize-wrapper">
            <select id="unit-amenities-select-multiple" placeholder="Unit features...">
              <% @unit_amenities.each do |amenity| %>
                <option value="<%= amenity.id %>"><%= amenity.name.titleize %></option>
              <% end %>
            </select>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-11 selectize-wrapper">
            <select id="building-amenities-select-multiple" placeholder="Building features...">
              <optgroup label="Building">
                <% @building_amenities.each do |amenity| %>
                  <option value="<%= amenity.id %>"><%= amenity.name.titleize %></option>
                <% end %>
              </optgroup>
            </select>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-11 col-sm-left-padding">
            <button id='res-search-trigger', class="search-trigger btn btn-warning btn-sm form-control">
              Search
            </button>
          </div>
        </div>

      <% end %>
    </div>
  </div>
  <div id="map_listing_for_claim" style="display: none;"><%= @map_list %></div>
  <div class="col-md-9 hidden-xs hidden-sm">
      <div id="r-big-map" data-map-points="<%= @map_infos %>"></div>
    </div>
  </div>

  <div class="hidden-xs hidden-sm">
    <hr class="map-hr">
  </div>
  <div class="col-md-6 vertical-margin-lg">
    <span class="totals">
      &nbsp;&nbsp;<%= @residential_listings.count %> Units found
    </span>
    <span class="totals">
      |&nbsp;&nbsp;<%= @room_active %> Active room found
    </span>
    <span class="totals">
      |&nbsp;&nbsp;<%= @room_pending %> Pending room found
    </span>
    <span class="totals">
      |&nbsp;&nbsp;<%= @room_off %> Off room found
    </span>
  </div>
<table class="sortable table table-striped table-hover table-condensed infinite-table-res">
    <thead>
      <tr>
        <th class="img-col"><!-- first image --></th>
        <th data-sort="formatted_street_address" class="th-sortable">Address</th>
        <th data-sort="building_unit" class="th-sortable">Unit</th>
        <th data-sort="bed_and_baths_sorter" class="th-sortable">Beds/Baths</th>
        <th data-sort="rent" class="th-sortable">Room Price</th>
        <th data-sort="available_by" class="th-sortable">Available</th>
        <th data-sort="code" class="th-sortable">Landlord</th>
        <!-- <th data-sort="name" class="th-sortable">Primary Agent</th> -->
        <!-- <th data-sort="name" class="th-sortable">StreetEasy Primary Agent</th>
        <th data-sort="name" class="th-sortable">Listing Agent</th>
        <th data-sort="number" class="th-sortable">Listing Agent Number</th> -->
        <th data-sort="residential_listings.updated_at" class="th-sortable">Updated</th>
        <th data-sort="units.status" class="th-sortable">Status</th>
        <% if current_user.is_management? || current_user.is_listings_manager? %>
          <th colspan="1" class="hidden-print"></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="residential_units_table_body">
      <% @residential_listings.each do |res_list| %>
        <%#= image_tag res_list.unit.images.first.file(:large) %>
        <tr class="<%= cycle('even', 'odd') -%>" data-id="<%= res_list.unit.listing_id %>" >
          <td class="img-col">  
            <% if !res_list.unit.images.first.nil? %>
              <%= link_to image_tag(res_list.unit.images.first.file(:thumb), :alt => "res_list.unit_id", :class => "css"), res_list %>
            <% else %>
              <%= link_to(image_tag("listing_soon_thumb.png".freeze, alt: "Image coming soon",
                  class: 'img-responsive',
                  size: "100x100"), res_list) %>
            <% end %>
          </td>
          <td><%#= res_list.street_address %>
            <%= link_to "#{res_list.street_address}".freeze, room_path(res_list.id) %><br />
              <% if res_list.unit.building.neighborhood %>
                 <small><%= res_list.unit.building.neighborhood.name %></small>
              <% end %>
            </td>
            <td>
              <% if res_list.unit.building_unit %>
                <%= res_list.unit.building_unit %>
              <% end %>
            </td>
            <td>
              <%= beds_as_str(res_list) %> / <%= baths_as_str(res_list) %>
            </td>
            <td>
              <% if res_list.unit.rent %>
                $<%= res_list.unit.rent %>
              <% end %>
              <% i = 1 %>
              <% res_list.rooms.each do |room| %>
                
                <p><%= "Room " + i.to_s(26).tr("123456789abcdefghijklmnopq", "ABCDEFGHIJKLMNOPQRSTUVWXYZ") %> :
                  <p>$<%= room.rent %>
                    <% if room.status == 0 %>
                      <span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span>
                    <% elsif room.status == 1 %>
                      <span class="glyphicon glyphicon-arrow-up dark-orange" aria-hidden="true"></span>
                    <% elsif room.status == 2 %>
                      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <% end %>
                  </p>
                </p>
                <% i = i + 1 %>
              <% end %>
            </td>
            <td>
              <% if res_list.unit.available_by %>
                <%= res_list.unit.available_by.strftime("%b %d") %>
              <% else %>
                -
              <% end %>
            </td>
            <td>
              <% if res_list.unit.building.landlord.code %>
                <%= res_list.unit.building.landlord.code %>
              <% end %>
            </td>
            <!-- <td>
              <%# if res_list.unit.streeteasy_primary_agent_id %>
                <%#= User.find(res_list.unit.streeteasy_primary_agent_id).name %>
              <%# else %>

              <%# end %>
            </td> -->
            <!-- <td>
              <%# if res_list.unit.building.landlord.listing_agent %>
                <%#= res_list.unit.building.landlord.listing_agent.name %>
              <%# else %>

              <%# end %>
            </td> -->
            <!-- <td>
              <%# if res_list.unit.building.landlord.listing_agent %>
                <%#= res_list.unit.building.landlord.listing_agent.mobile_phone_number %>
              <%# else %>

              <%# end %>
            </td> -->
            <td>
              <%= time_ago_in_words(res_list.updated_at) %>
            </td>
            <td>
              <% if res_list.unit.status == "active" %>
                <span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span>
              <% elsif res_list.unit.status == "pending" %>
                <span class="glyphicon glyphicon-arrow-up dark-orange" aria-hidden="true"></span>
              <% elsif res_list.unit.status == "off" %>
                <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
              <% elsif res_list.unit.status == "rsonly" %>
                <span class="glyphicon glyphicon-arrow-up blue" aria-hidden="true"></span>
              <% end %>
            </td>
            <td>
              <%= link_to "Edit", edit_room_path(res_list) %>
            </td>
          </tr>
      <% end %>
  </tbody>
</table>
<%#= javascript_tag "(#{@map_list.to_json.html_safe});" %>