<!-- <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script> -->

<!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&callback=initialize"></script> -->
<style type="text/css">
  .leaflet-popup-content{
    width: 310px !important;
  }
</style>
<div class="row">
  <div class="col-sm-6">
    <h1>Roomshare Listings</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <!-- <i class="fa fa-spinner fa-pulse fa-5x res-spinner-desktop listings-spinner-desktop"></i> -->
    <div class="res-desktop-search-filters hidden-print" id="res-search-filters" data-search-path="<%= filter_residential_listings_path %>">
      <%= form_tag room_index_path, method: 'get' do %>
        <div class="row vertical-margin-lg">
          <div class="col-xs-3">
            <%= label_tag(:address, "Address") %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
          <%= autocomplete_field_tag :address, params[:address],
              autocomplete_building_formatted_street_address_residential_listings_path,
              update_elements: {},
              placeholder: "123 Main St",
              class:'form-control' %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag(:unit, "Unit") %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
            <%= text_field_tag :unit, params[:unit], class:"form-control" %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag(:unit, "Rent") %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= number_field_tag :rent_min, params[:rent_min], placeholder: "$ min",
              min: 0, max: 1000000, class:"form-control" %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= number_field_tag :rent_max, params[:rent_max], placeholder: "$ max",
              min: 0, max: 1000000, class:"form-control" %>
          </div>
        </div>
        <!-- <div class="row vertical-padding">
          <div class="col-xs-3">
            <%#= label_tag(:unit, "Beds") %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%#= select_tag(:bed_min,
              options_for_select(%w(Any Studio/Loft 1 2 3 4 5 6 7 8 9 10),
              params[:bed_min]), class: 'form-control') %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%#= select_tag(:bed_max,
              options_for_select(%w(Any Studio/Loft 1 2 3 4 5 6 7 8 9 10),
              params[:bed_max]), class: 'form-control') %>
          </div>
        </div> -->
        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag(:unit, "Baths") %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= select_tag(:bath_min,
              options_for_select(%w(Any 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10),
              params[:bath_min]), class: 'form-control') %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= select_tag(:bath_max,
              options_for_select(%w(Any 0.5 1 1.5 2 2.5 3 3.5 4 4.5 5 5.5 6 6.5 7 7.5 8 8.5 9 9.5 10),
              params[:bath_max]), class: 'form-control') %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag(:listing_id, "Listing ID") %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= text_field_tag :listing_id, params[:listing_id], class:"form-control" %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag(:landlord, "Landlord ") %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= autocomplete_field_tag :landlord, params[:landlord],
              autocomplete_landlord_code_residential_listings_path,
              update_elements: {},
              placeholder: "code",
              size: 30, class:'form-control' %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-5">
            <%= label_tag :status, "Status" %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%= select_tag(:status,
                options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off', 'Rsonly', 'Rsonly/Active'],
                params[:status] ? params[:status].titleize : "Rsonly/Active"), class: 'form-control') %>
            <%# if current_user.is_management? ||
                  current_user.is_listings_manager? ||
                  current_user.is_photo_manager? %>
              <%#= select_tag(:status,
                options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off'],
                params[:status] ? params[:status].titleize : "Active"), class: 'form-control') %>
            <%# else %>
              <%#= select_tag(:status,
                options_for_select(['Any', 'Active/Pending', 'Active', 'Pending'],
                params[:status] ? params[:status].titleize : "Active"), class: 'form-control') %>
            <%# end %>
          </div>
        </div>
        <!-- <div class="row vertical-padding">
          <div class="col-xs-5">
            <%#= label_tag :has_fee, "Broker's Fee" %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%#= select_tag(:has_fee,
              options_for_select(%w(Any Yes No), params[:has_fee]), class: 'form-control') %>
          </div>
        </div> -->
        <!-- <div class="row vertical-padding">
          <div class="col-xs-5">
            <%#= label_tag :pet_policy_shorthand, "Pet policy" %>
          </div>
          <div class="col-xs-6 col-sm-left-padding">
            <%#= select_tag(:pet_policy_shorthand,
              options_for_select(["Any", "Cats Only", "Dogs Only", "None"],
              [params[:pet_policy_shorthand] ? params[:pet_policy_shorthand].titleize : "Any"]),
              class: 'form-control') %>
          </div>
        </div> -->

        <% if !params[:pet_policy_shorthand].nil? %>
            <%= hidden_field_tag :pet_policy_shorthand, params[:pet_policy_shorthand] %>
          <% else %>
            <%= hidden_field_tag :pet_policy_shorthand %>
          <% end %>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :pet_policy_shorthand, "Pet policy" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding" style="width: 54%;">
              <a href="javascript:;" class="test_p" data-target="#demo_pet_policy">Pet Policy</a>
              <div class="row vertical-padding test_c" id="demo_pet_policy" style="display: none;">
                <!-- <div class="col-xs-11 selectize-wrapper"> -->

                    <% PetPolicy.all.each do |pet_policy| %>
                      <div class="col-sm-6" id="unit-amenities-select-multiple">
                        <% if params[:pet_policy_shorthand] %>  
                          <% if (params[:pet_policy_shorthand].split(",").include? "#{pet_policy.id}") %>
                            <span class="child-input"><input type="checkbox" name="features[]" value="<%= pet_policy.id %>" id="parent_<%= pet_policy.id %>" checked="true" onClick = "pet_policy_check(<%= pet_policy.id %>)" ><b><%= pet_policy.name.titleize %></b></span>
                          <% else %>
                            <span class="child-input"><input type="checkbox" name="features[]" value="<%= pet_policy.id %>" id="parent_<%= pet_policy.id %>" onClick = "pet_policy_check(<%= pet_policy.id %>)" ><b><%= pet_policy.name.titleize %></b></span>
                          <% end %>
                        <% else %>
                          <span class="child-input"><input type="checkbox" name="features[]" value="<%= pet_policy.id %>" id="parent_<%= pet_policy.id %>" onClick = "pet_policy_check(<%= pet_policy.id %>)" ><b><%= pet_policy.name.titleize %></b></span>
                        <% end %>
                        <br>
                      </div>
                    <% end %>
                <!-- </div> -->
              </div>
            </div>
          </div>

        <% if current_user.is_company_admin? || current_user.is_super_admin? || current_user.is_listings_manager? %>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :building_rating, "Building Rating" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= select_tag(:building_rating, options_for_select([['Any','Any'],['NA', 0], ['Excellent', 1], ['Good', 2], ['Fair', 3]], params[:building_rating] ? params[:building_rating].titleize : "Any"), class: 'form-control') %>
            </div>
          </div>
        <% end %>
        <% if current_user.is_company_admin? || current_user.is_super_admin? || current_user.is_listings_manager? %>
          <div class="row vertical-padding">
            <div class="col-xs-5">
              <%= label_tag :landlord_rating, "Landlord Rating" %>
            </div>
            <div class="col-xs-6 col-sm-left-padding">
              <%= select_tag(:landlord_rating, options_for_select([['Any','Any'],['NA', 0], ['Excellent', 1], ['Good', 2], ['Fair', 3]], params[:landlord_rating] ? params[:landlord_rating].titleize : "Any"), class: 'form-control') %>
            </div>
          </div>
        <% end %>
        <div class="row vertical-padding">
          <div class="col-xs-12">
            <strong>Available</strong>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-6 col-sm-left-padding">
            <div class='input-group date datepicker'>
              <%= text_field_tag :available_starting, params[:available_starting],
                placeholder: "start", class:"form-control", size:30 %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
          <div class="col-xs-5 col-sm-left-padding">
            <div class='input-group date datepicker'>
              <%= text_field_tag :available_before, params[:available_before],
                placeholder: "by", class:"form-control" %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :tenant_occupied_filter, "".freeze, params[:tenant_occupied_filter] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="tenant_occupied_filter">
                Tenant Occupied
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :has_stock_photos_filter, "".freeze, params[:has_stock_photos_filter] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="has_stock_photos_filter">
                Stock Photos
              </label>
            </div>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :no_description, "".freeze, params[:no_description] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="no_description">
                No Description
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :no_images, "".freeze, params[:no_images] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="no_images">
                No Images
              </label>
            </div>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :roomfill, "".freeze, params[:roomfill] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="roomfill">
                Roomfill
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="checkbox checkbox-warning inline">
              <%= check_box_tag :partial_move_in, "".freeze, params[:partial_move_in] == "true".freeze ? true : false,
                  class: 'styled' %>
              <label for="partial_move_in">
                Partial Move-in
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="row vertical-padding">
          <div class="col-xs-11 selectize-wrapper">
            <select id="neighborhood-select-multiple" placeholder="Neighborhoods...">
              <%# @neighborhoods.each do |borough, list| %>
                <optgroup label="<%#= borough %>">
                  <%# list.each do |neighborhood| %>
                    <option value="<%#= neighborhood.id %>"><%#= neighborhood.name %></option>
                  <%# end %>
                </optgroup>
              <%# end %>
            </select>
          </div>
        </div> -->

        <% if !params[:parent_neighborhoods].nil? %>
            <%= hidden_field_tag :parent_neighborhoods, params[:parent_neighborhoods] %>
          <% else %>
            <%= hidden_field_tag :parent_neighborhoods %>
          <% end %>
          <a href="javascript:;" class="test_p" data-target="#demo_neghb">Neighborhoods</a>
          <div class="row vertical-padding test_c" id="demo_neghb" style="display: none;">
            <% @neighborhoods = Neighborhood.all %>
            <% @neighborhoods.where(parent_neighborhood_id: 0).each do |neighborhood| %>
              <div class="col-sm-6">
                    <input type="checkbox" name="neighborhood[]" value="<%= neighborhood.id %>" id="parent_<%= neighborhood.id %>" onClick = "parent_neighborhoods_check(<%= neighborhood.id %>)" ><b><%= neighborhood.name.titleize %></b>
                    <br>
                    <% @neighborhoods.where(parent_neighborhood_id: neighborhood.id).each do |child_neighborhood| %>
                      <% if params[:parent_neighborhoods] %>
                        <% if params[:parent_neighborhoods].split(",").include? "#{child_neighborhood.id}" %>
                          <span class="child-input"><input type="checkbox" name="neighborhood[]" value="<%= child_neighborhood.id %>" data-parent-id= "<%= child_neighborhood.parent_neighborhood_id %>" id="child_with_parent_neghb_<%= child_neighborhood.id %>" checked="true" onClick = "child_neighborhoods_uncheck(<%= child_neighborhood.id %>)"><%= child_neighborhood.name.titleize %></span>
                        <% else %>
                          <span class="child-input"><input type="checkbox" name="neighborhood[]" value="<%= child_neighborhood.id %>" data-parent-id= "<%= child_neighborhood.parent_neighborhood_id %>" id="child_with_parent_neghb_<%= child_neighborhood.id %>" onClick = "child_neighborhoods_uncheck(<%= child_neighborhood.id %>)"><%= child_neighborhood.name.titleize %></span>
                        <% end %>
                      <% else %>
                        <span class="child-input"><input type="checkbox" name="neighborhood[]" value="<%= child_neighborhood.id %>" data-parent-id= "<%= child_neighborhood.parent_neighborhood_id %>" id="child_with_parent_neghb_<%= child_neighborhood.id %>" onClick = "child_neighborhoods_uncheck(<%= child_neighborhood.id %>)"><%= child_neighborhood.name.titleize %></span>
                      <% end %>
                    <% end %>
              </div>
            <% end %>
          </div>

        <!-- <div class="row vertical-padding">
          <div class="col-xs-11 selectize-wrapper">
            <select id="unit-amenities-select-multiple" placeholder="Unit features...">
              <%# @unit_amenities.each do |amenity| %>
                <option value="<%#= amenity.id %>"><%#= amenity.name.titleize %></option>
              <%# end %>
            </select>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-11 selectize-wrapper">
            <select id="building-amenities-select-multiple" placeholder="Building features...">
              <optgroup label="Building">
                <%# @building_amenities.each do |amenity| %>
                  <option value="<%#= amenity.id %>"><%#= amenity.name.titleize %></option>
                <%# end %>
              </optgroup>
            </select>
          </div>
        </div> -->

        <% if !params[:parent_amenities].nil? %>
            <%= hidden_field_tag :parent_amenities, params[:parent_amenities] %>
          <% else %>
            <%= hidden_field_tag :parent_amenities %>
          <% end %>
          <a href="javascript:;" class="test_p" data-target="#demo">Unit features</a>
          <div class="row vertical-padding test_c" id="demo" style="display: none;">
            <!-- <div class="col-xs-11 selectize-wrapper"> -->
                <% @unit_amenities.where(parent_amenity_id: 0).each do |amenity| %>
                  <div class="col-sm-6" id="unit-amenities-select-multiple">
                    <input type="checkbox" name="features[]" value="<%= amenity.id %>" id="parent_<%= amenity.id %>" onClick = "parent_amenities_check(<%= amenity.id %>)" ><b><%= amenity.name.titleize %></b>
                    <br>
                    <%# abort params[:parent_amenities].split(",").inspect %>
                    <% @unit_amenities.where(parent_amenity_id: amenity.id).each do |child_amenity| %>
                      <% if params[:parent_amenities] %>
                        <% if params[:parent_amenities].split(",").include? "#{child_amenity.id}" %>
                          <span class="child-input"><input type="checkbox" name="features[]" value="<%= child_amenity.id %>" data-parent-id= "<%= child_amenity.parent_amenity_id %>" id="child_with_parent_<%= child_amenity.id %>" checked="true" onClick = "child_amenities_uncheck(<%= child_amenity.id %>)"><%= child_amenity.name.titleize %></span>
                        <% else %>
                          <span class="child-input"><input type="checkbox" name="features[]" value="<%= child_amenity.id %>" data-parent-id= "<%= child_amenity.parent_amenity_id %>" id="child_with_parent_<%= child_amenity.id %>" onClick = "child_amenities_uncheck(<%= child_amenity.id %>)"><%= child_amenity.name.titleize %></span>
                        <% end %>
                      <% else %>
                        <span class="child-input"><input type="checkbox" name="features[]" value="<%= child_amenity.id %>" data-parent-id= "<%= child_amenity.parent_amenity_id %>" id="child_with_parent_<%= child_amenity.id %>" onClick = "child_amenities_uncheck(<%= child_amenity.id %>)"><%= child_amenity.name.titleize %></span>
                      <% end %>
                    <% end %>
                    <br>
                  </div>
                <% end %>
            <!-- </div> -->
          </div>


          <% if !params[:parent_building_amenities].nil? %>
            <%= hidden_field_tag :parent_building_amenities, params[:parent_building_amenities] %>
          <% else %>
            <%= hidden_field_tag :parent_building_amenities %>
          <% end %>
          <a href="javascript:;" class="test_p" data-target="#demo_build_feat">Building features</a>
          <div class="row vertical-padding test_c" id="demo_build_feat" style="display: none;">
            <!-- <div class="col-xs-11 selectize-wrapper"> -->
                <% @building_amenities.where(building_parent_amenity_id: 0).each do |amenity| %>
                  <div class="col-sm-6" id= "building-amenities-select-multiple">
                    <input type="checkbox" name="features[]" value="<%= amenity.id %>" id="parent_<%= amenity.id %>" onClick = "parent_building_amenities_check(<%= amenity.id %>)" ><b><%= amenity.name.titleize %></b>
                    <br>
                    <%# abort params[:parent_amenities].split(",").inspect %>
                    <% @building_amenities.where(building_parent_amenity_id: amenity.id).each do |child_amenity| %>
                      <% if params[:parent_building_amenities] %>
                        <% if params[:parent_building_amenities].split(",").include? "#{child_amenity.id}" %>
                          <span class="child-input"><input type="checkbox" name="features[]" value="<%= child_amenity.id %>" data-parent-id= "<%= child_amenity.building_parent_amenity_id %>" id="child_with_parent_building_<%= child_amenity.id %>" checked="true" onClick = "child_building_amenities_uncheck(<%= child_amenity.id %>)"><%= child_amenity.name.titleize %></span>
                        <% else %>
                          <span class="child-input"><input type="checkbox" name="features[]" value="<%= child_amenity.id %>" data-parent-id= "<%= child_amenity.building_parent_amenity_id %>" id="child_with_parent_building_<%= child_amenity.id %>" onClick = "child_building_amenities_uncheck(<%= child_amenity.id %>)"><%= child_amenity.name.titleize %></span>
                        <% end %>
                      <% else %>
                        <span class="child-input"><input type="checkbox" name="features[]" value="<%= child_amenity.id %>" data-parent-id= "<%= child_amenity.building_parent_amenity_id %>" id="child_with_parent_building_<%= child_amenity.id %>" onClick = "child_building_amenities_uncheck(<%= child_amenity.id %>)"><%= child_amenity.name.titleize %></span>
                      <% end %>
                    <% end %>
                    <br>
                  </div>
                <% end %>
            <!-- </div> -->
          </div>

        <div class="row vertical-padding">
          <div class="col-xs-11 col-sm-left-padding">
            <button id='res-search-trigger', class="search-trigger btn btn-warning btn-sm form-control">
              Search
            </button>
          </div>
        </div>

      <% end %>
    </div>
  </div>
  <div id="map_listing_for_claim" style="display: none;"><%= @map_list %></div>
  <div class="col-md-9">
      <div id="r-big-map" data-map-points="<%= @map_infos %>"></div>
    </div>
  </div>

  <div>
    <hr class="map-hr">
  </div>
  <div class="col-md-6 vertical-margin-lg">
    <span class="totals">
      &nbsp;&nbsp;<%= @residential_listings.count %> Units found
    </span>
    <span class="totals">
      |&nbsp;&nbsp;<%= @room_active %> Active room found
    </span>
    <span class="totals">
      |&nbsp;&nbsp;<%= @room_pending %> Pending room found
    </span>
    <span class="totals">
      |&nbsp;&nbsp;<%= @room_off %> Off room found
    </span>
  </div>
<table class="sortable table table-striped table-hover table-condensed infinite-table-res">
    <thead>
      <tr>
        <th class="img-col"><!-- first image --></th>
        <th data-sort="formatted_street_address" class="th-sortable">Address</th>
        <th data-sort="building_unit" class="th-sortable">Unit</th>
        <th data-sort="bed_and_baths_sorter" class="th-sortable">Beds/Baths</th>
        <th data-sort="rent" class="th-sortable">Room</th>
        <th data-sort="rent" class="th-sortable">Price</th>
        <th data-sort="available_by" class="th-sortable">Available</th>
        <th data-sort="code" class="th-sortable">Landlord</th>
        <!-- <th data-sort="name" class="th-sortable">Primary Agent</th> -->
        <!-- <th data-sort="name" class="th-sortable">StreetEasy Primary Agent</th>
        <th data-sort="name" class="th-sortable">Listing Agent</th>
        <th data-sort="number" class="th-sortable">Listing Agent Number</th> -->
        <th data-sort="residential_listings.updated_at" class="th-sortable">Updated</th>
        <th data-sort="units.status" class="th-sortable">Status</th>
        <% if current_user.is_management? || current_user.is_listings_manager? %>
          <th colspan="1" class="hidden-print"></th>
        <% end %>
      </tr>
    </thead>
    <tbody class="residential_units_table_body">
      <% @residential_listings.each do |res_list| %>
        <%# if res_list.unit.status == "rsonly" || res_list.unit.status == "active" %>
        <%#= image_tag res_list.unit.images.first.file(:large) %>
          <% i = 1 %>
          <% res_list.rooms.order(name: :asc).each do |room| %>
            <tr class="<%= cycle('even', 'odd') -%>" data-id="<%= res_list.unit.listing_id %>" >
              <td class="img-col">  
                <% if !res_list.unit.images.first.nil? %>
                  <%= link_to image_tag(res_list.unit.images.first.file(:thumb), :alt => "res_list.unit_id", :class => "css"), res_list %>
                <% else %>
                  <%= link_to(image_tag("listing_soon_thumb.png".freeze, alt: "Image coming soon",
                      class: 'img-responsive',
                      size: "100x100"), res_list) %>
                <% end %>
              </td>
              <td><%#= res_list.street_address %>
                <%= link_to "#{res_list.street_address}".freeze, room_path(res_list.id) %><br />
                  <% if res_list.unit.building.neighborhood %>
                     <small><%= res_list.unit.building.neighborhood.name %></small>
                  <% end %>
                  <strong>
                    <br>
                    <% if res_list.unit.rent %>
                      Net: $<%= res_list.unit.rent %>
                    <% end %>
                    <% if res_list.unit.gross_price %>
                       - Gross: $<%= res_list.unit.gross_price %>
                    <% end %>
                  </strong>
                  <% if res_list.roomfill == true %>
                    <br>
                    <span class="rm-fill">
                      Roomfill
                    </span>
                  <% end %>
                  <% if res_list.partial_move_in == true %>
                    <br>
                    <span class="rm-move-in">
                      Partial Move-in
                    </span>
                  <% end %>
                  <div>
                    <% if res_list.unit.status == "active" %>
                      <span class="glyphicon glyphicon-arrow-up green" style="float: left;" aria-hidden="true"></span>
                    <% elsif res_list.unit.status == "pending" %>
                      <span class="glyphicon glyphicon-arrow-up dark-orange" style="float: left;" aria-hidden="true"></span>
                    <% elsif res_list.unit.status == "off" %>
                      <span class="glyphicon glyphicon-arrow-up" style="float: left;" aria-hidden="true"></span>
                    <% elsif res_list.unit.status == "rsonly" %>
                      <span class="glyphicon glyphicon-arrow-up blue" style="float: left;" aria-hidden="true"></span>
                    <% end %>
                    <% if res_list.room_syndication == true %>
                      <span class="glyphicon glyphicon-arrow-up purple" aria-hidden="true"></span>
                    <% end %>
                  </div>
                </td>
                <td>
                  <% if res_list.unit.building_unit %>
                    <%= res_list.unit.building_unit %>
                  <% end %>
                </td>
                <td>
                  <%= beds_as_str(res_list) %> / <%= baths_as_str(res_list) %>
                </td>
                <td>
                  <%# if res_list.unit.rent %>
                    <!-- $<%#= res_list.unit.rent %> -->
                  <%# end %>
                    <p><%= room.name.split(" ")[1] %>
                      <!-- <p>$<%#= room.rent %>
                        <%# if room.status == 0 %>
                          <span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span>
                        <%# elsif room.status == 1 %>
                          <span class="glyphicon glyphicon-arrow-up dark-orange" aria-hidden="true"></span>
                        <%# elsif room.status == 2 %>
                          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        <%# end %>
                      </p> -->
                    </p>
                </td>
                <td>
                  $<%= room.rent %>
                </td>
                <td>
                  <% if res_list.unit.available_by %>
                    <%= res_list.unit.available_by.strftime("%b %d") %>
                  <% else %>
                    -
                  <% end %>
                </td>
                <td>
                  <% if res_list.unit.building.landlord.code %>
                    <%= res_list.unit.building.landlord.code %>
                  <% end %>
                </td>
                <!-- <td>
                  <%# if res_list.unit.streeteasy_primary_agent_id %>
                    <%#= User.find(res_list.unit.streeteasy_primary_agent_id).name %>
                  <%# else %>

                  <%# end %>
                </td> -->
                <!-- <td>
                  <%# if res_list.unit.building.landlord.listing_agent %>
                    <%#= res_list.unit.building.landlord.listing_agent.name %>
                  <%# else %>

                  <%# end %>
                </td> -->
                <!-- <td>
                  <%# if res_list.unit.building.landlord.listing_agent %>
                    <%#= res_list.unit.building.landlord.listing_agent.mobile_phone_number %>
                  <%# else %>

                  <%# end %>
                </td> -->
                <td>
                  <%= time_ago_in_words(res_list.updated_at) %>
                </td>
                <td>
                  <% if room.status == 0 %>
                    <span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span>
                  <% elsif room.status == 1 %>
                    <span class="glyphicon glyphicon-arrow-up dark-orange" aria-hidden="true"></span>
                  <% elsif room.status == 2 %>
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                  <% end %>
                </td>
                <td>
                  <% if current_user.is_management? || current_user.id == res_list.unit.building.point_of_contact %>
                    <% if !res_list.unit.primary_agent_for_rs.nil? %>
                      Primary: <%= User.find(res_list.unit.primary_agent_for_rs).name %>
                      <br>
                      ---
                      <br>
                    <% end %>
                  <% end %>
                  <% if current_user.is_management? || current_user.id == res_list.unit.building.point_of_contact %>
                    <%= link_to "Edit", edit_room_path(res_list) %>
                  <% end %>
                </td>
              </tr>
              <% i = i + 1 %>
            <% end %>
          <%# end %>
      <% end %>
  </tbody>
</table>
<%#= javascript_tag "(#{@map_list.to_json.html_safe});" %>