
<!-- helps us track if we should draw a dividing "|" -->
<% @prev_link = false %>

<!-- current_user == user || current_user.is_company_admin? -->
<% if can? :update, user %>
	<%= link_to 'Edit', edit_user_path(user) %> | 
    	
  <%= link_to user, :remote => true, method: :delete, data: { confirm: "Are you sure you want to delete #{user.name}?" } do %>
  	 <button class="btn btn-link">Delete</button>
  	<% end %>
  <% @prev_link = true %>
<% end %>

<% if current_user.can_manage_team(user) %>
	<% if @prev_link %> | <% end %>
  <%= link_to 'Manage team', user_subordinates_path(user) %><br />
  <% @prev_link = true %>
<% end %>


<% if current_user.can_approve(user) %>
	<% if !user.approved? %>
		<% if @prev_link %> | <% end %>
		<%= link_to 'Approve', admin_approve_user_path(user), :remote => true, method: :post, data: { confirm: "Are you sure you want to approve #{user.name}'s account?" } %>
	<% else %>
		<% if @prev_link %> | <% end %>
		<%= link_to 'Unapprove', admin_unapprove_user_path(user), :remote => true, method: :post, data: { confirm: "Are you sure you want to unapprove #{user.name}'s account?" } %>
	<% end %>
	<% @prev_link = true %>
<% end %>


<% if current_user.can_kick(user) %>
	<% if @prev_link %> | <% end %>
	<%= link_to 'Kick off team', admin_kick_user_path(user), :remote => true, method: :post, data: { confirm: "Are you sure you want to kick #{user.name} off #{user.manager.name.titleize}'s team?" } %>
<% end %>