<!-- helps us track if we should draw a dividing "|" -->
<% @prev_link = false %>

<% if can? :update, user %>
	<%= link_to 'Edit', edit_user_path(user) %>
    	
  <% if !user.archived %>
	  <br />
	  <%= link_to user, :remote => true, method: :delete, 
	  	data: { confirm: "Are you sure you want to delete #{user.name}?" } do %>
	  	 <button class="btn btn-md btn-link no-padding">Delete</button>
	  	<% end %>
	  <% @prev_link = true %>
	<% end %>
<% end %>

<% if current_user.can_manage_team(user) %>
	<% if @prev_link %> <br /> <% end %>
  <%= link_to 'Manage team', subordinates_user_path(user) %>
  <% @prev_link = true %>
<% end %>

<% if current_user.can_approve(user) %>
	<br />
	<% if !user.approved? %>
		
		<%= link_to 'Authorize', admin_approve_user_path(user), :remote => true, method: :post, data: { confirm: "Are you sure you want to approve #{user.name}'s account?" } %>
	<% else %>
		
		<%= link_to 'Unauthorize', admin_unapprove_user_path(user), :remote => true, method: :post, data: { confirm: "Are you sure you want to unapprove #{user.name}'s account?" } %>
	<% end %>
	<% @prev_link = true %>
<% end %>


<% if current_user.can_kick(user) %>
	<% if @prev_link %> <br /> <% end %>
	<%= link_to 'Kick off team', admin_kick_user_path(user), :remote => true, method: :post, data: { confirm: "Are you sure you want to kick #{user.name} off #{user.manager.name.titleize}'s team?" } %>
<% end %>