<div class="row">
  <div class="col-md-4">
    <div class="field">
      <%= f.label :name, "Name" %><br>
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="field">
      <%= f.label :email, "Email (username)" %><br>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="field">
      <%= f.label :employee_title, "Title" %><br>
      <%= f.select(:employee_title, options_for_select(EmployeeTitle.all.collect {|t| [t.name, t.id]}) ) %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="field">
      <%= f.label :agent_types, "Agent Type" %><br>
      <%= f.select(:agent_types, options_for_select(AgentType.all.collect {|t| [t.name, t.id]}),
          {},
          {:multiple => true } ) %>
    </div>
  </div>
</div>