<script>
  $( document ).ready(function() {
      if ('<%= @user.employee_title.name %>' === '<%= @agent_title.name %>') {
        $('.agent-type').show();
      } else {
        $('.agent-type').hide();
      }
  });

  function title_onchange_handler(input) {
    if (input.toLowerCase() === '<%= @agent_title.name %>') {
      $('.agent-type').show();
    } else {
      $('.agent-type').hide();
    }
  };
</script>

<div class="row">
  <div class="col-md-6">
    <!-- User image form -->
    
    <!-- , :url => user_upload_image_path(@user)  -->
    <%= form_for(@user) do |f| %>

      <div class="row">
        <div class="col-md-12">
          <% if @user.avatar_id? %>
            <!-- display existing image -->
            <%= attachment_image_tag(@user, :avatar, :fill, 300, 300) %>
            <!-- add in options to remove existing image -->
            <br />
            <%= f.check_box :remove_avatar %>
            <%= f.label :remove_avatar, "Remove current image" %>
          <% else %>
            <div class="user-avatar">
              <i class="fa fa-user fa-fw fa-border user-avatar"></i>
            </div>
          <% end %>
        </div>
      </div>

      <div class="field">
        <br />
        <%= f.label :avatar, "Upload new profile image:" %><br>
        <%= f.attachment_field :avatar, direct: true, class: 'form-control'  %>
        <br />
        <%= f.label :remote_avatar_url, "Or specify URL:" %>
        <%= f.text_field :remote_avatar_url, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>


  <div class="col-md-6">
    <!-- All other fields form -->
    <%= form_for(@user) do |f| %>
      <%= render :partial => 'shared/error_messages', 
        :locals => {:model => @user} %>

      <div class="field">
        <%= f.label :email, "Email (will be your username)" %><br>
        <%= f.email_field :email, class: 'form-control', 
            :required => true %>
      </div>
      
      <div class="field">
        <%= f.label :name, "Name" %><br>
        <%= f.text_field :name, class: 'form-control', 
            :required => true %>
      </div>
      <div class="field">
        <%= f.label :mobile_phone_number, "Mobile" %><br>
        <%= f.telephone_field :mobile_phone_number, 
            class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Give us your bio" %><br>
        <%= f.text_area :bio, class: 'form-control', :size => "20x10" %>
      </div>
      
      <div class="field">
        <%= f.label :office_id, "Office" %><br>
        <%= f.select(:office_id, options_for_select(@user.company.offices.collect {|t| [t.name.titleize, t.id]}, [@user.office.id]), 
          {prompt: "Choose one..."},
          :required => true, 
          class: 'form-control',
          :include_blank => true) %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="field">
            <%= f.label :employee_title_id, "Role within the company" %><br>
            <%= f.select(:employee_title_id, options_for_select(EmployeeTitle.all.collect {|t| [t.name.titleize, t.id]}, [@user.employee_title.id]), 
              {prompt: "Choose one..."},
              :onchange => "title_onchange_handler($(this).find('option:selected').text())",
              :required => true, 
              class: 'form-control',
              :include_blank => true) %>
          </div>
        </div>

        <div class="col-md-6 agent-type">
          <div class="field " >
            <%= f.label :agent_types, "Areas you work in" %><br>
            <%= f.select(:agent_types, options_for_select(AgentType.all.collect {|t| [t.name.titleize]}, @user.agent_specialties),
                {},
                {
                :multiple => true,
                class: 'form-control' } ) %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, "Password (Must re-enter to save changes!)" %><br>
        <%= f.password_field :password, class: 'form-control', 
            :required => true %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation" %><br>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>    
  </div>
</div>
