<script>
  function initialize() {
    if ('<%= @user.employee_title.name %>' === '<%= @agent_title.name %>') {
      $('.agent-type').show();
    } else {
      $('.agent-type').hide();
    }
  };
  // TODO: get rid of document.ready
  $(document).ready(initialize);

  function title_onchange_handler(input) {
    if (input.toLowerCase() === '<%= @agent_title.name %>') {
      $('.agent-type').show();
    } else {
      $('.agent-type').hide();
    }
  };
</script>

<div class="row">
  <div class="col-md-6">
      <!-- User image form -->
      <div class="row">
        <div class="col-md-12">
          <div class="avatar">
            <%= render 'image', :locals => {:user => @user} %>
          </div>
        </div>
      </div>

      <% if @user.is_management? %>
        <br />
        <div class="row">
          <div class="col-md-12">
            <%= form_for(@user, :url => upload_image_user_path(@user), 
              html: {multipart: true}, method: :post) do |f| %>
              <%= f.file_field :file %><br>
              <%= f.submit "Upload Photo", class: "btn btn-warning" %>
            <% end %>
          </div>
        </div>
      <% else %>
        <br />
        <p>Photo is only editable by company management.</p>
      <% end %>
  </div>

  <div class="col-md-6">
    <!-- All other fields form -->
    <%= form_for(@user) do |f| %>
      <%= render :partial => 'shared/error_messages', 
        :locals => {:model => @user} %>

      <div class="field">
        <%= f.label :email, "Email (Will be your username)" %><br>
        <%= f.email_field :email, class: 'form-control', 
            :required => true %>
      </div>
      
      <div class="field">
        <%= f.label :name, "Name" %><br>
        <%= f.text_field :name, class: 'form-control', 
            :required => true %>
      </div>
      <div class="field">
        <%= f.label :mobile_phone_number, "Mobile" %><br>
        <%= f.telephone_field :mobile_phone_number, 
            class: 'form-control' %>
      </div>
      <% if @user.is_management? %>
        <div class="field">
          <%= f.label :bio, "Short Bio (Max 500 chars)" %><br>
          <%= f.text_area :bio, class: 'form-control', :size => "20x10" %>
        </div>
      <% else %>
        <p>Bio is only editable by company management.</p>
      <% end %>

      <div class="field">
        <%= f.label :office_id, "Office" %><br>
        <%= f.select(:office_id, options_for_select(@user.company.offices.collect {|t| [t.name.titleize, t.id]}, [@user.office.id]), 
          {prompt: "Choose one..."},
          :required => true, 
          class: 'form-control',
          :include_blank => true) %>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="field">
            <%= f.label :employee_title_id, "Role within the company" %><br>
            <%= f.select(:employee_title_id, options_for_select(EmployeeTitle.all.collect {|t| [t.name.titleize, t.id]}, [@user.employee_title.id]), 
              {prompt: "Choose one..."},
              :onchange => "title_onchange_handler($(this).find('option:selected').text())",
              :required => true, 
              class: 'form-control',
              :include_blank => true) %>
          </div>
        </div>

        <div class="col-md-6 agent-type">
          <div class="field " >
            <%= f.label :agent_types, "Areas you work in" %><br>
            <%= f.select(:agent_types, options_for_select(AgentType.all.collect {|t| [t.name.titleize]}, @user.agent_specialties),
                {},
                {
                :multiple => true,
                class: 'form-control' } ) %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= f.label :password, "Password" %><br>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation" %><br>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-warning" %>
      </div>
    <% end %>    
  </div>
</div>
