<div class="row">
  <div class="col-sm-6">
      <!-- User image form -->
      <div class="row">
        <div class="col-md-12">
          <div class="avatar">
            <%= render 'image', locals: {user: @user} %>
          </div>
        </div>
      </div>
  </div>

  <div class="col-sm-6">
    <!-- All other fields form -->
    <%= form_for(@user) do |f| %>
    <%= f.hidden_field :lock_version %>
      <%= render partial: 'shared/error_messages',
        locals: {model: @user} %>

      <div class="field">
        <%= f.label :email, "Email (Will be your username)", class: 'required' %><br>
        <%= f.email_field :email, class: 'form-control',
            required: true %>
      </div>

      <div class="field">
        <%= f.label :streeteasy_email, "StreetEasy Email", class: 'required' %><br>
        <%= f.email_field :streeteasy_email, class: 'form-control' %>
      </div>

      <div class="field">
        <%= f.label :name, "Name", class: 'required' %><br>
        <%= f.text_field :name, class: 'form-control',
            required: true %>
      </div>
      <div class="field">
        <%= f.label :mobile_phone_number, "Mobile", class: 'required' %><br>
        <%= f.telephone_field :mobile_phone_number, placeholder: "(XXX)XXX-XXXX",
            class: 'form-control', required: true %>
      </div>
      <div class="field">
        <%= f.label :streeteasy_mobile_number, "StreetEasy Mobile", class: 'required' %><br>
        <%= f.telephone_field :streeteasy_mobile_number, placeholder: "(XXX)XXX-XXXX",
            class: 'form-control' %>
      </div>
      <% if current_user.is_management? %>
        <div class="field">
          <%= f.label :bio, "Short bio (Max 500 chars)" %><br>
          <%= f.text_area :bio, class: 'form-control', size: "20x10" %>
        </div>
      <% end %>
      <div class="field">
        <%= f.label :agent_hide, "Agent Display On Website or Not?" %>
        <%= f.check_box :agent_hide %>
      </div>

      <div class="field">
        <%= f.label :office_id, "Office", class: 'required' %><br>
        <%= f.select(:office_id, options_for_select(@user.company.offices.collect {|t| [t.name.titleize, t.id]}, [@user.office.id]),
          {prompt: "Choose one..."},
          required: true,
          class: 'form-control',
          include_blank: true) %>
      </div>

      <% if current_user.is_management? %>
      <div class="row">
        <div class="col-md-12">
          <div class="field">
            <%= f.label :employee_title_id, "Job title", class: 'required' %><br>
            <%= f.select(:employee_title_id,
              options_for_select(EmployeeTitle.all.collect {|t| [t.name.titleize, t.id]},
              [@user.employee_title.id]),
              {prompt: "Choose one..."},
              required: true,
              class: 'form-control',
              include_blank: true,
              ) %>
          </div>
        </div>

        <div class="col-md-12">
          <%= f.label :role_ids, "Enabled permissions", class: 'required' %><br>
            <%= f.select(:role_ids,
              options_for_select(User.valid_roles_list(current_user).collect {|t| [t.name.titleize, t.id]},
              @user.role_ids.length > 0 ? @user.role_ids : @default_role_set),
              {},
              required: true,
              multiple: true,
              class: 'form-control',
              size: 8) %>
        </div>
      </div>
      <% end %>

      <div class="row">
        <div class="col-md-12">
          <div class="field">
            <br />
            <%= f.label :password, "Password" %><br>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="field">
            <%= f.label :password_confirmation, "Confirmation" %><br>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="actions">
            <%= f.submit class: "btn btn-warning" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
