<div class="row">
  <div class="col-md-6">
    <!-- User image form -->
    
    <!-- , :url => user_upload_image_path(@user)  -->
    <%= form_for(@user) do |f| %>

      <div class="row">
        <div class="col-md-12">
          Current image: <br />
          
          <% if @user.avatar_id? %>
            <!-- display existing image -->
            <%= attachment_image_tag(@user, :avatar, :fill, 300, 300) %>
            <!-- add in options to remove existing image -->
            <%= f.check_box :remove_avatar %>
            <%= f.label :remove_avatar %>
          <% else %>
            <div class="user-avatar">
              <i class="fa fa-user fa-fw fa-border user-avatar"></i>
            </div>
          <% end %>
        </div>
      </div>

      <div class="field">
        <br />
        
        <%= f.label :avatar, "Upload new profile image:" %><br>
        <%= f.attachment_field :avatar, direct: true %>
        
      </div>
      <div class="actions">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>


  <div class="col-md-6">
    <!-- All other fields form -->
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <div class="field">
        <%= f.label :email, "Email (will be your username)" %><br>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :password %><br>
        <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :password_confirmation, "Confirmation" %><br>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :name, "Name" %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :mobile_phone_number, "Mobile" %><br>
        <%= f.telephone_field :mobile_phone_number, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label "Give us your bio" %><br>
        <%= f.text_area :bio, class: 'form-control', :size => "20x10" %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    <% end %>    
  </div>
</div>

