
<script>
  function initialize() {
    $('.agent-type').hide();
  }
  // TODO: get rid of document.ready
  $(document).ready(initialize);

  function title_onchange_handler(input) {
    if (input.toLowerCase() === '<%= @agent_title.name %>') {
      $('.agent-type').show();
    } else {
      $('.agent-type').hide();
    }
  };
</script>


<%= form_for(@user, html: { class: "directUpload" }) do |f| %>
  <%= render :partial => 'shared/error_messages', 
      :locals => {:model => @user} %>
  
  <div class="field">
    <%= f.label :name, "Name" %><br>
    <%= f.text_field :name, class: 'form-control', :required => true %>
  </div>
  <div class="field">
    <%= f.label :email, "Email (will be your username)" %><br>
    <%= f.email_field :email, class: 'form-control', :required => true %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone_number %><br>
    <%= f.text_field :mobile_phone_number, class: 'form-control', :required => true %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form-control', :required => true %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmation" %><br>
    <%= f.password_field :password_confirmation, class: 'form-control', :required => true %>
  </div>

  <div class="field">
    <%= f.label :company_id, "Company:" %><br>
    <%= f.select(:company_id, options_for_select(@companies.collect {|t| [t.name.titleize, t.id]}), 
      {prompt: "Choose one..."},
      { id: 'companies_select',
        :required => true, 
      class: 'form-control',
      :include_blank => true}) %>
  </div>

  <div class="field">
    <%= f.label :office_id, "Office" %><br>
    <%= f.select(:office_id, options_for_select(@offices.collect {|t| [t.name.titleize, t.id]}), 
      {prompt: "Choose one..."},
      { id: 'offices_select',
        :required => true, 
        class: 'form-control',
        :include_blank => true}) %>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="field">
        <%= f.label :employee_title_id, "Role within the company" %><br>
        <%= f.select(:employee_title_id, options_for_select(@employtee_titles.collect {|t| [t.name.titleize, t.id]}), 
          {prompt: "Choose one..."},
          :onchange => "title_onchange_handler($(this).find('option:selected').text())",
          :required => true, 
          class: 'form-control',
          :include_blank => true) %>
      </div>
    </div>

    <div class="col-md-4 agent-type">
      <div class="field " >
        <%= f.label :agent_types, "Areas you work in" %><br>
        <%= f.select(:agent_types, options_for_select(AgentType.all.collect {|t| [t.name.titleize]}, ['Residential']),
            {},
            {
            :multiple => true,
            class: 'form-control' } ) %>
      </div>
    </div>
  </div>


  <div class="actions">
    <%= f.submit class: "btn btn-warning" %>
    
  </div>
<% end %>
