<script>
  $(document).ready(function(){
    $('.auth-token-toggle').click(function (event) {
      $('.auth-token').toggleClass('hidden');
      event.preventDefault();
    });
  });
</script>

<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="page-header">
      
      <div class="row">
        <div class="col-md-6">
          <h1><%= @user.name.titleize %></h1>
        </div>
        <div class="col-md-6 right">
          <br /><br />
          <!--%= render 'actions', :user => @user %-->

          <% if can? :update, user %>
            <%= link_to 'Edit', edit_user_path(user) %> | 
                
            <% if !user.archived %>
              <%= link_to 'Delete', @user, method: :delete, 
                data: { confirm: "Are you sure you want to delete #{user.name}?" } %>
              <% @prev_link = true %>
            <% end %>
          <% end %>

          <% if current_user.can_manage_team(user) %>
            <% if @prev_link %> | <% end %>
            <%= link_to 'Manage team', subordinates_user_path(user) %>
            <% @prev_link = true %>
          <% end %>

          <% if current_user.can_approve(user) %>
            <% if !user.approved? %>
              <% if @prev_link %> | <% end %>
              <%= link_to 'Authorize account', admin_approve_user_path(user), :remote => true, method: :post, data: { confirm: "Are you sure you want to approve #{user.name}'s account?" } %>
            <% else %>
              <% if @prev_link %> | <% end %>
              <%= link_to 'Unauthorize account', admin_unapprove_user_path(user), :remote => true, method: :post, data: { confirm: "Are you sure you want to unapprove #{user.name}'s account?" } %>
            <% end %>
            <% @prev_link = true %>
          <% end %>

        </div>
      </div>

    </div><!-- page header -->

    <div class="row">
      <div class="col-md-6">
    
        <section class="user_info">
          <% if @user.image %>
            <%= image_tag @user.image.file.url(:medium), :class => 'img-responsive', 
                alt: @user.image.file.url(:medium) %>
          <% else %>
            <td>
              <div class="user-avatar">
                <i class="fa fa-user fa-fw fa-border"></i>
              </div>
            </td>
          <% end %>
        </section>

      </div><!-- col-md-6 -->

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <strong><%= @user.employee_title.display_name %> 
            <% @sp = @user.agent_specialties; if @sp.length > 0 %> 
              | <%= @sp.join(", ") %>
            <% end %></strong>
            <br/>
            <%= @user.company.name %> - <%= @user.office.name %> Office
          </div>
        </div>

        <% if @user.manager %>
          <div class="row">
            <div class="col-md-12">
              Manager: <%= link_to @user.manager.name, @user.manager %>

              <% if current_user.can_kick(user) %>
                <%= link_to '(Kick off team)', admin_kick_user_path(user), :remote => true, method: :post, data: { confirm: "Are you sure you want to kick #{user.name} off #{user.manager.name.titleize}'s team?" } %>
              <% end %> 
            </div>
          </div>
        <% end %>
        
        <div class="row">
          <div class="col-md-12">
          <strong>e &nbsp;|</strong> <%= @user.email %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <strong>m |</strong> <%= @user.mobile_phone_number %>
          </div>
        </div>

        <!-- ******** BIO ********** -->
        <% if @user.bio %>
          <br />
          <div class="row">
            <div class="col-md-12">
              <strong class="right">Short Bio:</strong>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= @user.bio %>
            </div>
          </div>
        <% end %>

      </div>
    </div><!-- end top half -->

    

    <!-- ******** EMPLOYEES ********** -->
    <% if @user.subordinates.length > 0 %>
      <br />
      <div class="row">
        <div class="col-md-1">
          <p><strong class="right">Team</strong></p>
        </div>
        <div class="col-md-11">
          <div class="row">
            <% for i in 0..@user.subordinates.length-1 %>
            <% if i % 4 == 0 && i > 0 %>
                </div><div class="row">
              <% end %>
              <div class="col-md-3">
                <%= link_to @user.subordinates[i].name, @user.subordinates[i] %>
              </div>
              
            <% end %>
          </div>
        </div>
      </div><!-- row -->
    <% end %>

    <!-- *************** API TOKEN *************** -->
    <% if current_user.id == @user.id %>
      <br />
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Show API token', "#", class:'auth-token-toggle' %>
          <div class="auth-token hidden">
            <%= render partial: 'api_token', locals: {user: @user} %>
          </div>
        </div>
      </div>
    <% end %>

  </div><!-- main centering col -->
</div><!-- overall row -->

<!-- ******** LISTINGS ********** -->
<br />
<div class="row">
  <div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <% if @user.primary_residential_units.length > 0 %>
        <li role="residential-listings" class="active"><a href="#residential-listings" 
          aria-controls="residential-listings" role="tab" data-toggle="tab">Featured Residential</a></li>
      <% end %>
      <% if @user.primary_commercial_units.length > 0 %>
        <li role="commercial-listings"><a href="#commercial-listings" aria-controls="commercial-listings" 
          role="tab" data-toggle="tab">Featured Commercial</a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <!-- ******************** first tabpanel - residential ********************-->
      <% if @user.primary_residential_units.length > 0 %>
        <div role="tabpanel" class="tab-pane fade in active" id="residential-listings">
          <%= render partial:'residential_units/table', locals: { residential_units: @user.primary_residential_units} %>
        </div>
      <% end %>
      <!-- ******************** second tabpanel - commercial ********************-->
      <% if @user.primary_commercial_units.length > 0 %>
        <div role="tabpanel" class="tab-pane fade" id="commercial-listings">
          <!--%= render partial:'commercial_units/table', locals: { residential_units: @user.primary_commercial_units} %-->
        </div>
      <% end %>
    </div>

  </div><!-- col -->
</div><!-- row -->
