<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="page-header">
      
      <div class="row">
        <div class="col-md-6">
          <h1><%= @user.name.titleize %></h1>
        </div>
        <div class="col-md-6 right">
          <br /><br />
          <%= render 'actions', :user => @user %>
        </div>
      </div>

    </div><!-- page header -->

    <div class="row">
      <div class="col-md-6">
    
        <section class="user_info">
          <% if @user.image %>
            <%= image_tag @user.image.file.url(:medium), :class => 'img-responsive', 
                alt: @user.image.file.url(:medium) %>
          <% else %>
            <td>
              <div class="user-avatar">
                <i class="fa fa-user fa-fw fa-border"></i>
              </div>
            </td>
          <% end %>
        </section>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3">
            <strong class="right">Title:</strong>
          </div>
          <div class="col-md-9">
            <%= @user.employee_title.display_name %> 
            <% @sp = @user.agent_specialties; if @sp.length > 0 %> 
              | <%= @sp.join(", ") %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong class="right">Company:</strong>
          </div>
          <div class="col-md-9">
            <%= @user.company.name.titleize %> 
          </div>
        </div>
        <% if @user.office %>
        <div class="row">
          <div class="col-md-3">
            <strong class="right">Office:</strong>
          </div>
          <div class="col-md-9">
            <%= @user.office.name %>
          </div>
        </div>
        <% end %>
        <% if @user.manager %>
          <div class="row">
            <div class="col-md-3">
              <strong class="right">Manager:</strong>
            </div>
            <div class="col-md-9">
              <%= link_to @user.manager.name, @user.manager %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-3">
            <strong class="right">Email:</strong>
          </div>
          <div class="col-md-9">
            <%= @user.email %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <strong class="right">Mobile:</strong>
          </div>
          <div class="col-md-9">
            <%= @user.mobile_phone_number %>
          </div>
        </div>
      </div>
    </div><!-- row -->

    <!-- ******** BIO ********** -->
    <br />
    <div class="row">
      <div class="col-md-12">
        <strong class="right">Short Bio:</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= @user.bio %>
      </div>
    </div><!-- row -->

    <!-- ******** EMPLOYEES ********** -->
    <% if @user.subordinates.length > 0 %>
      <br />
      <div class="row">
        <div class="col-md-1">
          <p><strong class="right">Team:</strong></p>
        </div>
        <div class="col-md-11">
          <div class="row">
            <% for i in 0..@user.subordinates.length-1 %>
            <% if i % 4 == 0 && i > 0 %>
                </div><div class="row">
              <% end %>
              <div class="col-md-3">
                <%= link_to @user.subordinates[i].name, @user.subordinates[i] %>
              </div>
              
            <% end %>
          </div>
        </div>
      </div><!-- row -->
    <% end %>

    <!-- ******** LISTINGS ********** -->
    <br />
    <div class="row">
      <div class="col-md-12">
        <!-- Residential -->
        <p><strong>Featured Listings</strong></p>
        <!--%= render '/residential_units/table', locals: { residential_units: @user.primary_residential_units } %-->
        <!-- Commercial -->
      </div>
    </div>
    
  </div><!-- main centering col -->
</div><!-- overall row -->

  
