<tr class="<%= cycle('even', 'odd') -%>">
	<% if user.image %>
		<td>
      <div class="img-thumbnail">
        <%= link_to image_tag(user.image.file.url(:thumb), :class => 'img-responsive', 
          alt: user.image.file.url(:thumb)), user %>
      </div>
		</td>
	<% else %>
		<td>
			<%= link_to image_tag("agent_soon.jpg", alt: "Agent image coming soon",  size: "100x100"), user %>
		</td>
	<% end %>
  
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <td>
    <%= employee_title_and_specialty(user) %>
  </td>
  <td>
    <% if user.office %>
      <%= link_to user.office.name, company_office_path(user.office.company, user.office) %>
    <% else %>
      None
    <% end %>
  </td>
  <td>
    <%= last_login(user) %>
  </td>
  <td>
    <% if user.activated? %>
  	  <span class="glyphicon glyphicon-ok green text-center" aria-hidden="true"></span>
  	<% else %>
  		<span class="glyphicon glyphicon-remove red middle" aria-hidden="true"></span>
  	<% end %>
  </td>
  <td>
    <% if user.approved? %>
  		<span class="glyphicon glyphicon-ok green middle" aria-hidden="true"></span>
  	<% else %>
  		<span class="glyphicon glyphicon-remove red middle" aria-hidden="true"></span>
  	<% end %>
  </td>
  <td>
    <%= render 'users/actions', :user => user %>
	</td>
</tr>
