<tr class="<%= cycle('even', 'odd') -%>">
	<% if user.avatar_id? %>
		<td>
			<%= link_to attachment_image_tag(user, :avatar, :fill, 100, 100), 
			edit_user_path(user) %>
		</td>
	<% else %>
		<td>
			<div class="user-avatar-thumbnail">
				<i class="fa fa-user fa-fw fa-border"></i>
			</div>
		</td>
	<% end %>	
  
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <td>
  	<%= user.employee_title.name.titleize %>
  	<% if user.is_company_admin? %>
  		<span class="glyphicon glyphicon-star dark-orange" aria-hidden="true"></span>
  	<% end %>

  	<% if user.is_agent? %>
  		| <%= user.agent_specialties.join(", ") %>
  	<% end %>
  </td>
  <td>
    <% if user.office %>
      <%= link_to user.office.name, company_office_path(user.office.company, user.office) %>
    <% else %>
      None
    <% end %>
  </td>
  <td><% if user.activated? %>
  	<span class="glyphicon glyphicon-ok green text-center" aria-hidden="true"></span>
  	<% else %>
  		<span class="glyphicon glyphicon-remove red middle" aria-hidden="true"></span>
  	<% end %>
  </td>
  <td><% if user.approved? %>
  		<span class="glyphicon glyphicon-ok green middle" aria-hidden="true"></span>
  	<% else %>
  		<span class="glyphicon glyphicon-remove red middle" aria-hidden="true"></span>
  	<% end %>
  </td>
  <td>
  	
  <%= render 'users/actions', :user => user %>
  	
		
		
	</td>
</tr>