<tr class="<%= cycle('even', 'odd') -%>">
	<% if user.avatar_key %>
		<td><%= link_to avatar_thumbnail_for(user), user %></td>
	<% else %>
		<td></td>
	<% end %>	
  
  <td><%= user.name %></td>
  <td><%= user.email %></td>
  <td><%= link_to 'Edit', edit_user_path(user) %></td>
  <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>