<tr class="<%= cycle('even', 'odd') -%>">
	<% if user.avatar_id? %>
		<td>
			<%= link_to attachment_image_tag(user, :avatar, :fill, 100, 100), 
			edit_user_path(user) %>
		</td>
	<% else %>
		<td>
			<div class="user-avatar-thumbnail">
				<i class="fa fa-user fa-fw fa-border"></i>
			</div>
		</td>
	<% end %>	
  
  <td><%= link_to user.name, user %></td>
  <td><%= user.email %></td>
  <td><% if user.activated? %>
  	<span class="glyphicon glyphicon-ok green" aria-hidden="true"></span>
  	<% else %>
  		<span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
  	<% end %>
  </td>
  <td><% if user.approved? %>
  		<span class="glyphicon glyphicon-ok green" aria-hidden="true"></span>
  	<% else %>
  		<span class="glyphicon glyphicon-remove red" aria-hidden="true"></span>
  	<% end %>
  </td>
  <td>
  	
  <%= render 'actions', :user => user %>
  	
		
		
	</td>
</tr>