<script>
  function initialize() {
    $('.agent-type').hide();
  };
  // TODO: get rid of document.ready
  $(document).ready(initialize);

  function title_onchange_handler(input) {
    if (input.toLowerCase() === '<%= @agent_title.name %>') {
      $('.agent-type').show();
    } else {
      $('.agent-type').hide();
    }
  };
</script>

<% provide(:title, 'Admin User Signup') %>
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1><%= current_user.company.name.titleize %> - Admin Batch Signup</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    
    <p>Users will be notified of their accounts immediately after creation.</p>

    <%= form_for(@users, :url => batch_create_users_path(@users), remote: true, html: { class: "directUpload" }) do |f| %>
      <!--%= render :partial => 'shared/error_messages', 
      :locals => {:model => @building} %-->

      <%= f.fields_for :users do |builder| %>
        <%= render :partial => 'batch_add_user', :locals => {:builder => builder } %>
      <% end %> <!-- fields_for -->
  
      <p class="red"><strong>THIS LINK NOT FUNCTIONAL YET!!</strong></p>
      <%= link_to 'Add another row', batch_add_user_users_path, remote: true %>

      <br /><br />
      <div class="actions">
        <%= f.submit class: "btn btn-warning" %>
      </div>
    <% end %>

  </div>
</div>
