<div id="users">

<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @title %></h1>
    </div>
  </div>
</div>

<div id="user-search-filters" class="hidden-print" data-search-path="<%= filter_users_path %>">
<%= form_tag users_path, :method => 'get' do %>
<div class="row vertical-margin-lg">
  <div class="col-sm-9">
    <div class="row vertical-padding">
      <div class="col-xs-2">
        <%= label_tag :name_email, "Name/Email" %>
      </div>
      <div class="col-xs-4">
        <%= autocomplete_field_tag :name_email, params[:search],
          autocomplete_user_name_users_path,
          update_elements: {},
          placeholder: "Joe Smith",
          size: 30, class:'form-control' %>
      </div>
    </div>
    <div class="row vertical-margin-lg">
      <div class="col-xs-2">
        <%= label_tag :status %>
      </div>
      <div class="col-xs-4">
        <%= select_tag(:status,
          options_for_select(['Active', 'Deleted'],
            [params[:status].blank? ? 'Active' : params[:status]]),
          {class: "form-control",
          prompt: "Any"}) %>
      </div>
    </div>

    <div class="row vertical-margin-lg">
      <div class="col-xs-3">
        <%= @users.total_count %> Users found
      </div>
    </div>
  </div>

  <div class="col-sm-3 vertical-align2 totals form-label-responsive">
    <% if current_user.is_management? && action_name == "employees" %>
      <%= link_to 'Export to CSV',
          employees_company_path(current_user.company, params.permit!.merge(format: 'csv')),
          class:"btn btn-sm btn-warning link-as-button", target: :_blank %>
    <% end %>
  </div>

</div>

<% end %>
</div><!-- user-search-filters -->

<span id="infinite-table-container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover table-condensed infinite-table-users">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Email</th>
            <th>Title</th>
            <th>Office</th>
            <th>Last Login</th>
            <th>
              <span class="has-tooltip" data-toggle="tooltip"
                  title="Did the user click on the activation link that was emailed to them?">
              Activated?
              </span>
            </th>
            <th>
              <span class="has-tooltip" data-toggle="tooltip"
                  title="Has an admin approved their account?">
                Account<br /> Authorized?
              </span>
            </th>
            <th colspan="1" class="hidden-print"></th>
          </tr>
        </thead>
        <tbody class="users_table_body">
          <%= render @users, :manager => nil %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 pagination-wrapper">
      <%= render partial: 'shared/pagination', locals: {models: @users} %>
    </div>
  </div>
</span>

</div>
