<script>
  //call when typing or enter or focus leaving
  function initialize() {

    function doSearch(event) {
      $.ajax({
        url: "<%= filter_users_path %>",
        data: {
          search_params: {
            name_email: $('#name_email').val()
          } 
        },
        dataType: "script"
      });
    };

    // search as user types
    var timer;
    function throttledSearch() {
      clearInterval(timer);  //clear any interval on key up
      timer = setTimeout(doSearch, 500);
    };
    
    // change enter key to tab
    function preventEnter(event) {
      if (event.keyCode == 13) {
        return false;
      }
    };

    $('input').keydown(preventEnter); 
    $('#name_email').keyup(throttledSearch);
  };

  $(document).ready(initialize);
</script>

<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @title %></h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 vertical-padding">
    <%= form_tag users_path, :method => 'get' do %>
      <%= label_tag(:name_email, "Filter:") %>
      <%= text_field_tag :name_email, params[:search], placeholder: "name/email", size: 50 %>
    <% end %>
  </div>
  <div class="hidden-xs hidden-sm col-md-6 form-label-responsive">
    <%= will_paginate @users %>
  </div>
</div>

<br />
<div class="row">
  <div class="col-md-12">
    
    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>Icon</th>
          <th>Name</th>
          <th>Email</th>
          <th>Title</th>
          <th>Office</th>
          <th>Activated?</th>
          <th>Account<br /> Authorized?</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody class="users_table_body">
        <%= render @users, :manager => nil %>
      </tbody>
    </table>

  </div>  
</div>

<div class="row">
  <div class="col-md-offset-10">
    <%= will_paginate @users %>
  </div>
</div>

