<div id="users">

<div class="page-header">
  <div class="row">
    <div class="col-md-12">
      <h1><%= @title %></h1>
    </div>
  </div>
</div>

<div class="row">

  <div id="user-search-filters" data-search-path="<%= filter_users_path %>">

    <div class="col-xs-12 col-md-4 vertical-padding">
      <%= form_tag users_path, :method => 'get' do %>
        <%= text_field_tag :name_email, params[:search], placeholder: "Filter by name/email", class: 'form-control' %>
      <% end %>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
      
    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Title</th>
          <th>Office</th>
          <th>Last Login</th>
          <th>Activated?</th>
          <th>Account<br /> Authorized?</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody class="users_table_body">
        <%= render @users, :manager => nil %>
      </tbody>
    </table>

  </div>  
</div>

<div class="row">
  <div class="col-md-offset-6 col-md-6 form-label-responsive">
    <%= render partial: 'shared/pagination', locals: {models: @users} %>
  </div>
</div>

</div>