<% provide(:title, "Your Profile") %>

<div class="row">
  <div class="col-md-6">
    <section class="user_info">
        <%= avatar_for @user %>
    </section>
  </div>

  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h1><%= @user.name %></h1>
        <br />
        <%= link_to 'Edit', edit_user_path(@user) %><br />
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        <strong>Email:</strong>
      </div>
      <div class="col-md-10">
        <%= @user.email %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <strong>Mobile:</strong>
      </div>
      <div class="col-md-10">
        <%= @user.mobile_phone_number %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <strong>Bio:</strong>
      </div>  
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= @user.bio %>
      </div>  
    </div>
    
  </div>
</div>


