<!-- display company info -->
<div class="row">
  <div class="col-xs-9">
    <%= image_tag current_user.company.image.file.url(:thumb), :class => 'photo-inline pdf-company-logo', 
      alt: current_user.company.image.file.url(:thumb), align:"left" %>    
    <h3>
      <%= current_user.company.name %> Roommates<br />
      <small><%= Time.now.strftime("%B %d, %Y") %></small><br />
    </h3>
  </div>
  <div class="col-xs-3 text-right">
    <br />
    <%= current_user.name %>
    <% if !current_user.email.blank? %>
      <br /><%= mail_to current_user.email, current_user.email, subject: current_user.company.name + " Contact Us Inquiry" %>
    <% end %>
    <% if !current_user.mobile_phone_number.blank? %>
      <br /><%= link_to "tel:" + current_user.mobile_phone_number, current_user.mobile_phone_number %>
    <% end %>
    
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <table class="table pdf-table splitForPrint new_section">
      <tr class="heading-row">
        <th>Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Message</th>
        <th>Submitted On</th>
      </tr>
      <% @entries.each do |entry| %>
        <tr class="<%= cycle('even', 'odd') -%>">
          <td><%= entry.name %></td>
          <td><%= entry.phone_number %></td>
          <td><%= entry.email %></td>
          <td><%= entry.message %></td>
          <td><%= entry.created_at %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

