<!-- ******** LISTINGS ********** -->
<% if model.residential_units.length > 0 || model.commercial_units.length > 0 || model.buildings.length > 0 %>

<div class="row">
  <div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <% if residential_units %>
        <li role="residential-listings" class="active"><a href="#residential-listings"
          aria-controls="residential-listings" role="tab" data-toggle="tab">Residential</a></li>
      <% end %>
      <% if commercial_units %>
        <li role="commercial-listings"><a href="#commercial-listings" aria-controls="commercial-listings"
          role="tab" data-toggle="tab">Commercial</a></li>
      <% end %>
      <% if controller_name == "landlords" %>
        <% if buildings %>
          <li role="buildings"><a href="#buildings" aria-controls="buildings"
            role="tab" data-toggle="tab">Buildings</a></li>
        <% end %>
      <% end %>
    </ul>

    <div class="tab-content">
      <!-- ******************** first tabpanel - residential ********************-->
        <div role="tabpanel" class="tab-pane fade in active" id="residential-listings">
        	<br />
        	<div class="row">
            <div class="col-md-2">
              <label>Filter By Status:</label>
            </div>
            <div class="col-md-2">
              <% if current_user.is_management? || current_user.is_listings_manager? %>
                <%= select_tag(:status_listings,
                  options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off', 'Rsonly'],
                  params[:status_listings] ? params[:status_listings].titleize : "Active/Pending"),
                  class: 'form-control') %>
              <% else %>
                <%= select_tag(:status_listings,
                  options_for_select(['Any', 'Active/Pending', 'Active', 'Pending'],
                  params[:status_listings] ? params[:status_listings].titleize : "Active/Pending"),
                  class: 'form-control') %>
              <% end %>
            </div>

					</div>

          <%= render partial:'residential_listings/table',
            locals: { residential_units: residential_units, res_images: res_images,
                bldg_images: res_bldg_images} %>

          <div class="row">
					  <div class="col-sm-4 col-sm-offset-4">
              <div class="listing-pagination res pagination-wrapper">
               <%= render partial: 'shared/pagination', locals: {models: residential_units} %>
              </div>
					  </div>
					</div>

        </div>
      <!-- ******************** second tabpanel - commercial ********************-->
        <div role="tabpanel" class="tab-pane fade" id="commercial-listings">
          <%= render partial:'commercial_listings/table',
            locals: { commercial_units: commercial_units, com_images: com_images,
                bldg_images: com_bldg_images } %>

          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="listing-pagination com pagination-wrapper">
                <%= render partial: 'shared/pagination', locals: {models: commercial_units} %>
              </div>
            </div>
          </div>
        </div>
        <% if controller_name == "landlords" %>
          <div role="tabpanel" class="tab-pane fade" id="buildings">
            <%#= render partial:'commercial_listings/table',
              locals: { commercial_units: commercial_units, com_images: com_images,
                  bldg_images: com_bldg_images } %>

            <div class="col-md-12">
              <table class="table table-striped table-hover table-condensed infinite-table">
                <thead>
                  <tr>
                    <th data-sort="formatted_street_address" class="th-sortable">
                      Address</th>
                    <th data-sort="formatted_street_address" class="th-sortable">
                      LL Code</th>
                    <th data-sort="streeteasy_eligibility" class="th-sortable">
                      SE Eligible</th>
                    <th data-sort="dotsignal_code" class="th-sortable">
                      Dotsignal Code</th>
                    <th data-sort="pet_policy_id" class="th-sortable">
                      Pet Policy</th>
                    <th data-sort="active_unit_count" class="th-sortable">
                      On-Market Units</th>
                    <th data-sort="total_unit_count" class="th-sortable">
                      Total Units</th>
                    <th data-sort="last_unit_updated_at" class="th-sortable">
                      Last Unit Updated</th>
                  </tr>
                </thead>

                <tbody class="buildings_table_body">
                  <%#= render '/buildings/building', locals: { buildings: buildings }%>
                  <% @buildings.each do |building| %>
                    <tr>
                      <td>
                        <%= link_to "#{building.street_address}".freeze, building %><br />
                        <%= short_location_title(building) %>
                      </td>

                      <td>
                        <% if current_user.is_management? %>
                          <%= link_to "#{Landlord.find(building.landlord_id).code}", landlord_path(building.landlord_id) %>
                        <% else %>
                          <%= Landlord.find(building.landlord_id).code %>
                        <% end %>
                      </td>

                      <td>
                        <% if building.streeteasy_eligibility == 1 %>
                          No
                        <% else %>
                          Yes
                        <% end %>
                      </td>

                      <td>
                        <% if !building.dotsignal_code.nil? %>
                          <%= building.dotsignal_code %>
                        <% else %>
                          ---
                        <% end %>
                      </td>

                      <td>
                        <% if !building.pet_policy_id.nil? %>
                          <%= PetPolicy.find(building.pet_policy_id).name %>
                        <% else %>
                          ---
                        <% end %>
                      </td>

                      <!-- ACTIVE UNITS -->
                      <td><%= building.active_unit_count %></td>

                      <!-- TOTAL UNITS -->
                      <td><%= building.total_unit_count %></td>

                      <!-- LAST UNIT UPDATED -->
                      <td>
                        <% if building.last_unit_updated_at %>
                          <%= time_ago_in_words(building.last_unit_updated_at) %>
                        <% else %>
                          --
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
        <!-- <div class="row">
          <div class="col-sm-4 col-sm-offset-4 pagination-wrapper">
            <%#= render partial: 'shared/pagination', locals: {models: buildings} %>
          </div>
        </div>           -->


          <!-- <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="listing-pagination com pagination-wrapper">
                <%#= render partial: 'shared/pagination', locals: {models: commercial_units} %>
              </div>
            </div>
          </div> -->
        </div>
    </div>

  </div><!-- col -->
</div><!-- row -->

<!-- Email Modal -->
<div class="modal fade modal-fullscreen" id="emailModal" tabindex="-1" role="dialog"
  aria-labelledby="emailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <%= form_tag(send_listings_residential_listings_path, remote: true) do %>
        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "residential_listing[recipients]", "Recipients", class: 'required' %>
            <i><small>Use commas to separate email addresses</small></i>
            <%= text_field_tag "residential_listing[recipients]", nil, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "residential_listing[title]", "Title", class: 'required' %>
            <%= text_field_tag "residential_listing[title]", "Check out these great listings!", class: 'form-control', required: true %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "residential_listing[message]", "Message" %>
            <%= text_area_tag "residential_listing[message]", nil, class: 'form-control' %>
          </div>
        </div>

        <br />
        <div class="row vertical-padding">
          <div class="col-md-12">

          </div>
        </div>

        <%= hidden_field_tag "residential_listing[listing_ids]" %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default horizontal-padding" data-dismiss="modal">Cancel</button>&nbsp;&nbsp;
        <%= submit_tag "Send Email", class:"btn btn-warning" %>
      </div>

      <% end %>

    </div>
  </div>
</div>

<% end %>

<%= render 'commercial_listings/modals' %>
<%= render 'residential_listings/modals' %>
