<!-- ******** LISTINGS ********** -->
<% if model.residential_units.length > 0 || model.commercial_units.length > 0 %>

<div class="row">
  <div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <% if residential_units %>
        <li role="residential-listings" class="active"><a href="#residential-listings"
          aria-controls="residential-listings" role="tab" data-toggle="tab">Residential</a></li>
      <% end %>
      <% if commercial_units %>
        <li role="commercial-listings"><a href="#commercial-listings" aria-controls="commercial-listings"
          role="tab" data-toggle="tab">Commercial</a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <!-- ******************** first tabpanel - residential ********************-->
        <div role="tabpanel" class="tab-pane fade in active" id="residential-listings">
        	<br />
        	<div class="row">
            <div class="col-md-2">
              <label>Filter By Status:</label>
            </div>
            <div class="col-md-2">
              <% if current_user.is_management? || current_user.is_listings_manager? %>
                <%= select_tag(:status_listings,
                  options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off'],
                  params[:status_listings] ? params[:status_listings].titleize : "Active/Pending"),
                  class: 'form-control') %>
              <% else %>
                <%= select_tag(:status_listings,
                  options_for_select(['Any', 'Active/Pending', 'Active', 'Pending'],
                  params[:status_listings] ? params[:status_listings].titleize : "Active/Pending"),
                  class: 'form-control') %>
              <% end %>
            </div>

					</div>

          <%= render partial:'residential_listings/table',
            locals: { residential_units: residential_units, res_images: res_images,
                bldg_images: res_bldg_images} %>

          <div class="row">
					  <div class="col-sm-4 col-sm-offset-4">
              <div class="listing-pagination res pagination-wrapper">
               <%= render partial: 'shared/pagination', locals: {models: residential_units} %>
              </div>
					  </div>
					</div>

        </div>
      <!-- ******************** second tabpanel - commercial ********************-->
        <div role="tabpanel" class="tab-pane fade" id="commercial-listings">
          <%= render partial:'commercial_listings/table',
            locals: { commercial_units: commercial_units, com_images: com_images,
                bldg_images: com_bldg_images } %>

          <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
              <div class="listing-pagination com pagination-wrapper">
                <%= render partial: 'shared/pagination', locals: {models: commercial_units} %>
              </div>
            </div>
          </div>
        </div>

    </div>

  </div><!-- col -->
</div><!-- row -->

<!-- Email Modal -->
<div class="modal fade modal-fullscreen" id="emailModal" tabindex="-1" role="dialog"
  aria-labelledby="emailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <%= form_tag(send_listings_residential_listings_path, remote: true) do %>
        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "residential_listing[recipients]", "Recipients", class: 'required' %>
            <i><small>Use commas to separate email addresses</small></i>
            <%= text_field_tag "residential_listing[recipients]", nil, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "residential_listing[title]", "Title", class: 'required' %>
            <%= text_field_tag "residential_listing[title]", "Check out these great listings!", class: 'form-control', required: true %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "residential_listing[message]", "Message" %>
            <%= text_area_tag "residential_listing[message]", nil, class: 'form-control' %>
          </div>
        </div>

        <br />
        <div class="row vertical-padding">
          <div class="col-md-12">

          </div>
        </div>

        <%= hidden_field_tag "residential_listing[listing_ids]" %>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default horizontal-padding" data-dismiss="modal">Cancel</button>&nbsp;&nbsp;
        <%= submit_tag "Send Email", class:"btn btn-warning" %>
      </div>

      <% end %>

    </div>
  </div>
</div>

<% end %>
