<!-- ******** LISTINGS ********** -->
<div class="row">
  <div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <% if residential_units %>
        <li role="residential-listings" class="active"><a href="#residential-listings" 
          aria-controls="residential-listings" role="tab" data-toggle="tab">Residential</a></li>
      <% end %>
      <% if commercial_units %>
        <li role="commercial-listings"><a href="#commercial-listings" aria-controls="commercial-listings" 
          role="tab" data-toggle="tab">Commercial</a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <!-- ******************** first tabpanel - residential ********************-->
        <div role="tabpanel" class="tab-pane fade in active" id="residential-listings">
        	<br />
        	<div class="row">
					  <div class="col-md-12">
              <%= form_tag "#", :method => 'get' do %>
  					  	<%= check_box_tag(:listings_checkbox_active, class: "checkbox inline") %>
  					    <%= label_tag :listings_checkbox_active, "Active units only" %>
              <% end %>
					  </div>
					</div>

          <%= render partial:'residential_units/table', locals: { residential_units: residential_units} %>

          <div class="row">
					  <div class="col-md-12">
              <div class="listing-pagination">
                <%= render partial: 'shared/pagination', locals: {models: residential_units} %>
              </div>
					  </div>
					</div>

        </div>
      <!-- ******************** second tabpanel - commercial ********************-->
        <div role="tabpanel" class="tab-pane fade" id="commercial-listings">
          <!--%= render partial:'commercial_units/table', locals: { commercial_units: @building.commercial_units} %-->
        </div>

        <div class="row">
				  <div class="col-md-12">
				  	<!--%= render partial: 'shared/pagination', locals: {models: commercial_units} %-->
				  </div>
				</div>
    </div>

  </div><!-- col -->
</div><!-- row -->