<% cache building do %>

<tr class="<%= cycle('even', 'odd') -%>">
  <td>
    <% if building.images.length > 0 %>

      <%= link_to(
        image_tag(building.cached_primary_img.file.url(:thumb), :class => 'img-responsive', 
        alt: building.cached_primary_img.file.url(:medium)), building) %>
      
    <% else %>
      <!-- placeholder image -->
      <%= link_to(image_tag("listing_soon.png", alt: "Image coming soon", :size => "100x100"), building) %>
    <% end %>
  </td>
  <td>
    <%= link_to "#{building.street_address}", building %><br />
    <%= short_location_title(building) %>
  </td>
  <td><%= building.cached_active_units_count %></td>
  <td><%= building.cached_units_count %></td>
  <td><%= building.updated_at %></td>
  <td>
    <%= link_to 'Edit', edit_building_path(building) %> | 
    <%= link_to 'Delete', delete_modal_building_path(building), 
      data: {toggle: "modal", target: "#bldgDeleteModal"}, remote: true %>
  </td>
</tr>
<% end %><!-- end cache -->