<tr class="<%= cycle('even', 'odd') -%>">
  <!-- IMAGES -->
  <td class="img-col">
    <% if @bldg_imgs[building.id] %>

      <%= link_to(
        image_tag(@bldg_imgs[building.id],
        alt: @bldg_imgs[building.id]), building) %>

    <% else %>
      <!-- placeholder image -->
      <%= link_to(image_tag("listing_soon_thumb.png".freeze, alt: "Image coming soon",
          class: 'img-responsive',
          size: "100x100"), building) %>
    <% end %>
  </td>

  <!-- ADDRESS -->
  <td>
    <%= link_to "#{building.street_address}".freeze, building %><br />
    <%= short_location_title(building) %>
  </td>

  <td>
    <% if current_user.is_management? %>
      <%= link_to "#{Landlord.find(building.landlord_id).code}", landlord_path(building.landlord_id) %>
    <% else %>
      <%= Landlord.find(building.landlord_id).code %>
    <% end %>
  </td>

  <td>
    <% if building.streeteasy_eligibility == 1 %>
      No
    <% else %>
      Yes
    <% end %>
  </td>

  <td>
    <% if !building.dotsignal_code.nil? %>
      <%= building.dotsignal_code %>
    <% else %>
      ---
    <% end %>
  </td>

  <td>
    <% if !building.pet_policy_id.nil? %>
      <%= PetPolicy.find(building.pet_policy_id).name %>
    <% else %>
      ---
    <% end %>
  </td>

  <!-- ACTIVE UNITS -->
  <td><%= building.active_unit_count %></td>

  <!-- TOTAL UNITS -->
  <td><%= building.total_unit_count %></td>

  <!-- LAST UNIT UPDATED -->
  <td>
    <% if building.last_unit_updated_at %>
      <%= time_ago_in_words(building.last_unit_updated_at) %>
    <% else %>
      --
    <% end %>
  </td>

  <!-- ACTIONS -->
  <% if current_user.is_management? ||
        current_user.is_listings_manager? ||
        current_user.is_photo_manager? %>
    <td class="hidden-print">
      <%= link_to 'Edit', edit_building_path(building) %>

      <% if !current_user.is_photo_manager? %>
        <br />
        <%= link_to 'Delete', delete_modal_building_path(building),
            data: {toggle: "modal", target: "#bldgDeleteModal", params: params}, remote: true %>
      <% end %>
    </td>
  <% end %>
</tr>
