<% cache building do %>

<tr class="<%= cycle('even', 'odd') -%>">
  <td>
    <% if building.images.length > 0 %>
      <%= image_tag building.images[0].file.url(:thumb), :class => 'img-responsive center-block', 
        alt: image.file.url(:medium) %>
    <% else %>
      <!-- placeholder image -->
      <%= image_tag "listing_soon.png", alt: "Image coming soon", :size => "100x100" %>
    <% end %>
    
    <%= link_to "#{building.street_address}", building %>&nbsp;&nbsp;
    <%= building.sublocality %>, <%= building.administrative_area_level_1_short %>
    &nbsp;&nbsp;<%= building.postal_code %>
  </td>
  <td><%= building.active_units.count %></td>
  <td><%= building.units.count %></td>
  <td><%= building.updated_at.strftime("%Y-%b-%d") %></td>
  <td>
    <%= link_to 'Edit', edit_building_path(building) %> | 
    <%= link_to 'Delete', delete_modal_building_path(building), 
      data: {toggle: "modal", target: "#bldgDeleteModal"}, remote: true %>
  </td>
</tr>
<% end %><!-- end cache -->