<!--% cache building do %-->

<tr class="<%= cycle('even', 'odd') -%>">
  <td>
    <% if building.images.length > 0 %>

      <%= link_to(
        image_tag(building.images[0].file.url(:thumb), :class => 'img-responsive', 
        alt: building.images[0].file.url(:medium)), building) %>
      
    <% else %>
      <!-- placeholder image -->
      <%= link_to(image_tag("listing_soon.png", alt: "Image coming soon", :size => "100x100"), building) %>
    <% end %>
  </td>
  <td>
    <%= link_to "#{building.street_address}", building %><br />
    <%= short_location_title(building) %>
  </td>
  <td><%= building.active_units.count %></td>
  <td><%= building.units.count %></td>
  <td><%= time_ago_in_words(building.updated_at) %></td>
  <% if current_user.is_management? %>
    <td>
      <%= link_to 'Edit', edit_building_path(building) %> <br />
      <%= link_to 'Delete', delete_modal_building_path(building), 
        data: {toggle: "modal", target: "#bldgDeleteModal"}, remote: true %>
    </td>
  <% end %>
</tr>
<!--% end %--><!-- end cache -->