<div id="buildings" data-bldg-id="<%= @building.id %>" >

<div class="panel panel-default">
  <div class="panel-body">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <% if !current_user.is_photo_manager? %>
      <li role="presentation" class="active"><a href="#basic-info" aria-controls="basic-info" role="tab" data-toggle="tab">Basic Info</a></li>
      <% if action_name != 'new' %>
          <li role="photos"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
      <% end %>
    <% else %>
      <li role="photos" class="active"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <!-- ******************** second tabpanel - photos ******************** -->
    <!-- For the photo panel, note that the only difference hinges on if the logged in user is a
          photo manager or not. If they are, then this panel is active upon page load. Otherwise,
          we default to having the 'basic info' tab active. In all other respects, the if/else below
          is exactly the same. -->
    <% if current_user.is_photo_manager? %>
        <div role="tabpanel" class="tab-pane fade in active" id="photos">
    <% else %>
      <div role="tabpanel" class="tab-pane fade" id="photos">
    <% end %>
      <% if @building.id %>

        <br />

        <%= form_for(@building, :url => building_images_path(@building),
          html: {multipart: true, class: "dropzone", id: "building-dropzone"}, method: :post) do |f| %>
          <div class="fallback">
            <%= f.file_field :file %><br>
            <%= f.submit "Upload" %>
          </div>
        <% end %>

        <br />
        <div class="row">
          <div class="col-xs-12">
            <p><strong>Edit current photos (drag to reorder):</strong></p>
          </div>
        </div>
        <div class="row">
          <div class="images sortable">
            <%# Template Dependency: buildings/images %>
            <%= render 'images',  locals: { building: @building } %>
          </div>
        </div>

      <% else %>
        <br />
        <strong>Save the basic info first!</strong>
      <% end %>
    </div><!-- end tabpanel photos -->
    <!-- ******************** first tabpanel - basic info ********************-->
    <% if !current_user.is_photo_manager? %>
    <div role="tabpanel" class="tab-pane fade in active" id="basic-info">
      <%= form_for(@building) do |f| %>
        <%= f.hidden_field :lock_version %>
        <%= render :partial => 'shared/error_messages', :locals => {:model => @building} %>

        <br />
        <div class="row">
          <div class="col-xs-2 col-sm-3">
            <%= f.label :landlord_id, "Landlord", class: 'required' %>
          </div>
          <div class="col-xs-10 col-sm-9">
            <%= f.select(:landlord_id, options_for_select(@landlords,
              [@building.landlord ? @building.landlord.id : '']),
              {prompt: "Choose one..."},
              required: true,
              class: 'form-control',
              include_blank: true) %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-sm-3">
            <%= f.label :formatted_street_address, "Street Address", class: 'required' %>
          </div>
          <div class="col-sm-9">
            <%= f.text_field :formatted_street_address, class: 'form-control autocomplete-input',
                placeholder: "123 Main St", required: true %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-sm-3">
            <%= f.label :dotsignal_code, "Dotsignal Code" %>
          </div>
          <div class="col-sm-9">
            <%= f.text_field :dotsignal_code, class: 'form-control' %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-sm-3">
            <%= f.label :point_of_contact, "Point of Contact" %>
          </div>
          <div class="col-sm-9">
            <%= f.select(:point_of_contact,
                options_for_select(current_user.company.users.unarchived.collect {|u| [u.name, u.id]},
                  [@building.point_of_contact ? @building.point_of_contact : '']),
                {prompt: "Choose one..."},
                class: 'form-control',
                :include_blank => true) %>
          </div>
        </div>

        <!-- <br />
        <div class="row">
          <div class="col-sm-3">
            <%#= f.label :rating, "Building Rating" %>
          </div>
          <div class="col-sm-9">
            <%#= f.select :rating, [['NA', 0], ['Excellent', 1], ['Good', 2], ['Fair', 3]], {}, {class: "form-control"}%>
          </div>
        </div> -->

        <br />
        <div class="row">
          <div class="col-sm-3">
            <%= f.label :streeteasy_eligibility, "Streeteasy Eligibility" %>
          </div>
          <div class="col-sm-9">
            <%= f.select :streeteasy_eligibility, [['Yes', 0], ['No', 1]], {}, {class: "form-control"}%>
          </div>
        </div>

        <div class="neighborhood_options">
          <%= render 'neighborhood_options' %>
        </div>

    <div class="field">
      <br>
      <p>Visually confirm the building's location:</p>
      <div id="map-canvas" data-address="<%= @building.formatted_street_address %>"></div>
    </div>

    <br />
    <div class="row">
      <div class="col-md-12">
        <div class="field">
          <%= f.label :notes, "Building Notes" %><br>
          <small class="explainer-text"><em>
            Tip: Enter 2 blank lines to separate paragraphs.
          </small></em>
          <br><br>
          <%= f.bootsy_area :notes, class: 'form-control', rows: 15 %>
        </div>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-md-12">
        <div class="field">
          <%= f.label :description, "Public Description" %><br>
          <small class="explainer-text"><em>
            Tip: Enter 2 blank lines to separate paragraphs.
          </small></em>
          <br><br>
          <%= f.bootsy_area :description, class: 'form-control', rows: 15 %>
        </div>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-md-12">
        <%= f.label :building_amenity_ids, "Building-Level Amenities" %>
      </div>
    </div>
    <!-- for bigger screens -->
    <!--div class="hidden-xs"-->
      <div class="row">
        <% i = 0 %>
        <%= f.collection_check_boxes(:building_amenity_ids, current_user.company.building_amenities, :id, :name) do |b| %>

          <% if i % 3 == 0 && i > 0 %>
            </div>
            <div class="row">
          <% end %>

          <div class="col-sm-4">
            <div class="checkbox checkbox-warning checkbox-inline">
              <%= b.check_box(class: "styled") %>
              <%= b.label {b.text.titleize} %>
            </div>
          </div>

        <% i = i+1 %>
        <% end %>

      </div><!-- row -->
    <!--/div-->

    <!-- cut -->

    <!-- <div class="row">
      <div class="col-xs-12"> -->
        <!-- enter a new option -->
        <%#= f.text_field :custom_amenities, class: 'form-control vertical-margin-lg',
          placeholder: "Or enter new amenities, comma separated" %>
      <!-- </div>
    </div> -->

    <br />
    <div class="row">
      <div class="col-md-12">
        <%= f.label :utility_ids, "Utilities" %><br>
      </div>
    </div>
    <!-- for bigger screens -->
      <div class="row">
        <% i = 0 %>
        <%= f.collection_check_boxes(:utility_ids, current_user.company.utilities, :id, :name) do |b| %>

          <% if i % 3 == 0 && i > 0 %>
            </div>
            <div class="row">
          <% end %>

          <div class="col-sm-4">
            <div class="checkbox checkbox-warning checkbox-inline">
              <%= b.check_box(class: "styled") %>
              <%= b.label {b.text.titleize} %>
            </div>
          </div>

        <% i = i+1 %>
        <% end %>

      </div><!-- row -->

    <!-- cut -->

    <div class="row">
    <div class="col-xs-12">
        <!-- enter a new option -->
        <%= f.text_field :custom_utilities, class: 'form-control vertical-margin-lg',
          placeholder: "Or enter new utilities, comma separated" %>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-xs-3 col-sm-2">
        <%= f.label :pet_policy_id, class: 'required' %>
      </div>
      <div class="col-xs-9 col-sm-6">
        <%= f.select(:pet_policy_id,
          options_for_select(current_user.company.pet_policies.all.collect { |r| [r.name.titleize, r.id] },
          [@building.pet_policy ? @building.pet_policy.id : '']),
           {prompt: "Choose one..."},
          :required => true,
          class: 'form-control',
          :include_blank => true) %>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-xs-3 col-sm-2">
        <%= f.label :rental_term_id, "Rental Terms" %>
      </div>
      <div class="col-xs-9 col-sm-6">
        <%= f.select(:rental_term_id, options_for_select(current_user.company.rental_terms.all.collect { |r| [r.name.titleize, r.id] },
          [@building.rental_term ? @building.rental_term.id : '']),
           {prompt: "Choose one..."},
          class: 'form-control',
          :include_blank => true) %>
        <%= f.text_field :custom_rental_term, class: 'form-control vertical-margin-lg',
          placeholder: "Or enter new custom rental term" %>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-xs-3 col-sm-2">
        <%= f.label :llc_name, "LLC name" %>
      </div>
      <div class="col-xs-9 col-sm-6">
        <%= f.text_field :llc_name, class: 'form-control' %>
      </div>
    </div>
    <div class="row vertical-margin-lg">
      <div class="col-xs-3 col-md-4">
        <%= f.label :featured, "Featured Building" %>
      </div>
      <div class="col-xs-9 col-md-7">
        <div class="checkbox checkbox-warning checkbox-inline">
          <%= f.check_box :featured, class: "styled",
              checked: @building ? @building.featured : false %>
          <label></label>
        </div>
      </div>
    </div>

    <div class="row vertical-margin-lg">
      <div class="col-xs-3 col-md-4">
        <%= f.label :push_to_zumper, "Push to Zumper" %>
      </div>
      <div class="col-xs-9 col-md-7">
        <div class="checkbox checkbox-warning checkbox-inline">
          <%= f.check_box :push_to_zumper, class: "styled",
              checked: @building ? @building.push_to_zumper : false, onClick: "push_checked()" %>
          <label></label>
        </div>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-sm-3">
        <%= f.label :building_website, "Building Website" %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :building_website, class: 'form-control' %>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-sm-3">
        <%= f.label :building_name, "Building Name" %>
      </div>
      <div class="col-sm-9">
        <% if @building.push_to_zumper == true %>
          <%= f.text_field :building_name, class: 'form-control', required: true %>
        <% else %>
          <%= f.text_field :building_name, class: 'form-control' %>
        <% end %>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-sm-3">
        <%= f.label :year_build, "Year Build" %>
      </div>
      <div class="col-sm-9">
        <%= f.number_field :year_build, class: 'form-control'%>
      </div>
    </div>

    <div class="row vertical-margin-lg">
      <div class="col-xs-3 col-md-4">
        <%= f.label :section_8, "Section 8" %>
      </div>
      <div class="col-xs-9 col-md-7">
        <div class="checkbox checkbox-warning checkbox-inline">
          <%= f.check_box :section_8, class: "styled",
              checked: @building ? @building.section_8 : false %>
          <label></label>
        </div>
      </div>
    </div>

    <div class="row vertical-margin-lg">
      <div class="col-xs-3 col-md-4">
        <%= f.label :income_restricted, "Income Restricted" %>
      </div>
      <div class="col-xs-9 col-md-7">
        <div class="checkbox checkbox-warning checkbox-inline">
          <%= f.check_box :income_restricted, class: "styled",
              checked: @building ? @building.income_restricted : false %>
          <label></label>
        </div>
      </div>
    </div>
    <!-- geocoder plugin looks for "details" class name to insert results. Do not change without updating google-maps.js! -->
    <div class="details field">
      <%= f.hidden_field :street_number, name: "street_number" %>
      <%= f.hidden_field :route_short, name: "route_short" %>
      <%= f.hidden_field :intersection, name: "intersection" %>
      <%= f.hidden_field :sublocality, name:"sublocality" %>
      <%= f.hidden_field :administrative_area_level_2_short, name:"administrative_area_level_2_short" %>
      <%= f.hidden_field :administrative_area_level_1_short, name:"administrative_area_level_1_short" %>
      <%= f.hidden_field :postal_code, name:"postal_code" %>
      <%= f.hidden_field :country_short, name:"country_short" %>
      <%= f.hidden_field :lat, name:"lat" %>
      <%= f.hidden_field :lng, name:"lng" %>
      <%= f.hidden_field :place_id, name:"place_id" %>
    </div>

    <br>
    <div class="row vertical-margin-lg">
      <div class="col-md-6 col-md-offset-3">
        <div class="actions">
          <%= f.submit 'Update', class:"btn btn-warning btn-block" %>
        </div>
      </div>
    </div>

    <% end %>
    <% end %>
  </div><!-- end tabpanel home -->

  </div><!-- tab content -->

  </div><!-- panel-body-->
</div><!-- panel -->


</div>
<script type="text/javascript">
  (function()
    {
      if( window.localStorage )
      {
        if( !localStorage.getItem( 'firstLoad' ) )
        {
          localStorage[ 'firstLoad' ] = true;
          window.location.reload();
        }
        else
          localStorage.removeItem( 'firstLoad' );
      }
    })();

    function push_checked()
    {
      if (document.getElementById('building_push_to_zumper').checked) 
      {
        if (document.getElementById("building_building_name").innerText == ""){
          document.getElementById("building_building_name").required = true
        }
      } else {
        document.getElementById("building_building_name").required = false
      }
    }
    // if (document.getElementById("building_push_to_zumper").checked == true){
    //   if (document.getElementById("building_building_name").innerText === ""){
    //     alert("please fill Building Name")
    //   }
    // }
</script>