<script>
$( document ).ready(function() {
    console.log( "autocomplete plugin ready!" );

    $(".autocomplete-input").geocomplete({
      map: "#map_canvas",
      location: "<%= @building.formatted_street_address ? @building.formatted_street_address : 'New York, NY, USA' %>" ,
      details: ".details"
    }).bind("geocode:result", function(event, result){
      if (this.value == "New York, NY, USA") {
        this.value = '';
      }
      console.log(result);
    }).bind("geocode:error", function(event, result){
      console.log("<%= @building.formatted_street_address %>", "[ERROR]: " + result);
    });

});
</script>

<%= form_for(@building) do |f| %>
  <div class="panel panel-default">
    <!--div class="panel-heading">
      <h3 class="panel-title">Basic Details</h3>
    </div-->
    <div class="panel-body">

      <%= render :partial => 'shared/error_messages', 
        :locals => {:model => @building} %>

      <div class="field">

        <%= f.label :formatted_street_address, "Street Address" %><br>
        <%= f.text_field :formatted_street_address, class: 'form-control autocomplete-input', placeholder: "123 Main St" %>
        <br/>
        <p>Visually confirm the building's location:</p>
        <div id="map_canvas"></div>

      </div>
      <div class="field">
        <%= f.label :landlord_id, "Landlord" %><br>
        <%= f.select(:landlord_id, options_for_select(current_user.company.landlords.collect {|l| [l.code, l.id]},), 
          {prompt: "Choose one..."},
          :required => true, 
          class: 'form-control',
          :include_blank => true) %>
      </div>
      <div class="field">
        <%= f.label :notes, "Building Notes" %><br>
        <%= f.text_area :notes, class: 'form-control', rows: 5 %>
      </div>
      <!-- geocoder plugin looks for "details" class name to insert results. Do not change without updating google-maps.js! -->
      <div class="details field">
        <%= f.hidden_field :street_number, name: "street_number" %>
        <%= f.hidden_field :route, name: "route" %>
        <%= f.hidden_field :neighborhood, name:"neighborhood" %>
        <%= f.hidden_field :sublocality, name:"sublocality" %>
        <%= f.hidden_field :administrative_area_level_2_short, name:"administrative_area_level_2_short" %>
        <%= f.hidden_field :administrative_area_level_1_short, name:"administrative_area_level_1_short" %>
        <%= f.hidden_field :postal_code, name:"postal_code" %>
        <%= f.hidden_field :country_short, name:"country_short" %>
        <%= f.hidden_field :lat, name:"lat" %>
        <%= f.hidden_field :lng, name:"lng" %>
        <%= f.hidden_field :place_id, name:"place_id" %>
      </div>

    </div><!-- panel-body-->
  </div><!-- panel -->
  
<div class="actions">
  <%= f.submit %>
  <%= link_to 'Cancel', buildings_path %>
</div>

<% end %>