<%= form_for(@building) do |f| %>
  <%= render :partial => 'shared/error_messages', 
    :locals => {:model => @building} %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Basic Details</h3>
    </div>
    <div class="panel-body">
      <div class="field">
        <%= f.label :street_address %><br>
        <%= f.text_field :street_address, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :zip %><br>
        <%= f.text_field :zip, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :private_notes %><br>
        <%= f.text_field :private_notes, class: 'form-control' %>
      </div>
    </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
