<script>
  function initialize() {
    $(".autocomplete-input").geocomplete({
      map: "#map_canvas",
      location: "<%= @building.formatted_street_address ? @building.formatted_street_address : 'New York, NY, USA' %>" ,
      details: ".details"
    }).bind("geocode:result", function(event, result){
      if (this.value == "New York, NY, USA") {
        this.value = '';
      }
    }).bind("geocode:error", function(event, result){
      //console.log("<%= @building.formatted_street_address %>", "[ERROR]: " + result);
    });
  };
  $(document).ready(initialize);
</script>

<div class="panel panel-default">
  <div class="panel-body">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic-info" aria-controls="basic-info" role="tab" data-toggle="tab">Basic Info</a></li>
    <li role="photos"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
  </ul>

  <div class="tab-content">
    <!-- ******************** second tabpanel - photos ******************** -->
    <div role="tabpanel" class="tab-pane fade" id="photos">
      <% if @building.id %>
      
        <br />
        <%= form_for(@building, :url => building_images_path(@building), 
          html: {multipart: true, class: "dropzone", id: "building-dropzone"}, method: :post) do |f| %>
          <div class="fallback">
            <%= f.file_field :file %><br>
            <%= f.submit "Upload" %>
          </div>
        <% end %>

        <br />
        <p><strong>Edit current photos (drag to reorder):</strong></p>
        <div class="row">
          <div class="images sortable">
            <%= render 'images',  locals: { building: @building } %>
          </div>
        </div>
      
      <% else %>
        <br />
        <strong>Save the basic info first!</strong>
      <% end %>
    </div><!-- end tabpanel photos -->
    <!-- ******************** first tabpanel - basic info ********************-->
    <div role="tabpanel" class="tab-pane fade in active" id="basic-info">
      <%= form_for(@building) do |f| %>
        <%= render :partial => 'shared/error_messages', :locals => {:model => @building} %>

        <br />
        <div class="row">
          <div class="col-md-3 right">
            <%= f.label :landlord_id, "Landlord" %>
          </div>
          <div class="col-md-9">
            <%= f.select(:landlord_id, options_for_select(current_user.company.landlords.collect {|l| [l.code, l.id]},
              [@building.landlord ? @building.landlord.id : '']),
              {prompt: "Choose one..."},
              :required => true, 
              class: 'form-control',
              :include_blank => true) %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-3 right">
            <%= f.label :formatted_street_address, "Street Address" %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :formatted_street_address, class: 'form-control autocomplete-input', placeholder: "123 Main St" %>
          </div>
        </div>

    <div class="field">
      
      
      <br/>
      <p>Visually confirm the building's location:</p>
      <div id="map_canvas"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="field">
          <%= f.label :notes, "Building Notes" %><br>
          <%= f.text_area :notes, class: 'form-control', rows: 5 %>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <div class="field">
          <%= f.label :building_amenity_ids, "Building-Level Amenities" %><br>
          <%= f.select(:building_amenity_ids, options_for_select(current_user.company.building_amenities.collect {|a| [a.name.titleize, a.id]},
            @building.building_amenity_ids), 
            {},
            {:multiple => true, :size => 15,
              class: 'form-control'}) %>
        </div>
      </div>
      <div class="col-md-6">                
        <div class="field">
          <%= f.label :rental_term_ids, "Rental Terms" %><br>
          <%= f.select(:rental_term_ids, options_for_select(current_user.company.rental_terms.collect {|a| [a.name.titleize, a.id]},
            @building.rental_term_ids), 
            {},
            {:multiple => true, :size => 15,
              class: 'form-control'}) %>
        </div>
      </div>

      <div class="col-md-6">        
        <div class="field">
          <%= f.label :pet_policy_id %>
          <%= f.select(:pet_policy_id, 
            options_for_select(current_user.company.pet_policies.all.collect { |r| [r.name.titleize, r.id] }, 
            [@building.pet_policy ? @building.pet_policy.id : '']),
             {prompt: "Choose one..."},
            :required => true, 
            class: 'form-control',
            :include_blank => true) %>
        </div>
      </div>
    </div>

    <!-- geocoder plugin looks for "details" class name to insert results. Do not change without updating google-maps.js! -->
    <div class="details field">
      <%= f.hidden_field :street_number, name: "street_number" %>
      <%= f.hidden_field :route, name: "route" %>
      <%= f.hidden_field :intersection, name: "intersection" %>
      <%= f.hidden_field :neighborhood, name:"neighborhood" %>
      <%= f.hidden_field :sublocality, name:"sublocality" %>
      <%= f.hidden_field :administrative_area_level_2_short, name:"administrative_area_level_2_short" %>
      <%= f.hidden_field :administrative_area_level_1_short, name:"administrative_area_level_1_short" %>
      <%= f.hidden_field :postal_code, name:"postal_code" %>
      <%= f.hidden_field :country_short, name:"country_short" %>
      <%= f.hidden_field :lat, name:"lat" %>
      <%= f.hidden_field :lng, name:"lng" %>
      <%= f.hidden_field :place_id, name:"place_id" %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-warning" %>
      <%= link_to 'Cancel', buildings_path %>
    </div>
    <% end %>

  </div><!-- end tabpanel home -->

  </div><!-- tab content -->

  </div><!-- panel-body-->
</div><!-- panel -->
