<div id="buildings" data-bldg-id="<%= @building.id %>" >

<div class="panel panel-default">
  <div class="panel-body">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic-info" aria-controls="basic-info" role="tab" data-toggle="tab">Basic Info</a></li>
    <li role="photos"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
  </ul>

  <div class="tab-content">
    <!-- ******************** second tabpanel - photos ******************** -->
    <div role="tabpanel" class="tab-pane fade" id="photos">
      <% if @building.id %>
      
        <br />

        <%= form_for(@building, :url => building_images_path(@building), 
          html: {multipart: true, class: "dropzone", id: "building-dropzone"}, method: :post) do |f| %>
          <div class="fallback">
            <%= f.file_field :file %><br>
            <%= f.submit "Upload" %>
          </div>
        <% end %>

        <br />
        <p><strong>Edit current photos (drag to reorder):</strong></p>
        <div class="row">
          <div class="images sortable">
            <%# Template Dependency: buildings/images %>
            <%= render 'images',  locals: { building: @building } %>
          </div>
        </div>
      
      <% else %>
        <br />
        <strong>Save the basic info first!</strong>
      <% end %>
    </div><!-- end tabpanel photos -->
    <!-- ******************** first tabpanel - basic info ********************-->
    <div role="tabpanel" class="tab-pane fade in active" id="basic-info">
      <%= form_for(@building) do |f| %>
        <%= render :partial => 'shared/error_messages', :locals => {:model => @building} %>

        <br />
        <div class="row">
          <div class="col-md-3 form-label-responsive">
            <%= f.label :landlord_id, "Landlord", class: 'required' %>
          </div>
          <div class="col-md-9">
            <%= f.select(:landlord_id, options_for_select(current_user.company.landlords.collect {|l| [l.code, l.id]},
              [@building.landlord ? @building.landlord.id : '']),
              {prompt: "Choose one..."},
              required: true, 
              class: 'form-control',
              include_blank: true) %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-3 form-label-responsive">
            <%= f.label :formatted_street_address, "Street Address", class: 'required' %>
          </div>
          <div class="col-md-9">
            <%= f.text_field :formatted_street_address, class: 'form-control autocomplete-input', placeholder: "123 Main St" %>
          </div>
        </div>

        <div class="neighborhood_options">
          <%= render 'neighborhood_options' %>
        </div>

    <div class="field">
      <br/>
      <p>Visually confirm the building's location:</p>
      <div id="map_canvas" data-address="<%= @building.formatted_street_address %>"></div>
    </div>

    <br />
    <div class="row">
      <div class="col-md-12">
        <div class="field">
          <%= f.label :notes, "Building Notes" %><br>
          <%= f.text_area :notes, class: 'form-control', rows: 5 %>
        </div>
      </div>
    </div>
    
    <br />
    <div class="row">
      <div class="col-md-12">
        <%= f.label :building_amenity_ids, "Building-Level Amenities" %>
      </div>
    </div>
    <!-- for bigger screens -->
    <!--div class="hidden-xs"-->
      <div class="row">
        <% i = 0 %>
        <%= f.collection_check_boxes(:building_amenity_ids, current_user.company.building_amenities, :id, :name) do |b| %>
          
          <% if i % 3 == 0 && i > 0 %>
            </div>
            <div class="row">
          <% end %>

          <div class="col-sm-4">
            <%= b.check_box(class: "check_box") %>&nbsp;
            <%= b.text.titleize %>
          </div>

        <% i = i+1 %>
        <% end %>

      </div><!-- row -->
    <!--/div-->

    <!-- cut -->

    <div class="row">
      <div class="col-xs-12">
        <!-- enter a new option -->
        <%= f.text_field :custom_amenities, class: 'form-control vertical-margin-lg', 
          placeholder: "Or enter new amenities, comma separated" %>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-md-12">
        <%= f.label :utility_ids, "Utilities" %><br>
      </div>
    </div>
    <!-- for bigger screens -->
      <div class="row">
        <% i = 0 %>
        <%= f.collection_check_boxes(:utility_ids, current_user.company.utilities, :id, :name) do |b| %>
          
          <% if i % 3 == 0 && i > 0 %>
            </div>
            <div class="row">
          <% end %>

          <div class="col-sm-4">
            <%= b.check_box(class: "check_box") %>&nbsp;
            <%= b.text.titleize %>
          </div>

        <% i = i+1 %>
        <% end %>

      </div><!-- row -->
    
    <!-- cut -->

    <div class="row">
    <div class="col-xs-12">
        <!-- enter a new option -->
        <%= f.text_field :custom_utilities, class: 'form-control vertical-margin-lg', 
          placeholder: "Or enter new utilities, comma separated" %>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-md-6">
        <div class="field">
          <%= f.label :pet_policy_id, class: 'required' %>
          <%= f.select(:pet_policy_id, 
            options_for_select(current_user.company.pet_policies.all.collect { |r| [r.name.titleize, r.id] }, 
            [@building.pet_policy ? @building.pet_policy.id : '']),
             {prompt: "Choose one..."},
            :required => true, 
            class: 'form-control',
            :include_blank => true) %>
        </div>
      </div>
    </div>

    <br />
    <div class="row">
      <div class="col-md-6">
        <div class="field">
          <%= f.label :rental_term_id, "Rental Terms" %>
          <%= f.select(:rental_term_id, options_for_select(current_user.company.rental_terms.all.collect { |r| [r.name.titleize, r.id] }, 
            [@building.rental_term ? @building.rental_term.id : '']),
             {prompt: "Choose one..."},
            class: 'form-control',
            :include_blank => true) %>
          <%= f.text_field :custom_rental_term, class: 'form-control vertical-margin-lg', 
            placeholder: "Or enter new custom rental term" %>
        </div>
      </div>

    </div>

    <!-- geocoder plugin looks for "details" class name to insert results. Do not change without updating google-maps.js! -->
    <div class="details field">
      <%= f.hidden_field :street_number, name: "street_number" %>
      <%= f.hidden_field :route, name: "route" %>
      <%= f.hidden_field :intersection, name: "intersection" %>
      <%= f.hidden_field :sublocality, name:"sublocality" %>
      <%= f.hidden_field :administrative_area_level_2_short, name:"administrative_area_level_2_short" %>
      <%= f.hidden_field :administrative_area_level_1_short, name:"administrative_area_level_1_short" %>
      <%= f.hidden_field :postal_code, name:"postal_code" %>
      <%= f.hidden_field :country_short, name:"country_short" %>
      <%= f.hidden_field :lat, name:"lat" %>
      <%= f.hidden_field :lng, name:"lng" %>
      <%= f.hidden_field :place_id, name:"place_id" %>
    </div>

    <div class="actions">
      <%= f.submit class: "btn btn-warning" %>
      <%= link_to 'Cancel', buildings_path %>
    </div>
    <% end %>

  </div><!-- end tabpanel home -->

  </div><!-- tab content -->

  </div><!-- panel-body-->
</div><!-- panel -->


</div>