<script>
	function set_positions() {
	  // loop through and give each task a data-pos
	  // attribute that holds its position in the DOM
	  $('.img-thumbnail').each(function(i) {
	      $(this).attr("data-pos", i+1);
	  });
	};

	function ready(){
		// call set_positions function
    set_positions();

	  // call sortable on our div with the sortable class
	  $('.sortable').sortable({
			forcePlaceholderSize: true,
			placeholderClass: 'col col-xs-2 border border-maroon',
			dragImage: null
	  });

	  // after the order changes
    $('.sortable').sortable().bind('sortupdate', function(e, ui) {
        // array to store new order
        updated_order = []
        // set the updated positions
        set_positions();
 				
        // populate the updated_order array with the new task positions
        $('.img-thumbnail').each(function(i){
          updated_order.push({ id: $(this).data('id'), position: i+1 });
        });
 				console.log(updated_order);
        // send the updated order via ajax
        $.ajax({
          type: "PUT",
          url: '/buildings/' + <%= @building.id %> + '/images/sort',
          data: { order: updated_order }
        });
    });
	}
 
	$(document).ready(ready);
</script>

<% @building.images.each do |image| %>
	  <div class="img-thumbnail col-xs-2" data-id="<%= image.id %>" data-bldg-id="<%= @building.id %>">
	  	<%= image_tag image.file.url(:thumb), :class => 'img-responsive center-block', alt: image.file.url(:thumb) %>
	  	<%= link_to "Remove", "", 
	  		class: 'btn btn-xs btn-link center-block delete-img', 
	  		"data-id": image.id, "data-bldg-id": @building.id %>
	  </div>
<% end %>
