<% provide(:title, 'Buildings') %>

<div id="buildings">

<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>Buildings</h1>
    </div>
    <div class="col-md-6 form-label-responsive">
      <% if current_user.is_management? %>
        <%= link_to 'Add a building', new_building_path, class: 'btn btn-warning btn-sm link-as-button' %>
        <%= link_to 'Download CSV', buildings_path(format: :csv), class: 'btn btn-warning btn-sm link-as-button' %>
      <% end %>
    </div>
  </div>
</div>

<div id="search-filters" data-search-path="<%= filter_buildings_path %>">

  <i class="fa fa-spinner fa-pulse fa-4x index-spinner-desktop"></i>
  
  <%= form_tag buildings_path, :method => 'get' do %>
  <div class="row">
    <div class="col-xs-12 col-md-4 vertical-padding">
      <%= autocomplete_field_tag :filter, params[:filter], 
        autocomplete_building_formatted_street_address_buildings_path,
        update_elements: {},
        placeholder: "Filter by address", 
        size: 25, class:'form-control' %>
    </div>
    <div class="col-xs-12 col-md-4 vertical-padding">
      <label>
        <%= check_box_tag(:checkbox_active, "", params[:active_only] == "true" ? true : false) %>
        Has on-market units
      </label>
    </div>
  </div>
  <% end %><!-- end form -->
    
</div>

<br />
<div class="row">
  <div class="col-md-12">
      
    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th></th>
          <th data-sort="formatted_street_address" class="th-sortable selected-sort">
            Address <i class="glyphicon glyphicon-triangle-bottom"></i></th>
          <th data-sort="active_unit_count" class="th-sortable">
            On-Market Units</th>
          <th data-sort="total_unit_count" class="th-sortable">
            Total Units</th>
          <th data-sort="last_unit_updated" class="th-sortable">
            Last Unit Updated</th>
          <% if current_user.is_management? %>
            <th colspan="1"></th>
          <% end %>
        </tr>
      </thead>

      <tbody class="buildings_table_body">
        <%= render @buildings %>
      </tbody>
    </table>
    
  </div>
</div>

<div class="row">
  <div class="col-md-offset-6 col-md-6 form-label-responsive">
    <%= render partial: 'shared/pagination', locals: {models: @buildings} %>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="bldgDeleteModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Building</h4>
      </div>
      <div class="modal-body">
        Placeholder
      </div>
      <div class="modal-footer">
        <button class="delete-btn">Placeholder</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

</div>