<script>
   //unobstrusive: attach method call here
   //call when typing or enter or focus leaving
   $( document ).ready(function() {

    function doSearch() {
      $.ajax({
        url: "<%= buildings_filter_path %>",
        data: {
          filter: $('#filter').val(),
          active_only: $('#checkbox_active').checked
        },
        dataType: "script"
      }).fail(function() {
        //console.log("[FAILED] search update failed");
      });
    };

    // change enter key to tab
    $('#filter').keydown(function(event) {
      if (event.keyCode == 13) {
        $('#checkbox_active').focus();
        return false;
      }
    });

    // search as user types
    var timer;
    $('#filter').keyup(function() {
      clearInterval(timer); // clear any interval on key up
      timer = setTimeout(doSearch, 500);
    });

    // toggle between active and inactive units
    $('#checkbox_active').click(function(event){
      $.ajax({
        url: "<%= buildings_filter_path %>",
        data: {
          filter: $('#filter').val(),
          active_only: $('#checkbox_active').prop('checked')
        },
        dataType: "script"
      });
    });

  });
</script>

<% provide(:title, 'Buildings') %>
<h1 class="page-header">Buildings</h1>

<div class="row">
  <div class="col-md-6">
    <%= form_tag buildings_path, :method => 'get' do %>
      <%= label_tag(:filter, "Filter:") %>
      <%= text_field_tag :filter, params[:code_name], 
        placeholder: "name/address", size: 50 %>
      &nbsp;&nbsp;
      <%= check_box_tag(:checkbox_active, class: "checkbox inline") %>
      <%= label_tag :checkbox_active, "Has active units" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-offset-9 col-md-3 right">
        <%= link_to 'Add a building', new_building_path %><br />
      </div>
    </div>
    <div class="row">
      <div class="col-md pull-right">
        <%= will_paginate @buildings %>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    
    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>Address</th>
          <th>Active Units</th>
          <th>Total Units</th>
          <th>Last Unit Updated</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody class="buildings_table_body">
        <%= render @buildings %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-10 right">
    <%= link_to 'Download CSV', buildings_path(format: :csv) %><br />
    <%= will_paginate @buildings %>
  </div>
</div>

