<p id="notice"><%= notice %></p>

<p>
  <strong>Street Address:</strong>
  <%= @building.street_address %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @building.zip %>
</p>

<p>
  <strong>Private notes:</strong>
  <%= @building.private_notes %>
</p>

<p>
  <strong>Last Updated:</strong>
  <%= @building.updated_at.strftime("%F") %>
</p>

<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
