<script>
	function initialize() {
    $(".panel").geocomplete({
    	map: "#map_canvas",
    	location: "<%= @building.formatted_street_address %>" ,
    	details: ".details"
    }).bind("geocode:result", function(event, result){
        //console.log(result);
    }).bind("geocode:error", function(event, result){
        //console.log("[ERROR]: " + result);
    });
	};
	$(document).ready(initialize);
</script>

<% provide(:title, @building.formatted_street_address) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
		<h1 class="page-header">
			<%= @building.street_address %>
		</h1>
		<p><%= @building.active_units.count %> available units on the market.
			<%= @building.units.count %> total units. | 
			<%= link_to 'Edit', edit_building_path(@building) %> | 
			<%= link_to 'View all', buildings_path %> |
			<%= link_to 'Add a Unit', new_residential_unit_path(building_id: @building.id) %> | 
			<%= link_to 'Report Inaccuracy', inaccuracy_modal_building_path(@building), 
      	data: {toggle: "modal", target: "#bldgInaccuracyModal"}, remote: true %>
			<br />
		</p>

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Basic Details</h3>
		  </div>
		  <div class="panel-body">
		  	<% if @building.images.any? %>
					<div id="building-carousel" class="carousel slide" data-ride="carousel">
					  <!-- Indicators -->
					  <ol class="carousel-indicators">
						  <% for i in 0..@building.images.length-1 %>
						  	<li data-target="#building-carousel" data-slide-to="<%= i %>"></li>
						  <% end %>
					  </ol>

					  <!-- Wrapper for slides -->
					  <div class="carousel-inner" role="listbox">
					  	<% @building.images.each do |image| %>	
					  		<div class="item">
						      <%= image_tag image.file.url(:medium), :class => 'img-responsive center-block', alt: image.file.url(:medium) %>
						    </div>
					  	<% end %>
					  </div>

					  <!-- Controls -->
					  <a class="left carousel-control" href="#building-carousel" role="button" data-slide="prev">
					    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					    <span class="sr-only">Previous</span>
					  </a>
					  <a class="right carousel-control" href="#building-carousel" role="button" data-slide="next">
					    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					    <span class="sr-only">Next</span>
					  </a>
					</div>

			  <% else %>
			  	<p>No images added yet.</p>
			  <% end %><!-- end photos -->

		  	<div id="map_canvas"></div>
		  	<br />
		    <p>
				  <strong>Street Address:</strong>
				  <%= @building.formatted_street_address %>
				</p>
				
				<p>
				  <strong>Neighborhood:</strong>
				  <%= @building.neighborhood.name %>
				</p>

				<p>
				  <strong>Building Notes:</strong>
				  <%= @building.notes %>
				</p>

				<p>
				  <strong>Landlord Code:</strong>
				  <%= link_to @building.landlord.code, landlord_path(@building.landlord) %>
				</p>

				<p>
				  <strong>Building-Level Amenities:</strong>
				  <%= @building.amenities_to_s %>
				</p>

				<p>
				  <strong>Rental Terms:</strong>
				  <%= @building.rental_terms_to_s %>
				</p>

				<p>
				  <strong>Created:</strong>
				  <%= @building.created_at.strftime("%b %e, %Y") %>
				</p>
				<p>
				  <strong>Last Updated:</strong>
				  <%= @building.updated_at.strftime("%b %e, %Y") %>
				</p>
				<p>
				  <strong>Last Unit Updated:</strong>--
				  <!--%= @building.updated_at.strftime("%b %e, %Y") %-->
				</p>
		  </div>
		</div>

		<%= link_to 'Edit', edit_building_path(@building) %> |
		<%= link_to 'View All', buildings_path %> |
		<%= link_to 'Add a Unit', new_residential_unit_path %>

		<hr />
		<!-- list this building's units -->
		<!--%= render 'residential_units/table', locals: { residential_units: @residential_units } %-->

	</div>
</div>


<!-- Inaccuracy Modal -->
<div class="modal fade" id="bldgInaccuracyModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Report Building Inaccuracy</h4>
      </div>
      <div id="placeholder-body"></div>

    </div>
  </div>
</div>