<% cache company do %>
<tr>
  <td>
    <% if company.image %>
      <div class="img-thumbnail">
        <%= image_tag company.image.file.url(:thumb), :class => 'img-responsive center-block', 
          alt: company.image.file.url(:thumb) %>
      </div>
    <% else %>
      <div class="user-avatar-thumbnail">
        <i class="fa fa-user fa-fw fa-border"></i>
      </div>
    <% end %>
  </td>
  <td><%= link_to company.name, company %></td>
  <td><%= link_to company.offices.count, company_offices_path(company) %></td>
  <td><%= link_to company.users.count, employees_company_path(company) %></td>
  <td>
    <% if can? :update, company %>
      <%= link_to 'Edit', edit_company_path(company) %> | 
      <%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure you want to delete #{company.name}?' } %>
    <% end %>
  </td>
</tr>
<% end %><!-- end cache -->