<div class="row">
  <div class="col-md-12">
    <%= form_for(@company) do |f| %>
      <%= render :partial => 'shared/error_messages', 
        :locals => {:model => @company} %>

      <div class="field">
        <%= f.label :name, "Company name:" %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <!--div class="field"-->
        <!--%= f.label :logo, "Upload new logo:" %><br-->
        <!--%= f.attachment_field :logo, direct: true, class: 'form-control'  %-->
      <!--/div>
      <div class="field"-->
        <!--%= f.label :remote_logo_url, "Or specify URL:" %-->
        <!--%= f.text_field :remote_logo_url, class: 'form-control' %-->
      <!--/div-->
      <div class="field">
        <br />
        <p class="red"><strong>EDITING THE BELOW MAY BREAK THE SYSTEM. BE CAREFUL! I ONLY LET YOU ADD, NOT REMOVE CURRENTLY.</strong></p>
 
        <%= f.label :agent_types, "Agent specializations: (separate by comma or newline)" %>
        <%= f.text_area :agent_types, 
          class: 'form-control', rows: 5 %>
      </div>

      <div class="field">
        <%= f.label :employee_titles, "Departments: (separate by comma or newline)" %>
        <%= f.text_area :employee_titles, 
          class: 'form-control', rows: 8 %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
