<div class="row">
  <div class="col-md-12">
    <%= form_for(@company) do |f| %>
      <%= render :partial => 'shared/error_messages', 
        :locals => {:model => @company} %>

      <div class="field">
        <%= f.label :name, "Company name:" %><br>
        <%= f.text_field :name, class: 'form-control' %>
      </div>

      <!-- TODO: LOGO -->
      <!-- TODO: OFFICE -->

      <p><br />And now for some details about your first admin account:</p>
      <!-- Need to specify new company admin -->
      <%= f.fields_for :users do |builder| %>
      <div class="field">
        <%= builder.label :name, "Admin's full name" %><br>
        <%= builder.text_field :name, class: 'form-control', 
          :required => true %>
      </div>
      <div class="field">
        <%= builder.label :email, "Admin's email (will be username)" %><br>
        <%= builder.email_field :email, class: 'form-control', 
          :required => true %>
      </div>
            
      <div class="field">
        <%= builder.label :password, "Admin's password" %><br>
        <%= builder.password_field :password, class: 'form-control', 
          :required => true %>
      </div>
      <div class="field">
        <%= builder.label :password_confirmation, "Password confirmation" %><br>
        <%= builder.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <% end %>

      <div class="actions">
        <%= f.submit class: 'btn btn-warning' %>
      </div>
    <% end %>

  </div>
</div>

