<h1>All Companies</h1>

<table class="table table-striped table-hover table-condensed table-responsive">
  <thead>
    <tr>
      <th>Logo</th>
      <th>Name</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td>
          <% if company.logo_id? %>
            <%= attachment_image_tag(company, :logo, :fill, 300, 300) %>
          <% else %>
            no photo
          <% end %>
        </td>
        <td><%= link_to company.name, company %></td>
        <td>
          <% if can? :update, company %>
            <%= link_to 'Edit', edit_company_path(company) %> | 
            <%= link_to 'Delete', company, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
