<% provide(:title, @company.name) %>

<div class="row">
  <div class="col-md-offset-3 col-md-6">

    <div class="row page-header">
      <div class="col-sm-6">
        <h1><%= @company.name %></h1>
      </div>
      <div class="hidden-xs hidden-sm col-sm-6 form-label-responsive page-header-buttons">
        <%= link_to 'All Companies', companies_path %> |
        <% if current_user.is_company_admin? %>
          <%= link_to 'Edit', edit_company_path(@company) %> |
        <% end %>
        <%= link_to 'Offices', company_offices_path(@company) %> |
        <%= link_to 'Agents', employees_company_path(@company) %>
      </div>
      <div class="hidden-md hidden-lg col-sm-6 col-sm-left-padding form-label-responsive page-header-buttons">
      <%= link_to 'All Companies', companies_path %> |
        <% if current_user.is_company_admin? %>
          <%= link_to 'Edit', edit_company_path(@company) %> |
        <% end %>
        <%= link_to 'Offices', company_offices_path(@company) %> |
        <%= link_to 'Agents', employees_company_path(@company) %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-6">
        <% if @company.image %>
          <div class="img-medium">
            <%= image_tag @company.image.file.url(:large), :class => 'img-responsive',
              alt: @company.image.file.url(:large) %>
          </div>
        <% else %>
            <div class="company-logo">
              <i class="fa fa-user fa-fw fa-border"></i>
            </div>
        <% end %>
        <br /><br />
      </div>

      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-0 col-md-6">
        <p>
          <a href="<%= url_with_protocol(@company.website) %>" target="_blank">
            <%= @company.website %>
          </a>
        </p>

        <% if @company.offices.empty? %>
          <p>No offices added yet. Why don't you
            <%= link_to "create one?", new_company_office_path(@company) %>
          </p>

        <% else %>

          <% @company.offices.each do |office| %>
            <p><b><%= link_to office.name, company_office_path(office.company, office) %></b>
             - <%= office.formatted_street_address %>,
            <%= office.telephone %>
            </p>
          <% end %>

        <% end %>
      </div>
    </div>

    <!-- Button trigger modal -->
    <a data-toggle="modal" data-target="#ppModal">Privacy Policy</a> |
    <a data-toggle="modal" data-target="#tcModal">Terms & Conditions</a>

    <!-- Modal -->
    <div class="modal fade modal-fullscreen" id="ppModal" tabindex="-1" role="dialog"
        aria-labelledby="ppModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="ppModalLabel">Privacy Policy</h4>
          </div>
          <div class="modal-body">
            <% if !escape_once(@company.privacy_policy).blank? %>
              <%= h raw sanitize @company.privacy_policy,
                  tags: %w(h1 h2 h3 h4 h5 h6 p i b strong em a ol ul li q blockquote font span br div) %>
            <% else %>
              Sorry, none specified.
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade modal-fullscreen" id="tcModal" tabindex="-1" role="dialog"
        aria-labelledby="tcModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title" id="tcModalLabel">Terms &amp; Conditions</h4>
          </div>
          <div class="modal-body">
            <% if !escape_once(@company.terms_conditions).blank? %>
              <%= h raw sanitize @company.terms_conditions,
                  tags: %w(h1 h2 h3 h4 h5 h6 p i b strong em a ol ul li q blockquote font span br div) %>
            <% else %>
              Sorry, none specified.
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-warning" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
