<% provide(:title, @company.name) %>

<div class="row">
  <div class="col-md-offset-3 col-md-6">

  <div class="row page-header">
    <div class="col-md-6">
      <h1><%= @company.name %></h1>  
    </div>
    <div class="col-md-6 form-label-responsive">
      <%= link_to 'All Companies', companies_path %> | 
      <% if current_user.is_company_admin? %>
        <%= link_to 'Edit', edit_company_path(@company) %> |
      <% end %>
      <%= link_to 'Offices', company_offices_path(@company) %> |
      <%= link_to 'Agents', employees_company_path(@company) %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <% if @company.image %>
        <div class="img-medium">
          <%= image_tag @company.image.file.url(:medium), :class => 'img-responsive', 
            alt: @company.image.file.url(:medium) %>
        </div>
      <% else %>
          <div class="company-logo">
            <i class="fa fa-user fa-fw fa-border"></i>
          </div>
      <% end %>
      <br /><br />
    </div>

    <div class="col-xs-12 col-md-6">
      <p><a href="<%= url_with_protocol(@company.website) %>" target="_blank"> <%= @company.website %> </a></p>

      <% if @company.offices.empty? %>
        <p>No offices added yet. Why don't you <%= link_to "create one?", new_company_office_path(@company) %></p>
        
      <% else %>

        <% @company.offices.each do |office| %>
          <p><b><%= link_to office.name, company_office_path(office.company, office) %></b>
           - <%= office.formatted_street_address %>,
          <%= office.telephone %>
          </p>
        <% end %>
      <% end %>
    </div>
    
  </div>

  <div class="row">
    <div class="col-md-12">
      <p><strong>Our agents specialize in:</strong> <%= @agent_types.join(", ") %></p>
    </div>
  </div>

</div>
