<%= form_for(residential_unit, url: duplicate_residential_unit_path(@residential_unit), remote: true, method: :post) do |f| %>

	<div class="modal-body">
		<p>An exact copy of this unit will be created in the same building. After 
			clicking "duplicate" you'll be able to make edits to the new unit.</p>

		<div class="field">
	    <%= f.label :building_unit, "New unit number:" %><br>
	    <%= f.text_field :building_unit, class: 'form-control', 
	    	:required => true, width: '50%' %>
	  </div>
	  <!-- <div class="field">
	  	<%= f.check_box(:include_photos, class: "checkbox inline") %>
      <%= f.label :include_photos %>
	  </div> -->
	</div>
	<div class="modal-footer">
		<%= f.submit 'Submit', class: 'btn btn-warning submit-link' %>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>
<% end %>
