<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @panel_title %></h3>
  </div>
  <div class="panel-body">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#basic-info" aria-controls="basic-info" role="tab" data-toggle="tab">Basic Info</a></li>
      <li role="photos"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
    </ul>

    <div class="tab-content">
      <!-- ******************** second tabpanel - photos ******************** -->
      <div role="tabpanel" class="tab-pane fade" id="photos">
        
        <% if @residential_unit.id %>

          <br />
          <%= form_for(@residential_unit, :url => residential_unit_unit_images_path(@residential_unit), 
            html: {multipart: true, class: "dropzone", id: "runit-dropzone"}, method: :post) do |f| %>
            <div class="fallback">
              <%= f.file_field :file %><br>
              <%= f.submit "Upload" %>
            </div>
          <% end %>
        
          <br />
          <div class="row">
            <div class="col-md-12">
              <p><strong>Edit current photos (drag to reorder):</strong></p>
              <div class="images sortable">
                <% if @residential_unit.images.length > 0 %>
                  <%= render 'images',  locals: { residential_unit: @residential_unit } %>
                <% else %>
                  <p>(No files uploaded yet.)</p>
                <% end %>
              </div>
            </div>
          </div>

        <% else %>
          <br />
          <strong>Save the basic info first!</strong>
        <% end %>
        
      </div><!-- end tabpanel photos -->
      <!-- ******************** first tabpanel - basic info ********************-->
      <div role="tabpanel" class="tab-pane fade in active" id="basic-info">
        <%= form_for(@residential_unit) do |f| %>
        <%= render :partial => 'shared/error_messages', 
          :locals => {:model => @residential_unit} %>
       
          
          <br />
          <div class="row">
          <div class="col-xs-12 col-md-2 form-label-responsive">
            <%= f.label :lease_type %>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="field">
              <%= f.select :status, 
                options_for_select(Unit.statuses.collect { |s| [s[0].humanize.titleize, s[0]] }, 
                  [@residential_unit.status]), 
                {prompt: "Choose one..."},
                :required => true,
                class: "form-control" %>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-12 col-md-2 form-label-responsive">
            <%= f.label :building_id %>
          </div>
          <div class="col-xs-12 col-md-4">
            <!-- TODO: turn this into an autocomplete field -->
            <%= f.select(:building_id, 
              options_for_select(current_user.company.buildings.collect {|b| [b.street_address, b.id]},
                [@residential_unit.building ? @residential_unit.building.id : '']), 
              {prompt: "Choose one..."},
              class: 'form-control',
              :include_blank => true) %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :building_unit, "Unit" %>
          </div>
          <div class="col-md-4">
            <%= f.text_field :building_unit, class: 'form-control', :required => true %>
          </div>
        </div>
        
        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :rent %>
          </div>
          <div class="col-md-4">
            <%= f.number_field :rent, class: 'form-control', :required => true %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :access_info %>
          </div>
          <div class="col-md-9">
            <%= f.check_box :tenant_occupied, checked: @residential_unit.tenant_occupied %>
            <%= f.label :tenant_occupied %><br />
            <%= f.text_area :access_info, class: 'form-control', rows: 4 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :beds %>
          </div>
          <div class="col-md-4">
            <%= f.number_field :beds, class: 'form-control',
              in: 0.0..10.0, :required => true %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :baths %>
          </div>
          <div class="col-md-4">
            <%= f.number_field :baths, class: 'form-control', step: 0.5, in: 0.0..10.0, 
            :required => true %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :available_by, "Available Date" %>
          </div>
          <div class="col-md-4">
            <div class='input-group date datepicker'>
              <%= f.text_field :available_by, 
                placeholder: "Available", class:"form-control", size:30 %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <strong>Lease Duration</strong>
          </div>
          <div class="col-md-2">
            <%= f.text_field :lease_start, class: 'form-control', 
            required: true, placeholder: "min" %>
          </div>
          <div class="col-md-1">
            to
          </div>
          <div class="col-md-2">
            <%= f.text_field :lease_end, class: 'form-control', 
            required: true, placeholder: "max" %>
          </div>
          <div class="col-md-1">
            Months
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-12 col-md-2 form-label-responsive">
            <%= f.label :residential_amenity_ids, "Unit Amenities" %>
          </div>

          <!-- for bigger screens -->
          <div class="col-xs-12 col-md-9 hidden-xs">
            <div class="row">
              
              <% i = 0 %>
              <%= f.collection_check_boxes(:residential_amenity_ids, current_user.company.residential_amenities, :id, :name) do |b| %>
                
                <% if i % 3 == 0 && i > 0 %>
                  </div>
                  <div class="row">
                <% end %>

                <div class="col-xs-4">
                  <%= b.check_box(class: "check_box") %>&nbsp;
                  <%= b.text.titleize %>
                </div>

              <% i = i+1 %>
              <% end %>
            
            </div><!-- row -->
          </div><!-- col -->

          <!-- for tiny screens -->
          <div class="col-xs-12 col-md-9 hidden-sm hidden-md hidden-lg">
            <div class="row">
              
              <% i = 0 %>
              <%= f.collection_check_boxes(:residential_amenity_ids, current_user.company.residential_amenities, :id, :name) do |b| %>
                
                <% if i % 2 == 0 && i > 0 %>
                  </div>
                  <div class="row">
                <% end %>

                <div class="col-xs-6">
                  <%= b.check_box(class: "check_box") %>&nbsp;
                  <%= b.text.titleize %>
                </div>

              <% i = i+1 %>
              <% end %>
            
            </div><!-- row -->
          </div><!-- col -->

        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :notes, "Internal Notes" %>
          </div>
          <div class="col-md-9">
            <%= f.text_area :notes, class: 'form-control', rows: 6 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :description, "Public Description" %>
          </div>
          <div class="col-md-9">
            <%= f.text_area :description, class: 'form-control', rows: 6 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <strong>Broker Fee</strong>
          </div>
          <div class="col-md-4">
            <%= f.check_box :has_fee, class:"has-fee", checked: @residential_unit.has_fee %>
            <%= f.label :has_fee %>
          </div>
        </div>

        <br />
        <div class="row show-op">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :op_fee_percentage, 'Owner Fee %' %>
          </div>
          <div class="col-md-4">
            <%= f.number_field :op_fee_percentage, class: 'form-control', min: 0, default: 95, step: 5 %>
          </div>
        </div>

        <div class="row show-tp">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :tp_fee_percentage, 'Tenant Fee %' %>
          </div>
          <div class="col-md-4">
            <%= f.number_field :tp_fee_percentage, class: 'form-control', min: 0, default: 95, step: 5 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :primary_agent_id, "Primary Agent" %>
          </div>
          <div class="col-md-4">
            <%= f.select(:primary_agent_id, 
            options_for_select(current_user.company.users.collect {|u| [u.name, u.id]},
              [@residential_unit.primary_agent ? @residential_unit.primary_agent.id : '']), 
            {prompt: "Choose one..."},
            class: 'form-control',
            :include_blank => true) %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <%= f.label :listing_agent_id, "Listing Agent" %>
          </div>
          <div class="col-md-4">
            <%= f.select(:listing_agent_id, options_for_select(current_user.company.users.collect {|u| [u.name, u.id]},
            [@residential_unit.listing_agent ? @residential_unit.listing_agent.id : '']), 
            {prompt: "Choose one..."},
            class: 'form-control',
            :include_blank => true) %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-2 form-label-responsive">
            <strong>Open House</strong>
          </div>
          <div class="col-md-9">
            <%= f.check_box(:oh_exclusive) %>
            <%= f.label :oh_exclusive, "Is Exclusive" %><br />
            <%= f.label :open_house, "Date & Time Details" %>
            <%= f.text_area :open_house, class: 'form-control', rows: 3 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-9 col-md-offset-2">
            <div class="actions">
              <%= f.submit class: "btn btn-warning" %>
            </div>
          </div>
        </div>

        
        <% end %>

      </div><!-- end tabpanel home -->
    </div><!-- tab content -->

  </div><!-- panelbody -->
</div><!-- panel -->