<%= form_for(residential_unit, url: send_inaccuracy_residential_unit_path(@residential_unit), remote: true) do |f| %>

	<div class="modal-body">
		<p>What's wrong at <%= @residential_unit.building.street_address %> 
		#<%= @residential_unit.building_unit %>? The more detail you can provide, the better.</p>
		<br />
		<div class="field">
	    <%= f.text_area :inaccuracy_description, rows: 5, class: 'form-control' %>
	  </div>
	</div>
	<div class="modal-footer">
		<%= f.submit 'Send', class: 'btn btn-warning submit-link' %>
	  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	</div>

<% end %>
