<tr class="<%= cycle('even', 'odd') -%>">
  <td>
    <%= link_to "#{residential_unit.building.street_address} ##{residential_unit.building_unit}", residential_unit %><br />
    <small><%= residential_unit.building.neighborhood.name %></small>
    </td>
  <td>
    <% if current_user.is_management? %>
      <%= link_to residential_unit.building.landlord.code, residential_unit.building.landlord %>
    <% else %>
      <%= residential_unit.building.landlord.code %>
    <% end %>
  </td>

  <td><%= residential_unit.access_info %></td>
  <td><%= residential_unit.bed_and_baths %></td>
  <td><%= residential_unit.available_by.strftime("%Y-%b-%d") %></td>
  <td><%= rent_formatted(residential_unit.rent) %></td>
  <td><%= residential_unit.updated_at.strftime("%Y-%b-%d") %></td>
  <td>
    <% if residential_unit.status == "active" %>
      <span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span>
    <% elsif residential_unit.status == "pending" %>
      <span class="glyphicon glyphicon-arrow-up dark-orange" aria-hidden="true"></span>
    <% elsif residential_unit.status == "off" %>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    <% end %>
  </td>
  <td>
    <%= link_to 'Edit', edit_residential_unit_path(residential_unit) %> 
    | <%= link_to 'Delete', delete_modal_residential_unit_path(residential_unit), 
      data: { toggle: "modal", target: "#unitDeleteModal"}, remote: true %>
    | <%= link_to 'Duplicate', duplicate_modal_residential_unit_path(residential_unit), 
      data: { toggle: "modal", target: "#unitDuplicateModal"}, remote: true %>
    <% if residential_unit.status == "active" %>
      | <%= link_to 'Take off', take_off_modal_residential_unit_path(residential_unit), 
        data: {toggle: "modal", target: "#unitTakeOffModal"}, remote: true %>
    <% end %>
  </td>
</tr>