<% cache residential_unit do %>
  <tr class="<%= cycle('even', 'odd') -%>">
    <td>
      <% if residential_unit.cached_primary_img %>
        <%= link_to(image_tag(residential_unit.cached_primary_img.file.url(:thumb), :class => 'img-responsive', 
          alt: residential_unit.cached_primary_img.file.url(:medium)), residential_unit) %>
      <% else %>
        <!-- placeholder image -->
        <%= link_to(image_tag("listing_soon.png", alt: "Image coming soon", :size => "100x100"), residential_unit) %>
      <% end %>
    </td>
    <td>
      <%= link_to "#{residential_unit.cached_street_address} ##{residential_unit.building_unit}", residential_unit %><br />
      <% if residential_unit.cached_neighborhood %>
        <small><%= residential_unit.cached_neighborhood.name %></small>
      <% end %>
    </td>
    <td>
      <% if current_user.is_management? %>
        <%= link_to residential_unit.building.landlord.code, residential_unit.building.landlord %>
      <% else %>
        <%= residential_unit.building.landlord.code %>
      <% end %>
    </td>

    <td><%= residential_unit.access_info %></td>
    <td><%= residential_unit.bed_and_baths %></td>
    <td>
      <% if residential_unit.available_by %>
        <%= residential_unit.available_by.strftime("%b %d") %>
      <% else %>
        -
      <% end %>
    </td>
    <td><%= rent_formatted(residential_unit.rent) %></td>
    <td><%= time_ago_in_words(residential_unit.updated_at) %></td>
    <td>
      <% if residential_unit.status == "active" %>
        <span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span>
      <% elsif residential_unit.status == "pending" %>
        <span class="glyphicon glyphicon-arrow-up dark-orange" aria-hidden="true"></span>
      <% elsif residential_unit.status == "off" %>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      <% end %>
    </td>
    <% if current_user.is_management? %>
      <td>
        <%= link_to 'Edit', edit_residential_unit_path(residential_unit) %> 
        <br /><%= link_to 'Delete', delete_modal_residential_unit_path(residential_unit), 
          data: { toggle: "modal", target: "#unitDeleteModal"}, remote: true %>
        <br />
        <%= link_to 'Duplicate', duplicate_modal_residential_unit_path(residential_unit), 
          data: { toggle: "modal", target: "#unitDuplicateModal"}, remote: true %>
        <!--% if residential_unit.status == "active" %-->
          <!--br /-->
          <!--%= link_to 'Take off', take_off_modal_residential_unit_path(residential_unit), 
            data: {toggle: "modal", target: "#unitTakeOffModal"}, remote: true %-->
        <!--% end %-->
      </td>
    <% end %>
  </tr>
<% end %> <!-- end cache -->