<script>
   //unobstrusive: attach method call here
   //call when typing or enter or focus leaving
  $( document ).ready(function() {

    function doSearch(event) {
      $.ajax({
        url: "<%= residential_units_filter_path %>",
        data: {
          search_params: {
            address: $('#address').val(),
            unit: $('#unit').val(),
            rent_min: $('#rent_min').val(),
            rent_max: $('#rent_max').val(),
            bed_min: $('#bed_min').val(),
            bed_max: $('#bed_max').val(),
            bath_min: $('#bath_min').val(),
            bath_max: $('#bath_max').val(),
            landlord: $('#landlord').val(),
          } 
        },
        dataType: "script"
      });
    };

    // search as user types
    var timer;
    function throttledSearch() {
      clearInterval(timer);  //clear any interval on key up
      timer = setTimeout(doSearch, 500);
    };
    
    // change enter key to tab
    function preventEnter(event) {
      if (event.keyCode == 13) {
        //$('#checkbox_active').focus();
        return false;
      }
    };

    $('input').keydown(preventEnter);
    $('#address').keyup(throttledSearch);
    $('#unit').keyup(throttledSearch);
    $('#rent_min').keyup(throttledSearch);
    $('#rent_max').keyup(throttledSearch);
    $('#bed_min').keyup(throttledSearch);
    $('#bed_max').keyup(throttledSearch);
    $('#bath_min').keyup(throttledSearch);
    $('#bath_max').keyup(throttledSearch);
    $('#landlord').keyup(throttledSearch);

  });
</script>

<% provide(:title, 'Residential Listings') %>
<h1 class="page-header">Residential Listings</h1>


<div class="row">
  <div class="col-md-12">


    <%= form_tag residential_units_path, :method => 'get' do %>
      <%= label_tag(:address, "Address:") %>
      <%= text_field_tag :address, params[:code_name], placeholder: "123 Main St", size: 35 %>
      &nbsp;&nbsp;
      <%= label_tag(:unit, "Unit:") %>
      <%= text_field_tag :unit, params[:unit], placeholder: "2F", size: 10 %>
      &nbsp;&nbsp;
      <%= label_tag(:unit, "Rent:") %>
      <%= number_field_tag :rent_min, params[:rent_min], placeholder: "$", min: 0, max: 100000000 %>
      to 
      <%= number_field_tag :rent_max, params[:rent_max], placeholder: "$", min: 0, max: 100000000 %>
      <br />
      <%= label_tag(:unit, "Beds:") %>
      <%= number_field_tag :bed_min, params[:bed_min], min: 0, max: 10 %>
      to 
      <%= number_field_tag :bed_max, params[:bed_max], min: 0, max: 10 %>
      &nbsp;&nbsp;
      <%= label_tag(:unit, "Baths:") %>
      <%= number_field_tag :bath_min, params[:bath_min], min: 0, max: 10 %>
      to 
      <%= number_field_tag :bath_max, params[:bath_max], min: 0, max: 10 %>
      &nbsp;&nbsp;
      <%= label_tag(:landlord, "Landlord:") %>
      <%= text_field_tag :landlord, params[:landlord], placeholder: "code", size: 25 %>
      &nbsp;&nbsp;

      <!-- TODO: fix plural of status to work in rails -->

      <%= check_box_tag(:outdoor_space, class: "checkbox inline") %>
      <%= label_tag :outdoor_space, "Has outdoor space" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-offset-9 col-md-3 right">
        <%= link_to 'Add a unit', new_residential_unit_path %><br />
      </div>
    </div>
    <div class="row">
      <div class="col-md pull-right">
        <%= will_paginate @residential_units %>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <br />    
    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th><%= sortable 'Address' %></th>
          <th><%= sortable 'landlord.code' %></th>
          <th style="width: 20%;">Access</th>
          <th><%= sortable 'bed_and_bath' %></th>
          <th><%= sortable 'available_by' %></th>
          <th><%= sortable 'rent' %></th>
          <th><%= sortable 'updated_by' %></th>
          <th><%= sortable 'status' %></th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody class="residential_units_table_body">
        <%= render @residential_units %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-10">
    <%= will_paginate @residential_units %>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="unitDeleteModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Unit</h4>
      </div>
      <div class="modal-body">
        Placeholder
      </div>
      <div class="modal-footer">
        <button class="delete-btn">Placeholder</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<%= render 'modals' %>