<script>
   //unobstrusive: attach method call here
   //call when typing or enter or focus leaving
  function initialize() {
    var timer2;
    function clearSpinner() {
      // remove the spinner after download completes.
      // this is a very hackish way of roughly estimating how long
      // the download takes to complete
      clearInterval(timer2);
      $('.btn-print-list').toggleClass('active');
    };

    $('.btn-print-list').click( function(event) {
      // show spinner
      $(this).toggleClass('active');
      timer2 = setTimeout(clearSpinner, 15000);
    });

    function doSearch(event) {

      // sanitize invalid input before submitting
      if ($('#neighborhood_ids').val() == "{:id=>\"neighborhood_ids\"}") {
        $('#neighborhood_ids').val('');
      }
      if ($('#building_feature_ids').val() == "{:id=>\"building_feature_ids\"}") {
        $('#building_feature_ids').val('');
      }
      if ($('#unit_feature_ids').val() == "{:id=>\"unit_feature_ids\"}") {
        $('#unit_feature_ids').val('');
      }

      $.ajax({
        url: "<%= residential_units_filter_path %>",
        data: {
          search_params: {
            address: $('#address').val(),
            unit: $('#unit').val(),
            rent_min: $('#rent_min').val(),
            rent_max: $('#rent_max').val(),
            bed_min: $('#bed_min').val(),
            bed_max: $('#bed_max').val(),
            bath_min: $('#bath_min').val(),
            bath_max: $('#bath_max').val(),
            landlord: $('#landlord').val(),
            pet_policy_id: $('#pet_policy_id').val(),
            status: $('#status').val(),
            features: $('#features').val(),
            neighborhood_ids: $('#neighborhood_ids').val(),
            unit_feature_ids: $('#unit_feature_ids').val(),
            building_feature_ids: $('#building_feature_ids').val(),
          } 
        },
        dataType: "script"
      });
    };

    // search as user types
    var timer;
    function throttledSearch() {
      clearInterval(timer);  //clear any interval on key up
      timer = setTimeout(doSearch, 500);
    };
    
    // change enter key to tab
    function preventEnter(event) {
      if (event.keyCode == 13) {
        //$('#checkbox_active').focus();
        return false;
      }
    };

    $('input').keydown(preventEnter);
    $('#address').keyup(throttledSearch);
    $('#unit').keyup(throttledSearch);
    $('#rent_min').keyup(throttledSearch);
    $('#rent_max').keyup(throttledSearch);
    $('#bed_min').keyup(throttledSearch);
    $('#bed_max').keyup(throttledSearch);
    $('#bath_min').keyup(throttledSearch);
    $('#bath_max').keyup(throttledSearch);
    $('#landlord').keyup(throttledSearch);
    $('#pet_policy_id').change(throttledSearch);
    $('#status').change(throttledSearch);
    $('#features').change(throttledSearch);
    $('#neighborhood_ids').change(throttledSearch);
    $('#unit_feature_ids').change(throttledSearch);
    $('#building_feature_ids').change(throttledSearch);
  };
  // TODO: get rid of document.ready
  $(document).ready(initialize);
</script>

<% provide(:title, 'Residential Listings') %>
<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>Residential Listings</h1>
    </div>
    <div class="col-md-6 right">
      <br /><br />
      <%= link_to 'Add a unit', new_residential_unit_path %> 
      <%= link_to print_list_residential_units_path, 
        class:"btn btn-xs btn-primary link-as-button btn-print-list has-spinner" do %>
        <span class="spinner active"><i class="fa fa-refresh fa-spin"></i></span> Print
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <%= render 'map_overall_view' %>
  </div>
  <div class="col-md-4">

    <%= form_tag residential_units_path, :method => 'get' do %>
      <%= label_tag(:address, "Address:") %>
      <%= text_field_tag :address, params[:code_name], placeholder: "123 Main St", size: 35 %>
      &nbsp;&nbsp;
      <%= label_tag(:unit, "Unit:") %>
      <%= text_field_tag :unit, params[:unit], size: 5 %>
      &nbsp;&nbsp;
      <%= label_tag(:unit, "Rent:") %>
      <%= number_field_tag :rent_min, params[:rent_min], placeholder: "$", min: 0, max: 100000000 %>
      to 
      <%= number_field_tag :rent_max, params[:rent_max], placeholder: "$", min: 0, max: 100000000 %>
      <br />
      <%= label_tag(:unit, "Beds:") %>
      <%= number_field_tag :bed_min, params[:bed_min], min: 0, max: 10 %>
      to 
      <%= number_field_tag :bed_max, params[:bed_max], min: 0, max: 10 %>
      &nbsp;&nbsp;
      <%= label_tag(:unit, "Baths:") %>
      <%= number_field_tag :bath_min, params[:bath_min], min: 0, max: 10 %>
      to 
      <%= number_field_tag :bath_max, params[:bath_max], min: 0, max: 10 %>
      <br />
      <%= label_tag(:landlord, "Landlord:") %>
      <%= text_field_tag :landlord, params[:landlord], placeholder: "code", size: 25 %>
      &nbsp;&nbsp;

      <br />
      <%= label_tag :status, "Status" %><br>
      <%= select_tag(:status, 
        options_for_select(%w(active pending off), params[:status]),
        include_blank: true) %>

      <br />
      <%= label_tag :pet_policy_id, "Pet policy" %><br>
      <%= select_tag(:pet_policy_id, 
        options_for_select(current_user.company.pet_policies.all.collect { |r| [r.name, r.id] }, params[:pet_policy_id]),
        include_blank: true) %>
      <hr />
      <%= link_to 'Neighborhoods', neighborhoods_modal_residential_units_path(@residential_unit), 
        data: {toggle: "modal", target: "#neighborhoodsModal"}, remote: true, 
        class: "link-as-button btn btn-xs btn-primary" %>
      <div id="selected_neighborhoods"></div>
      <%= hidden_field_tag :neighborhood_ids, id:"neighborhood_ids" %>

      <hr />
      <%= link_to 'Features', features_modal_residential_units_path(@residential_unit), 
        data: {toggle: "modal", target: "#featuresModal"}, remote: true, 
        class: "link-as-button btn btn-xs btn-primary" %>
      <div id="selected_features"></div>
      <%= hidden_field_tag :unit_feature_ids, id:"unit_feature_ids" %>
      <%= hidden_field_tag :building_feature_ids, id:"building_feature_ids" %>

      <hr />
      <%= link_to 'Clear filters', residential_units_path %>

    <% end %>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-offset-9 col-md-3 right">
        <%= link_to 'Add a unit', new_residential_unit_path %><br />
      </div>
    </div>
    <!--div class="row">
      <div class="col-md pull-right">
        <%= will_paginate @residential_units %>
      </div>
    </div>
  </div>
</div> -->

<hr class="thin-line" />
<%= render 'table', locals: { residential_units: @residential_units } %>


<div class="row">
  <div class="col-md-12 pull-right">
    <%= will_paginate @residential_units %>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="unitDeleteModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Unit</h4>
      </div>
      <div class="modal-body">
        Placeholder
      </div>
      <div class="modal-footer">
        <button class="delete-btn">Placeholder</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<%= render 'modals' %>

<!-- Neighborhood Modal -->
<div class="modal fade" id="neighborhoodsModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="neighborhood-modal-title">Select Neighborhoods</h4>
      </div>
      <div class="modal-body">
        <div id="placeholder-body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-close" data-dismiss="modal">Done</button>
      </div>

    </div>
  </div>
</div>

<!-- Features Modal -->
<div class="modal fade" id="featuresModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="neighborhood-modal-title">Select Features</h4>
      </div>
      <div class="modal-body">
        <div id="placeholder-body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-close" data-dismiss="modal">Done</button>
      </div>

    </div>
  </div>
</div>