<% provide(:title, 'Residential Listings') %>

<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>Residential Listings</h1>
    </div>
    <div class="col-md-6 form-label-responsive">
      
      <% if current_user.is_management? %>
        <%= link_to 'Add a unit', new_residential_unit_path, class: 'btn btn-warning btn-sm link-as-button' %>
      <% end %>

      <%= link_to print_list_residential_units_path, 
        class:"btn btn-sm btn-warning link-as-button btn-print-list has-spinner" do %>
        <span class="spinner active"><i class="fa fa-refresh fa-spin"></i></span> Print
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-3 hidden-sm hidden-xs">
    <div id="res-search-filters" data-search-path="<%= filter_residential_units_path %>">
      <%= form_tag residential_units_path, :method => 'get' do %>
        <div class="row vertical-padding">
          <div class="col-md-3">
            <%= label_tag(:address, "Address") %>
          </div>
          <div class="col-md-9 col-sm-left-padding">
            <%= text_field_tag :address, params[:address], placeholder: "123 Main St", class:"form-control" %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-md-3">
            <%= label_tag(:unit, "Unit") %>
          </div>
          <div class="col-md-4 col-sm-left-padding">
            <%= text_field_tag :unit, params[:unit], size: 5, class:"form-control" %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-md-3">
            <%= label_tag(:unit, "Rent") %>
          </div>
          <div class="col-md-4 col-sm-left-padding">
            <%= number_field_tag :rent_min, params[:rent_min], placeholder: "$ min", 
              min: 0, max: 1000000, class:"form-control" %>
          </div>
          <div class="col-md-1 col-no-padding">
            &nbsp; to 
          </div>
          <div class="col-md-4 col-no-padding">
            <%= number_field_tag :rent_max, params[:rent_max], placeholder: "$ max", 
              min: 0, max: 1000000, class:"form-control" %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-md-3">
            <%= label_tag(:unit, "Beds") %>
          </div>
          <div class="col-md-4 col-sm-left-padding">
            <%= number_field_tag :bed_min, params[:bed_min], min: 0, max: 10, 
              placeholder: " min", class:"form-control" %>
          </div>
          <div class="col-md-1 col-no-padding">
            &nbsp; to 
          </div>
          <div class="col-md-4 col-no-padding">
            <%= number_field_tag :bed_max, params[:bed_max], min: 0, max: 10, 
              placeholder: " max", class:"form-control" %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-md-3">
            <%= label_tag(:unit, "Baths") %>
          </div>
          <div class="col-md-4 col-sm-left-padding">
            <%= number_field_tag :bath_min, params[:bath_min], min: 0, max: 10, class:"form-control" %>
          </div>
          <div class="col-md-1 col-no-padding">
            &nbsp; to 
          </div>
          <div class="col-md-4 col-no-padding">
            <%= number_field_tag :bath_max, params[:bath_max], min: 0, max: 10, class:"form-control" %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-md-3">
            <%= label_tag(:landlord, "Landlord ") %>
          </div>
          <div class="col-md-9 col-sm-left-padding">
            <%= text_field_tag :landlord, params[:landlord], placeholder: "code", class:"form-control"  %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-md-5">
            <%= label_tag :status, "Status" %>
          </div>
          <div class="col-md-7">
            <%= select_tag(:status, 
              options_for_select(%w(Any Active Pending Off), 
              params[:status] ? params[:status].titleize : "Active")) %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-md-5">
            <%= label_tag :has_fee, "Broker's Fee" %>
          </div>
          <div class="col-md-7">
            <%= select_tag(:has_fee, 
              options_for_select(%w(Any Yes No), params[:has_fee])) %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-md-5">
            <%= label_tag :pet_policy_shorthand, "Pet policy" %>
          </div>
          <div class="col-md-7">
            <%= select_tag(:pet_policy_shorthand, 
              options_for_select(["Any", "Cats Only", "Dogs Only", "None"], 
              params[:pet_policy_shorthand] ? params[:pet_policy_shorthand].titleize : "Any")) %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <strong>Available</strong>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-md-6 col-sm-left-padding">
            <div class='input-group date datepicker'>
              <%= text_field_tag :available_starting, params[:available_starting], 
                placeholder: "starting", class:"form-control", size:30 %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
          <div class="col-md-1 col-no-padding">
            &nbsp;&nbsp;to 
          </div>
          <div class="col-md-5 col-no-padding">
            <div class='input-group date datepicker'>
              <%= text_field_tag :available_before, params[:available_before], 
                placeholder: "by", class:"form-control" %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
        </div>
        
        <br />
        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= link_to 'Neighborhoods', neighborhoods_modal_residential_units_path(@residential_unit), 
              data: {toggle: "modal", target: "#neighborhoodsModal"}, remote: true, 
              class: "link-as-button btn btn-xs btn-warning" %>
            <div id="selected_neighborhoods" class="vertical-padding">
              <!-- gets written over by neighborhood_modal.js.erb -->
              <% @selected_neighborhoods.each do |f| %>
                <%= link_to "", 
                  class: "btn btn-xs btn-default remove-neighborhood", remote: "true", data: {id:f.id} do %>
                  <%= f.name %> <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              <% end %>
            </div>
            <%= hidden_field_tag :neighborhood_ids, params[:neighborhood_ids] %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= link_to 'Features', features_modal_residential_units_path(@residential_unit), 
              data: {toggle: "modal", target: "#featuresModal"}, remote: true, 
              class: "link-as-button btn btn-xs btn-warning" %>

            <div id="selected_features" class="vertical-padding">
              <!-- gets written over by features_modal.js.erb -->
              <% @unit_features.each do |f| %>
                <%= link_to "", 
                  class: "btn btn-xs btn-default remove-unit-feature", remote: "true", data: {id:f.id} do %>
                  <%= f.name %> <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              <% end %>
              <!-- gets written over by features_modal.js.erb -->
              <% @bldg_features.each do |f| %>
                <%= link_to "", 
                  class: "btn btn-xs btn-default remove-building-feature", remote: "true", data: {id:f.id} do %>
                  <%= f.name %> <span class="glyphicon glyphicon-remove"></span>
                <% end %>
              <% end %>
            </div>

            <%= hidden_field_tag :unit_feature_ids, params[:unit_feature_ids] %>
            <%= hidden_field_tag :building_feature_ids, params[:building_feature_ids] %>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= link_to 'Clear filters', residential_units_path, class: 'btn btn-xs btn-default' %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
  <div class="col-xs-12 col-md-9">
    <%= render 'map_overall_view' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 hidden-md hidden-lg">
    <%= form_tag residential_units_path, :method => 'get' do %>
      <div class="row vertical-padding">
        <div class="col-xs-2">
          <%= label_tag(:address, "Address") %>
        </div>
        <div class="col-xs-5">
          <%= text_field_tag :address, params[:code_name], placeholder: " 123 Main St" %>
        </div>
        <div class="col-xs-5 right">
          <%= label_tag(:unit, "Unit") %>&nbsp;&nbsp;&nbsp;
        <!--/div>
        <div class="col-xs-2"-->
          <%= text_field_tag :unit, params[:unit], size: 5 %>
        </div>
      </div>
      <div class="row vertical-padding">
        <div class="col-xs-2">
          <%= label_tag(:unit, "Rent") %>
        </div>
        <div class="col-xs-9">
          <%= number_field_tag :rent_min, params[:rent_min], placeholder: " $", min: 0, max: 1000000 %>
          to 
          <%= number_field_tag :rent_max, params[:rent_max], placeholder: " $", min: 0, max: 1000000 %>
        </div>
      </div>
      <div class="row vertical-padding">
        <div class="col-xs-2">
          <%= label_tag(:unit, "Beds") %>
        </div>
        <div class="col-xs-4">
          <%= number_field_tag :bed_min, params[:bed_min], min: 0, max: 10 %>
          to 
          <%= number_field_tag :bed_max, params[:bed_max], min: 0, max: 10 %>
        </div>
      <!--/div>
      <div class="row vertical-padding"-->
        <div class="col-xs-6 right">
          <%= label_tag(:unit, "Baths") %>&nbsp;&nbsp;&nbsp;
        <!--/div>
        <div class="col-xs-4"-->
          <%= number_field_tag :bath_min, params[:bath_min], min: 0, max: 10 %>
          to 
          <%= number_field_tag :bath_max, params[:bath_max], min: 0, max: 10 %>
        </div>
      </div>
      <div class="row vertical-padding">
        <div class="col-xs-2">
          <%= label_tag(:landlord, "Landlord") %>
        </div>
        <div class="col-xs-10">
          <%= text_field_tag :landlord, params[:landlord], placeholder: " code" %>
        </div>
      </div>
      <div class="row vertical-padding">
        <div class="col-xs-2">
          <%= label_tag :status, "Status" %>
        </div>
        <div class="col-xs-3">
          <%= select_tag(:status, 
            options_for_select(%w(Any Active Pending Off), 
            params[:status] ? params[:status].titleize : "Active")) %>
        </div>
        <div class="col-xs-7 right">
          <%= label_tag :has_fee, "Broker's Fee" %>&nbsp;&nbsp;&nbsp;
          <%= select_tag(:has_fee, 
            options_for_select(%w(Any Yes No), params[:has_fee])) %>
        </div>
      </div>
      <div class="row vertical-padding">
        
      </div>
      <div class="row vertical-padding">
        <div class="col-xs-2">
          <%= label_tag :pet_policy_shorthand, "Pet policy" %>
        </div>
        <div class="col-xs-10">
          <%= select_tag(:pet_policy_shorthand, 
            options_for_select(["Any", "Cats Only", "Dogs Only", "None"], 
            params[:pet_policy_shorthand] ? params[:pet_policy_shorthand].titleize : "Any")) %>
        </div>
      </div>
      
      <div class="row vertical-padding">
        <div class="col-xs-12">
          <strong>Available</strong>
        </div>
        <div class="col-xs-6">
          <div class='input-group date datepicker'>
            <%= text_field_tag :available_starting, params[:available_starting], 
              placeholder: "starting", class:"form-control" %>
            <label class="input-group-addon btn" for="date">
              <span class="fa fa-calendar open-datepicker"></span>
            </label>
          </div>
        </div>
        <div class="col-xs-1">
          to
        </div>
        <div class="col-xs-5">
          <div class='input-group date datepicker'>
            <%= text_field_tag :available_before, params[:available_before], 
              placeholder: "by", class:"form-control" %>
            <label class="input-group-addon btn" for="date">
              <span class="fa fa-calendar open-datepicker"></span>
            </label>
          </div>
        </div>
      </div>

      <div class="row vertical-padding">
        <div class="col-xs-12">
          <%= link_to 'Neighborhoods', neighborhoods_modal_residential_units_path(@residential_unit), 
            data: {toggle: "modal", target: "#neighborhoodsModal"}, remote: true, 
            class: "link-as-button btn btn-xs btn-warning" %>
          <div id="selected_neighborhoods"></div>
          <%= hidden_field_tag :neighborhood_ids, id:"neighborhood_ids" %>
        </div>
      </div>
      <div class="row vertical-padding">
        <div class="col-xs-12">
          <%= link_to 'Features', features_modal_residential_units_path(@residential_unit), 
            data: {toggle: "modal", target: "#featuresModal"}, remote: true, 
            class: "link-as-button btn btn-xs btn-warning" %>
          <div id="selected_features"></div>
          <%= hidden_field_tag :unit_feature_ids, id:"unit_feature_ids" %>
          <%= hidden_field_tag :building_feature_ids, id:"building_feature_ids" %>
        </div>
      </div>
      <div class="row vertical-padding">
        <div class="col-xs-12">
          <%= link_to 'Clear filters', residential_units_path, class: 'btn btn-xs btn-default' %>
        </div>
      </div>

    <% end %>
  </div>
</div><!-- end mobile filters-->

<div class="row">
  <div class="col-md-12">
    <br />
    <p>
      <%= @count_all %> total units. <%= @residential_units.count %> units shown.
    </p>
    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th></th>
          <th><%= sortable('street_address_and_unit', 'Address') %></th>
          <th><%= sortable 'landlord_by_code', 'Landlord' %></th>
          <th style="width: 20%;">Access</th>
          <th><%= sortable 'bed_and_baths', "Beds/Baths" %></th>
          <th><%= sortable 'available_by', "Available" %></th>
          <th><%= sortable 'rent', "Price" %></th>
          <th><%= sortable 'updated_at', "Updated" %></th>
          <th><%= sortable 'status' %></th>
          <% if current_user.is_management? %>
            <th colspan="1"></th>
          <% end %>
        </tr>
      </thead>

      <tbody class="residential_units_table_body">
        <%# Template Dependency: residential_units/residential_unit %>
        <%= render @residential_units %>
      </tbody>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-12 form-label-responsive">
    <%= render partial: 'shared/pagination', locals: {models: @residential_units} %>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="unitDeleteModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Delete Unit</h4>
      </div>
      <div class="modal-body">
        Placeholder
      </div>
      <div class="modal-footer">
        <button class="delete-btn">Placeholder</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<%# Template Dependency: residential_units/modals %>
<%= render 'modals' %>

<!-- Neighborhood Modal -->
<div class="modal fade" id="neighborhoodsModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="neighborhood-modal-title">Select Neighborhoods</h4>
      </div>
      <div class="modal-body">
        <div id="placeholder-body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-close" data-dismiss="modal">Done</button>
      </div>

    </div>
  </div>
</div>

<!-- Features Modal -->
<div class="modal fade" id="featuresModal" tabindex="-1" role="dialog" 
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="neighborhood-modal-title">Select Features</h4>
      </div>
      <div class="modal-body">
        <div id="placeholder-body"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning btn-close" data-dismiss="modal">Done</button>
      </div>

    </div>
  </div>
</div>