<script>
$( document ).ready(function() {
    $(".panel").geocomplete({
    	map: "#map_canvas",
    	location: "<%= @residential_unit.building.formatted_street_address %>" ,
    	details: ".details"
    }).bind("geocode:result", function(event, result){
        //console.log(result);
    }).bind("geocode:error", function(event, result){
        //console.log("[ERROR]: " + result);
    });

});
</script>

<% provide(:title, 'Residential Unit') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<div class="row">
  		<div class="col-md">
  			<div class="page-header">
		  		<h1>
		  			<%= rent_formatted(@residential_unit.rent) %> - 
		  			<%= @residential_unit.street_address_and_unit %>
		  		</h1>
		  		<p>
	  				<%= @residential_unit.building.neighborhood.name %>, <%= @residential_unit.building.sublocality %>, <%= @residential_unit.building.administrative_area_level_2_short %> <%= @residential_unit.building.postal_code %>
	  			</p>
	  		</div>

	  			<p>

	  			<%= render 'market_status' %>

          <%= link_to 'Edit', edit_residential_unit_path(@residential_unit) %>
          | <%= link_to 'View all', residential_units_path %>
          | <%= link_to 'Duplicate', residential_unit_duplicate_modal_path(@residential_unit), 
      				data: { toggle: "modal", target: "#unitDuplicateModal"}, remote: true %>
      		| <%= link_to 'Report Inaccuracy', residential_unit_inaccuracy_modal_path(@residential_unit), 
        			data: {toggle: "modal", target: "#unitInaccuracyModal"}, remote: true %>
        	| <%= link_to 'Take off market', residential_unit_take_off_modal_path(@residential_unit), 
        			data: {toggle: "modal", target: "#unitTakeOffModal"}, remote: true %>
          </p>
	  	</div>
    </div>
    <div class="row">
  		<div class="col-md-12">

  			<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Unit Details</h3>
				  </div>
				  <div class="panel-body">

				  	<div id="map_canvas"></div>
				  	<br />
				    <p>
				    	<strong>Building:</strong>
  						<%= link_to @residential_unit.building.formatted_street_address, @residential_unit.building %>
						</p>
						<p>
							<strong>Access info:</strong>
							<%= @residential_unit.access_info %>
						</p>
						<p>
							<strong>Beds/Baths:</strong>
							<%= @residential_unit.beds %> / <%= @residential_unit.baths %>
						</p>
						<p>
							<strong>Lease duration:</strong>
							<%= @residential_unit.lease_duration.titleize %>
						</p>

						<%= render 'available_by' %>

						<!-- TODO: integrate with dept of buildings to get
							DOM, total floors, total units, year built, lot, block, community district, school district -->
						<p>
							<strong>Rent:</strong> <%= rent_formatted(@residential_unit.rent) %>
						</p>
						<p>
							<% if @residential_unit.weeks_free_offered > 0 %>
								<strong>Net Rent:</strong> <%= rent_formatted(@residential_unit.rent) %> x <%= @residential_unit.weeks_free_offered %> weeks free = 
								<%= rent_formatted(@residential_unit.net_rent) %>
							<% end %>
						</p>

						<p>
							<strong>Pet Policy:</strong>
							<%= @residential_unit.pet_policy.name %>
						</p>

						<!-- Landlord info -->
						<p>
							<strong>Landlord:</strong>
							<% if current_user.is_management? %>
								<%= link_to @residential_unit.landlord_by_code, @residential_unit.building.landlord %>
							<% else %>
								<%= @residential_unit.landlord_by_code %>
							<% end %>
						</p>
						<p>
							<strong>LL Pays Fee %:</strong>
							<%= @residential_unit.building.landlord.op_fee_percentage %>
						</p>
						<p>
							<strong>Required Security:</strong>
							<%= @residential_unit.building.landlord.required_security.name %>
						</p>
						<p>
							<strong>Landlord Notes:</strong>
							<%= @residential_unit.building.landlord.notes %>
						</p>
						
						<!-- Building info -->

						<p>
							<strong>Building notes:</strong>
							<%= @residential_unit.building.notes %>
						</p>

						<p>
							<strong>Rental Terms:</strong>
							<%= @residential_unit.building.rental_terms_to_s %>
						</p>


						<p>
							<strong>Building Amenities:</strong>
							<%= @residential_unit.building.amenities_to_s %>
						</p>

						<!-- Unit info -->
						<p>
						  <strong>Unit Amenities:</strong>
						  <%= @residential_unit.amenities_to_s %>
						</p>
						<p>
							<strong>Unit notes:</strong>
							<%= @residential_unit.notes %>
						</p>
						
						<% if @residential_unit.listing_agent %>
						<p>
							<strong>Listing agent:</strong>
							<%= link_to @residential_unit.listing_agent.name, @residential_unit.listing_agent %>
						</p>
						<% end %>

						<% if @residential_unit.primary_agent %>
						<p>
							<strong>Primary agent:</strong>
							<%= link_to @residential_unit.primary_agent.name, @residential_unit.primary_agent %>
						</p>
						<% end %>

						<p>
							<strong>Open House:</strong>
							<%= @residential_unit.open_house %>
						</p>

						<p>
							<strong>Listing ID:</strong>
							<%= @residential_unit.listing_id %>
						</p>

						<script type='text/javascript'>
var ws_wsid = 'e4004727da4a47a2bcb676b7abf930b6';
var ws_address = '<%= @residential_unit.building.formatted_street_address %>';
var ws_width = '600';
var ws_height = '444';
var ws_layout = 'horizontal';
var ws_commute = 'true';
var ws_transit_score = 'true';
var ws_map_modules = 'all';
</script><style type='text/css'>#ws-walkscore-tile{position:relative;text-align:left}#ws-walkscore-tile *{float:none;}#ws-foottext, #ws-footer a,#ws-footer a:link{font:11px/14px Verdana,Arial,Helvetica,sans-serif;margin-right:6px;white-space:nowrap;padding:0;color:#000;font-weight:bold;text-decoration:none}#ws-footer a:hover{color:#000;text-decoration:none}#ws-footer a:active{color:#b14900}</style><div id='ws-walkscore-tile'><div id='ws-footer' style='position:absolute;top:426px;left:8px;width:588px'><form id='ws-form'><span id='ws-foottext' style='float: left;'>Score <a id='ws-a' href='https://www.redfin.com/how-walk-score-works' target='_blank'>Your Home</a>: </span><input type='text' id='ws-street' style='position:absolute;top:0px;left:170px;width:386px' /><input type='image' id='ws-go' src='//cdn2.walk.sc/2/images/tile/go-btn.gif' height='15' width='26' border='0' alt='get my Walk Score' style='position:absolute;top:0px;right:0px' /></form></div></div><script type='text/javascript' src='http://www.walkscore.com/tile/show-walkscore-tile.php'></script>

					</div>
				</div><!-- end panel -->


  		</div>
  	</div>
	</div>
</div>
  
<%= render 'modals' %>