<script>
$( document ).ready(function() {
    $(".panel").geocomplete({
    	map: "#map_canvas",
    	location: "<%= @residential_unit.building.formatted_street_address %>" ,
    	details: ".details"
    }).bind("geocode:result", function(event, result){
        //console.log(result);
    }).bind("geocode:error", function(event, result){
        //console.log("[ERROR]: " + result);
    });

});
</script>

<% provide(:title, 'Residential Unit') %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
  	<div class="row">
  		<div class="col-md">
  			<div class="page-header">
		  		<h1>
		  			<%= rent_formatted %> - 
		  			<%= @residential_unit.building.street_address %> #<%= @residential_unit.building_unit %>
		  		</h1>
		  		<p>
	  				<%= @residential_unit.building.neighborhood.name %>, <%= @residential_unit.building.sublocality %>, <%= @residential_unit.building.administrative_area_level_2_short %> <%= @residential_unit.building.postal_code %>
	  			</p>
	  		</div>

	  			<p>
	  			<% if @residential_unit.status == "active" %>
            <span class="green">On Market</span>
          <% elsif @residential_unit.status == "pending" %>
            <span class="dark-orange">Pending Application</span>
          <% elsif @residential_unit.status == "off" %>
            <span class="grey">Off Market</span>
          <% end %>

          | <%= link_to 'Edit', edit_residential_unit_path(@residential_unit) %>
          | <%= link_to 'View all', residential_units_path %>
          </p>
	  	</div>
    </div>
    <div class="row">
  		<div class="col-md-12">

  			<div class="panel panel-default">
				  <div class="panel-heading">
				    <h3 class="panel-title">Unit Details</h3>
				  </div>
				  <div class="panel-body">

				  	<div id="map_canvas"></div>
				  	<br />
				    <p>
				    	<strong>Building:</strong>
  						<%= link_to @residential_unit.building.formatted_street_address, @residential_unit.building %>
						</p>
						<p>
							<strong>Access info:</strong>
							<%= @residential_unit.access_info %>
						</p>
						<p>
							<strong>Beds/Baths:</strong>
							<%= @residential_unit.beds %> / <%= @residential_unit.baths %>
						</p>
						<p>
							<strong>Lease duration:</strong>
							<%= @residential_unit.lease_duration.titleize %>
						</p>

						<p>
							<strong>Available by:</strong>
							<% if @residential_unit.available_by < Date.today %>
								Now
							<% else %>
								<%= @residential_unit.available_by.strftime("%Y-%b-%d") %>
							<% end %>
						</p>

						<!-- TODO: integrate with dept of buildings to get
							DOM, total floors, total units, year built, lot, block, community district, school district -->

						<!-- Landlord info -->
						<p>
							<strong>Landlord:</strong>
							<% if current_user.is_company_admin? || current_user.is_manager? %>
								<%= link_to @residential_unit.building.landlord.code, @residential_unit.building.landlord %>
							<% else %>
								<%= @residential_unit.building.landlord.code %>
							<% end %>
						</p>
						<p>
							<strong>LL Pays Fee %:</strong>
							<%= @residential_unit.building.landlord.fee_percentage %>
						</p>
						<p>
							<strong>Pet Policy:</strong>
							<%= @residential_unit.building.landlord.pet_policy.name %>
						</p>
						<p>
							<strong>Required Security:</strong>
							<%= @residential_unit.building.landlord.required_security.name %>
						</p>
						<p>
							<strong>Landlord Notes:</strong>
							<%= @residential_unit.building.landlord.notes %>
						</p>
						
						<!-- Building info -->

						<p>
							<strong>Building notes:</strong>
							<%= @residential_unit.building.notes %>
						</p>

						<p>
							<strong>Rental Terms:</strong>
							<%= @residential_unit.building.rental_terms_to_s %>
						</p>

						<p>
							<strong>Building Amenities:</strong>
							<%= @residential_unit.building.amenities_to_s %>
						</p>

						<!-- Unit info -->
						<p>
						  <strong>Unit Amenities:</strong>
						  <%= @residential_unit.amenities_to_s %>
						</p>
						<p>
							<strong>Unit notes:</strong>
							<%= @residential_unit.notes %>
						</p>
						
						<% if @residential_unit.primary_agent %>
						<p>
							<strong>Primary agent:</strong>
							<%= @residential_unit.primary_agent.name %>
						</p>
						<% end %>

						<p>
							<strong>Open House:</strong>
							<%= @residential_unit.open_house %>
						</p>

					</div>
				</div><!-- end panel -->


  		</div>
  	</div>
	</div>
</div>
  
