<tr class="<%= cycle('even', 'odd') -%>">
  <td><%= link_to deal.street_address2, deal %></td>

  <td><%= deal.building_unit %></td>

  <td>
    <!-- NOTE: Currently we have the Client model created, but no saved data -->
    <!-- The Client model is completely unused. -->
    <!-- %= deal.client % -->
    - None specified -
  </td>

  <td><%= rent_formatted deal.price %></td>

  <td>
    <% if !deal.commission.blank? %>
      <%= deal.commission %>
    <% else %>
      - None specified -
    <% end %>
  </td>

  <td><%= deal.closed_date %></td>

  <td>
    <%= link_to 'Edit', edit_deal_path(deal) %>
    <%= link_to 'Delete', delete_modal_deal_path(deal),
      data: {toggle: "modal", target: "#dealDeleteModal"}, remote: true %>
  </td>
</tr>