<tr class="<%= cycle('even', 'odd') -%>">
  <td><%= link_to deal.street_address2, deal %></td>

  <td><%= deal.building_unit %></td>

  <!-- closing agent -->
  <td><%= deal.name %> </td>

  <!-- closed by primary agent? -->
  <td>
    <%if !deal.rented_by_agent_id %>
      Unknown
    <% else %>
      <%= deal.closing_agent_id == deal.rented_by_agent_id ? 'Yes' : 'No' %>
    <% end %>
  </td>

  <td>
    <!-- NOTE: Currently we have the Client model created, but no saved data -->
    <!-- The Client model is completely unused. -->
    <!-- %= deal.client % -->
    - None specified -
  </td>

  <td><%= rent_formatted deal.price %></td>

  <td>
    <% if !deal.commission.blank? %>
      <%= deal.commission %>
    <% else %>
      - None specified -
    <% end %>
  </td>

  <td><%= deal.state.titleize %></td>

  <td><%= deal.closed_date %></td>

  <td class="hidden-print">
    <%= link_to 'Edit', edit_deal_path(deal) %>
    <%= link_to 'Delete', delete_modal_deal_path(deal),
      data: {toggle: "modal", target: "#dealDeleteModal", params: params}, remote: true %>
  </td>
</tr>
