<div id="deals">

<%= form_for(@deal) do |f| %>
<%= f.hidden_field :lock_version %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body no-vertical-padding">
        <%= render partial: 'shared/error_messages',
          locals: {model: @deal} %>

        <div class="row">
          <div class="col-md-12 form-section-header">
            <hr class="thin-line" />
            <h4>Basic Info</h4>
            <hr class="thin-line" />
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :state, class: 'required' %>
          </div>
          <div class="col-xs-9 col-md-4">
            <div class="field">
              <%= f.select :state,
                options_for_select(%w(Accepted Rejected Dead),
                  [@deal.state.titleize]),
                {prompt: "Choose one..."},
                required: true,
                class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :building_id, "Building", class: 'required' %>
          </div>
          <div class="col-xs-9 col-md-4">
            <%= f.select(:building_id,
              options_for_select(current_user.company.buildings.order("formatted_street_address ASC").collect {|b| [b.street_address, b.id]},
                [@deal && @deal.unit ? @deal.unit.building_id : '']),
              {prompt: "Choose one..."},
              class: 'form-control',
              include_blank: true) %>
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :unit_id, "Unit", class: 'required' %>
          </div>
          <div class="col-xs-9 col-md-4">
            <%= f.select(:unit_id,
              options_for_select(@listings.collect {|l| [l.building_unit, l.id]}, [@deal.unit_id]),
              { prompt: "Choose one..."},
              class: 'form-control',
              required: true) %>
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :landlord_code, "Landlord", class: 'required' %>
          </div>
          <div class="col-xs-9 col-md-4">
            <%= f.select(:landlord_code, options_for_select(current_user.company.landlords.order("code ASC").collect {|l| [l.code]},
              [@deal.landlord_code ? @deal.landlord_code : (@deal.unit ? @deal.unit.building.landlord.code : '')]),
              {prompt: "Choose one..."},
              required: true,
              class: 'form-control',
              include_blank: true) %>
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :price, class: 'required' %>
          </div>
          <div class="col-xs-9 col-md-4">
            <%= f.number_field :price, class: 'form-control', placeholder: '$', required: true %>
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :commission, class: 'required' %>
          </div>
          <div class="col-xs-9 col-md-4">
            <%= f.number_field :commission, class: 'form-control', placeholder: '$', required: true %>
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :lease_start_date, "Lease Duration", class: 'required' %>
          </div>

          <div class="col-xs-4 col-md-3 col-sm-left-padding">
            <div class='input-group date datepicker'
              data-available-by="<%= @deal.lease_start_date ? @deal.lease_start_date.strftime("%m/%d/%Y") : '' %>">

              <%= f.text_field :lease_start_date,
                placeholder: "Starts", class:"form-control", required: true %>

              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>

          <div class="col-xs-4 col-md-3 col-sm-left-padding">
            <div class='input-group date datepicker'
              data-available-by="<%= @deal.lease_expiration_date ? @deal.lease_expiration_date.strftime("%m/%d/%Y") : '' %>">

              <%= f.text_field :lease_expiration_date,
                placeholder: "Ends", class:"form-control", required: true %>

              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :closed_date, class: 'required' %>
          </div>
          <div class="col-xs-9 col-md-4">
            <div class='input-group date datepicker'
              data-available-by="<%= @deal.closed_date ? @deal.closed_date.strftime("%m/%d/%Y") : '' %>">

              <%= f.text_field :closed_date,
                placeholder: "Closed", class:"form-control", size:30 %>

              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :move_in_date, class: 'required' %>
          </div>
          <div class="col-xs-9 col-md-4">
            <div class='input-group date datepicker'
              data-available-by="<%= @deal.move_in_date ? @deal.move_in_date.strftime("%m/%d/%Y") : '' %>">

              <%= f.text_field :move_in_date,
                placeholder: "Closed", class:"form-control", size:30 %>

              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :user_id, "Closing Agent" %>
          </div>
          <div class="col-xs-9 col-md-4">
            <%= f.select(:user_id,
              options_for_select(current_user.company.users.unarchived.collect {|u| [u.name, u.id]},
                [@deal ? @deal.user_id : '']),
              {prompt: "Choose one..."},
              class: 'form-control',
              include_blank: true) %>
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :rented_by_agent_id, "Primary Agent" %>
          </div>
          <div class="col-xs-9 col-md-4">
            <%= f.select(:rented_by_agent_id,
              options_for_select(current_user.company.users.unarchived.collect {|u| [u.name, u.id]},
                [@deal ? @deal.rented_by_agent_id : '']),
              {prompt: "Choose one..."},
              class: 'form-control',
              include_blank: true) %>
          </div>
        </div>

        <div class="row vertical-margin-lg">
          <div class="col-xs-3 col-md-3 form-label-responsive">
            <%= f.label :deal_notes, class: 'required' %>
          </div>
          <div class="col-xs-9 col-md-8">
            <%= f.text_area :deal_notes, class: 'form-control', required: true, rows: 6 %>
          </div>
        </div>

        <br>
        <div class="row vertical-margin-lg">
          <div class="col-md-6 col-md-offset-3">
            <div class="actions">
              <%= f.submit 'Update', class:"btn btn-warning btn-block" %>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
<% end %>

</div>
