  <tr class="<%= cycle('even', 'odd') -%>" data-id="<%= entry.id %>" data-email="<%= entry.email %>" >

    <!-- ****** checkboxes ****************************************** -->
    <td>
      <i data-action="selectUnit" class="fa fa-square-o fa-lg"></i>
    </td>

    <!-- ****** NAME ****************************************** -->
    <td>
      <% if !entry.read %>
        <strong><%= link_to entry.name, detail_modal_forms_partner_path(entry),
          data: { toggle: "modal", target: "#entryDetailModal"}, remote: true %></strong>
      <% else %>
        <%= link_to entry.name, detail_modal_forms_partner_path(entry),
          data: { toggle: "modal", target: "#entryDetailModal"}, remote: true %>
      <% end %>
    </td>

    <!-- ****** PHONE ****************************************** -->
    <td class="js-detect-phone"><%= entry.phone_number %></td>

    <!-- ****** EMAIL ****************************************** -->
    <td><%= entry.email %></td>

    <!-- ****** how_did_you_hear_about_us ****************************************** -->
    <td><%= entry.how_did_you_hear_about_us %></td>

    <td><%= entry.address_street_address %></td>

    <td><%= entry.number_of_bedrooms %></td>

    <td>
      <% if entry.renovated == true %>
        <span class="glyphicon glyphicon-ok green text-center" aria-hidden="true"></span>
      <% else %>
        <span class="glyphicon glyphicon-remove red middle" aria-hidden="true"></span>
      <% end %>
    </td>

    <td><%= entry.move_in_date %></td>

    <td><%= entry.created_at %></td>

    <!-- ****** LINKS ****************************************** -->
    <% if current_user.is_management? || current_user.is_listings_manager? %>
      <td>
        <%= link_to 'Delete', hide_modal_forms_partner_path(entry),
          data: { toggle: "modal", target: "#entryArchiveModal"}, remote: true %>
      </td>
    <% end %>
  </tr>
