<% provide(:title, 'Careers') %>

<div id="careers">
<div id="section-name" data-name="careers">

<div class="page-header">
  <div class="row">
    <div class="col-md-6">
      <h1>Careers</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">

    <i class="fa fa-spinner fa-pulse fa-5x forms-spinner-desktop"></i>

    <div id="careers-search-filters" data-search-path="<%= filter_forms_careers_path %>">
      <%= form_tag forms_careers_path, :method => 'get' do %>
        <div class="row vertical-padding">
          <div class="col-xs-3 col-md-2">
            <%= label_tag :name, 'Name' %>
          </div>
          <div class="col-xs-9 col-md-10 col-sm-left-padding">
            <%= autocomplete_field_tag :name, params[:name],
              autocomplete_wufoo_career_form_name_forms_careers_path,
              update_elements: {},
              placeholder: "Bob Smith",
              class:'form-control' %>
          </div>
        </div>

    </div>
  </div>

  <div class="col-md-4">
    <div class="row vertical-padding">
        <div class="col-xs-3 col-md-5 form-label-responsive">
          <%= label_tag(:submitted_date) %>
        </div>
        <div class="col-xs-9 col-md-7 col-sm-left-padding">
          <div class='input-group date datepicker'>
            <%= text_field_tag :submitted_date, params[:submitted_date],
              placeholder: "date", class:"form-control", size:30 %>
            <label class="input-group-addon btn" for="date">
              <span class="fa fa-calendar open-datepicker"></span>
            </label>
          </div>
        </div>
      </div>
  </div>

  <% end %>
</div>

<hr />
<%= form_tag forms_careers_path do %>
<br />
<div class="row">
  <div class="col-md-6">
      <!-- will be a dropdown of either print pdf or email -->
      <div class="dropdown selected-listings">
        <button class="btn btn-warning btn-sm dropdown-toggle disabled" id="selected-listings-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="menu">
          0 Selected Entries
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu selected-listings-menu" aria-labelledby="selected-listings-dropdown">
          <li role="presentation"><a class="list-item-sm-padding" data-action="mark-read" role="menuitem" tabindex="-1">
            <i class="fa fa-fw fa-file-text"></i> Mark Read</a></li>

          <li role="presentation"><a class="list-item-sm-padding" id="deleteMultiple" role="menuitem" tabindex="-1"
            data-toggle="modal" data-target="#entryDeleteMultipleModal">
            <i class="fa fa-fw fa-envelope"></i> Delete</a></li>

          <li role="presentation"><a class="list-item-sm-padding" id="emailListings" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#emailModal">
            <i class="fa fa-fw fa-envelope"></i> Email</a></li>

          <li role="presentation"><a class="list-item-sm-padding" data-action="PDF" role="menuitem" tabindex="-1">
            <i class="fa fa-fw fa-file-text"></i> PDF</a></li>

          <li role="presentation"><a class="list-item-sm-padding" data-action="CSV" role="menuitem" tabindex="-1">
            <i class="fa fa-fw fa-list"></i> CSV</a></li>
        </ul>
      </div>

    <span class="totals">
      &nbsp;&nbsp;<%= @entries.total_count %> Entries found
    </span>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover table-condensed infinite-table">
      <thead>
        <tr>
          <th style="min-width: 45px;">
            <!-- checkboxes -->
            <i data-action="selectAllUnits" class="select-all-listings fa fa-square-o fa-lg"></i>
          </th>
          <th data-sort="name" class="th-sortable">Name</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Source</th>
          <th>Licensed Agent?</th>
          <th>Current Neighborhood</th>
          <th data-sort="created_at" class="th-sortable">Submitted</th>

          <th data-sort="status">Status</th>
          <% if current_user.is_management? || current_user.is_listings_manager? %>
            <th colspan="1"></th>
          <% end %>
        </tr>
      </thead>

      <tbody class="careers_table_body">
        <%= render partial: 'forms/careers/entry', collection: @entries, as: :entry %>
      </tbody>
    </table>
  </div>
</div>

<% end %><!-- form -->

<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <%= render partial: 'shared/pagination', locals: {models: @entries} %>
  </div>
</div>

<!-- Email Modal -->
<div class="modal fade modal-fullscreen" id="emailModal" tabindex="-1" role="dialog"
  aria-labelledby="emailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <%= form_tag(send_message_forms_careers_path, remote:true) do %>
        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "email_modal[recipients]", "Recipients", class: 'required' %>
            <i><small>Use commas to separate email addresses</small></i>
            <%= text_field_tag "email_modal[recipients]", nil, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "email_modal[title]", "Title", class: 'required' %>
            <%= text_field_tag "email_modal[title]", "Thank you for contacting us!", class: 'form-control', required: true %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "email_modal[message]", "Message" %>
            <%= text_area_tag "email_modal[message]", nil, class: 'form-control', rows: 8 %>
          </div>
        </div>

        <br />
        <div class="row vertical-padding">
          <div class="col-md-12">

          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default horizontal-padding" data-dismiss="modal">Cancel</button>&nbsp;&nbsp;
        <%= submit_tag "Send Email", class:"btn btn-warning" %>
      </div>

      <% end %>

    </div>
  </div>
</div>

<%= render partial: 'forms/shared/modals' %>

</div>
