<p id="notice"><%= notice %></p>

<p>
  <strong>String:</strong>
  <%= @unit.string %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @unit.unit %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @unit.beds %>
</p>

<p>
  <strong>Baths:</strong>
  <%= @unit.baths %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @unit.rent %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
