  <tr class="<%= cycle('even', 'odd') -%>" data-id="<%= commercial_listing.listing_id %>" >
    <!-- ****** checkboxes ****************************************** -->
    <% if controller_name == 'commercial_listings' %>
      <td>
        <i data-action="selectUnit" class="fa fa-square-o fa-lg"></i>
      </td>
    <% end %>
    <!-- ****** IMAGE ****************************************** -->
    <td class="img-col" style="max-width: 150px;">
      <!-- display building image first, if any are found -->
      <% if bldg_images[commercial_listing.building_id] %>
        <%= link_to(image_tag(bldg_images[commercial_listing.building_id],
            alt: bldg_images[commercial_listing.building_id]), commercial_listing) %>
      <!-- otherwise, pick the first residential photo -->
      <% elsif com_images[commercial_listing.unit_id] %>
        <%= link_to(image_tag(com_images[commercial_listing.unit_id],
          alt: com_images[commercial_listing.unit_id]), commercial_listing) %>
      <% else %>
      <!-- otherwise, fall back on placeholder image -->
        <%= link_to(image_tag("listing_soon_thumb.png".freeze, alt: "Image coming soon",
          class: 'img-responsive',
          size: "100x100"), commercial_listing) %>
      <% end %>
    </td>

    <!-- ****** ADDRESS ****************************************** -->
    <td>
      <%= link_to commercial_listing.street_address_and_unit, commercial_listing %><br />
      <% if commercial_listing.neighborhood_name %>
        <small><%= commercial_listing.neighborhood_name %></small>
      <% end %>
    </td>
    <td>
      <% if current_user.is_management? %>
        <%= link_to commercial_listing.code, landlord_path(commercial_listing.landlord_id) %>
      <% else %>
        <%= commercial_listing.code %>
      <% end %>
    </td>

    <!-- ****** SUMMARY ****************************************** -->
    <td><%= commercial_listing.summary %></td>

    <!-- ****** PRICE ****************************************** -->
    <td><%= rent_formatted(commercial_listing.rent) %>/Month</td>

    <!-- ****** SQ FOOTAGE ****************************************** -->
    <td><%= commercial_listing.sq_footage %></td>

    <!-- ****** AVAILABLE BY ****************************************** -->
    <td><%= commercial_listing.available_by %></td>

    <!-- ****** ACCESS INFO ****************************************** -->
    <td class="js-phoneNumber"><%= commercial_listing.access_info %></td>

    <!-- ****** UPDATED_AT ****************************************** -->
    <td><%= time_ago_in_words(commercial_listing.updated_at) %></td>

    <!-- ****** STATUS ****************************************** -->
    <td>
      <% if commercial_listing.status == Unit.statuses["active"]
       %>
        <span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span>
      <% elsif commercial_listing.status == Unit.statuses["pending"] ||
          commercial_listing.status == Unit.statuses["offer_submitted"] ||
          commercial_listing.status == Unit.statuses["offer_accepted"] ||
          commercial_listing.status == Unit.statuses["binder_signed"] %>
        <span class="glyphicon glyphicon-arrow-up dark-orange" aria-hidden="true"></span>
      <% elsif commercial_listing.status == Unit.statuses["off"] ||
          commercial_listing.status == Unit.statuses["off_market_for_lease_execution"] %>
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
      <% end %>
    </td>

    <% if current_user.is_management? || current_user.is_listings_manager? ||
          current_user.is_photo_manager? %>
      <td>
        <% if !current_user.is_photo_manager? %>
          <%= link_to 'Edit', edit_commercial_listing_path(commercial_listing) %>
          <br>
          <% if controller_name == 'commercial_listings' %>
            <%= link_to 'Delete', delete_modal_commercial_listing_path(commercial_listing),
              data: { toggle: "modal", target: "#unitDeleteModal", params: params}, remote: true %>
            <br>
          <% end %>
          <!-- hide the delete link on landlord, building and user pages -->
          <!--%= link_to 'Announcement', new_announcement_path(
            { address: commercial_listing.formatted_street_address }) %-->
        <% else %>
          <%= link_to 'Manage photos', edit_commercial_listing_path(commercial_listing) %>
        <% end %>
      </td>
    <% end %>
  </tr>
