<script>
	function initialize() {
		$('#neighborhood-tabpanel a:first').tab('show')
	};
	$(document).ready(initialize);
</script>

<div class="modal-body">

	<div role="tabpanel" id="neighborhood-tabpanel">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<% @neighborhoods.each do |borough, list| %>
						<li role="presentation"><a href="#<%= borough %>" aria-controls="<%= borough %>" role="tab" data-toggle="tab">
							<%= borough %></a>
						</li>
					<% end %>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">

	  		<% @neighborhoods.each do |borough, list| %>

			    	<div role="tabpanel" class="tab-pane" id="<%= borough %>">
			    		<br />

			    			<% col_height = (list.count.to_f/3.to_f).ceil - 1 %>
			    			<% if col_height < 0 ; col_height = 0; end %>


			    			<% for i in 0..col_height %>
			    				<div class="row">


					    			<% neighborhood = list[i] %>
					    			<div class="col-xs-4">

					    				<div class="btn-group neighborhood-buttons" data-toggle="buttons">
							    			<label class="btn btn-xs btn-link btn-as-checkbox text-left"
							    				id="<%= neighborhood.id %>" name="<%= neighborhood.name %>">
												  <input type="checkbox" autocomplete="off">
												  	<%= wrap_text(neighborhood.name.titleize, 20) %>
												</label>
											</div>
										</div>

										<% col_height <= 0 ? (offset = 1 + i): (offset = col_height + 1 + i) %>

										<% if offset < list.count %>
											<% neighborhood = list[offset] %>
											<div class="col-xs-4">

						    				<div class="btn-group neighborhood-buttons" data-toggle="buttons">
								    			<label class="btn btn-xs btn-link btn-as-checkbox text-left word-wrap"
								    				id="<%= neighborhood.id %>" name="<%= neighborhood.name %>">
													  <input type="checkbox" autocomplete="off">
													  	<%= neighborhood.name.titleize %>
													</label>
												</div>
											</div>
										<% else %>
											<div class="col-xs-4"></div>
										<% end %>

										<% col_height <= 0 ? (offset = 2 + i): (offset = col_height*2 + 2 + i) %>

										<% if offset < list.count %>
											<% neighborhood = list[offset] %>
											<div class="col-xs-4">

						    				<div class="btn-group neighborhood-buttons" data-toggle="buttons">
								    			<label class="btn btn-xs btn-link btn-as-checkbox text-left word-wrap"
								    				id="<%= neighborhood.id %>" name="<%= neighborhood.name %>">
													  <input type="checkbox" autocomplete="off">
													  	<%= neighborhood.name.titleize %>
													</label>
												</div>
											</div>
										<% else %>
											<div class="col-xs-4"></div>
										<% end %>

									</div><!-- row -->
				    		<% end %>

			    	</div><!-- tabpanel -->

				<% end %><!-- boroughs -->
				</div><!-- tab-content -->


	</div>


</div>
