<div class="row">
  <div class="col-md-8 col-md-offset-2">
		<div class="page-header">
			<div class="row">
		    <div class="col-md-12">
					<h1>
						<% if @commercial_unit.unit.building_unit %>
							<small>#<%= @commercial_unit.unit.building_unit %></small>
						<% end %>
						<%= @commercial_unit.unit.building.formatted_street_address %>
				  </h1>
				</div>
			</div>
		  <div class="row">
				<div class="col-md-6">
				  <!-- a href="http://www.loopnet.com/lid/<%= @commercial_unit.unit.listing_id %>">http://www.loopnet.com/lid/<%= @commercial_unit.unit.listing_id %></a-->
				</div>
				<div class="col-md-6 form-label-responsive">
					<%= link_to 'Show', @commercial_unit %>
					| <%= link_to 'View all', commercial_listings_path %>
				</div>
			</div>
		</div><!-- page-header -->

		<%= render 'form' %>

	</div>
</div><!-- row -->


