<% provide(:title, @commercial_unit.unit.building.street_address + ' - Editing') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
		<div class="page-header">
			<div class="row">
		    <div class="col-sm-8">
		    	<h1><%= @commercial_unit.unit.building.street_address %>
		    	<% if @commercial_unit.unit.building_unit %>
			    	<small>#<%= @commercial_unit.unit.building_unit %></small>
			    <% end %>
			   	</h1>
				</div>
				<div class="col-sm-4 page-header-buttons-lg form-label-responsive">
					<%= link_to 'Show', @commercial_unit %>
					| <%= link_to 'All units', commercial_listings_path %>
				</div>
			</div>
		</div><!-- page-header -->

		<%= render 'form' %>

	</div>
</div><!-- row -->


