<% provide(:title, 'Commercial Listings') %>

<div id="commercial">
<div id="section-name" data-name="commercial_listings">

<div class="row">
  <div class="col-sm-6">
    <h1>Commercial Listings</h1>
  </div>
  <div class="hidden-xs hidden-sm col-sm-6 form-label-responsive page-header-buttons">
    <% if current_user.is_management? || current_user.is_listings_manager? %>
      <%= link_to 'Add a Deal', new_deal_path,
          class: 'btn btn-warning btn-sm link-as-button management-action-button' %>
      <%= link_to 'Make Announcement', new_announcement_path,
          class: 'btn btn-warning btn-sm link-as-button management-action-button' %>
      <%= link_to 'Add a unit', new_commercial_listing_path,
          class: 'btn btn-sm btn-warning link-as-button management-action-button' %>
      <%= link_to 'Export to CSV',
          commercial_listings_path(params.permit!.merge(format: 'csv')),
          class: 'btn btn-sm btn-warning link-as-button management-action-button',
          target: :_blank %>
    <% end %>
  </div>
  <div class="hidden-md hidden-lg col-sm-5 col-sm-left-padding form-label-responsive page-header-buttons">
    <% if current_user.is_management? || current_user.is_listings_manager? %>
      <%= link_to 'Add a Deal', new_deal_path,
          class: 'btn btn-warning btn-sm link-as-button management-action-button' %>
      <%= link_to 'Make Announcement', new_announcement_path,
          class: 'btn btn-warning btn-sm link-as-button management-action-button' %>
      <%= link_to 'Add a unit', new_commercial_listing_path,
          class: 'btn btn-sm btn-warning link-as-button management-action-button' %>
      <%= link_to 'Export to CSV',
          commercial_listings_path(params.permit!.merge(format: 'csv')),
          class: 'btn btn-sm btn-warning link-as-button management-action-button',
          target: :_blank %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3">
    <i class="fa fa-spinner fa-pulse fa-5x res-spinner-desktop listings-spinner-desktop"></i>

    <div id="com-search-filters" class="hidden-print" data-search-path="<%= filter_commercial_listings_path %>">
      <%= form_tag commercial_listings_path, method: 'get' do %>
        <div class="row vertical-margin-lg">
          <div class="col-xs-3">
            <%= label_tag(:address, "Address") %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
            <%= autocomplete_field_tag :address, params[:address],
              autocomplete_building_formatted_street_address_commercial_listings_path,
              update_elements: {},
              placeholder: "123 Main St",
              class:'form-control' %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag(:unit, "Rent") %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= number_field_tag :rent_min, params[:rent_min], placeholder: "$ min",
              min: 0, max: 1000000, class:"form-control" %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= number_field_tag :rent_max, params[:rent_max], placeholder: "$ max",
              min: 0, max: 1000000, class:"form-control" %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag(:unit, "Sq Ft") %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= number_field_tag :sq_footage_min, params[:sq_footage_min], placeholder: "min",
              min: 0, max: 1000000, class:"form-control" %>
          </div>
          <div class="col-xs-4 col-sm-left-padding">
            <%= number_field_tag :sq_footage_max, params[:sq_footage_max], placeholder: "max",
              min: 0, max: 1000000, class:"form-control" %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag(:landlord, "Landlord ") %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
            <%= autocomplete_field_tag :landlord, params[:landlord],
              autocomplete_landlord_code_commercial_listings_path,
              update_elements: {},
              placeholder: "code",
              size: 30, class:'form-control' %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag :status, "Status" %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
            <%= select_tag(:status,
              options_for_select(['Any', 'Active', 'Offer Submitted', 'Offer Accepted', 'Binder Signed', 'Off Market for Lease Execution', 'Off'],
              params[:status] ? params[:status].titleize : "Active"),
              class:"form-control") %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag :commercial_property_type_id, "Type" %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
            <%= select_tag(:commercial_property_type_id,
              options_for_select(current_user.company.commercial_property_types.map {|t| [t.property_sub_type, t.id]},
                params[:commercial_property_type_id] ? params[:commercial_property_type_id].titleize : "Active"),
              prompt: 'Any',
              class:"form-control") %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-3">
            <%= label_tag :primary_agent_id, "Agent" %>
          </div>
          <div class="col-xs-8 col-sm-left-padding">
            <%= select_tag(:primary_agent_id,
              options_for_select(current_user.company.users.unarchived.collect {|u| [u.name, u.id]},
                  [params[:primary_agent_id] ? params[:primary_agent_id].titleize : "Any"]),
                {prompt: "Choose one...",
                class: 'form-control'}) %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-12">
            <strong>Available</strong>
          </div>
        </div>
        <div class="row vertical-padding">
          <div class="col-xs-6 col-sm-left-padding">
            <div class='input-group date datepicker'>
              <%= text_field_tag :available_starting, params[:available_starting],
                placeholder: "starting", class:"form-control", size:30 %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
          <div class="col-xs-5 col-sm-left-padding">
            <div class='input-group date datepicker'>
              <%= text_field_tag :available_before, params[:available_before],
                placeholder: "by", class:"form-control" %>
              <label class="input-group-addon btn" for="date">
                <span class="fa fa-calendar open-datepicker"></span>
              </label>
            </div>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-11 selectize-wrapper">
            <select id="neighborhood-select-multiple" placeholder="Neighborhoods...">
              <% @neighborhoods.each do |borough, list| %>
                <optgroup label="<%= borough %>">
                  <% list.each do |neighborhood| %>
                    <option value="<%= neighborhood.id %>"><%= neighborhood.name %></option>
                  <% end %>
                </optgroup>
              <% end %>
            </select>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-xs-11 col-sm-left-padding">
            <button id='com-search-trigger', class="search-trigger btn btn-warning btn-sm form-control">
              Search
            </button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-9 hidden-xs hidden-sm">
    <div id="c-big-map" data-map-points="<%= @map_infos %>"></div>
  </div>
</div>

<div class="hidden-xs hidden-sm">
  <hr class="map-hr">
</div>

<%= form_tag print_list_commercial_listings_path do %>
<div class="row">
  <div class="col-md-6 vertical-margin-lg">
    <!-- will be a dropdown of either print pdf or email -->
    <div class="dropdown selected-listings">
      <button class="btn btn-warning btn-sm dropdown-toggle disabled" id="selected-listings-dropdown" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="menu">
        0 Selected Listings
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu selected-listings-menu" aria-labelledby="selected-listings-dropdown">
        <li role="presentation"><a class="list-item-sm-padding" id="emailListings" role="menuitem" tabindex="-1" data-toggle="modal" data-target="#emailModal">
          <i class="fa fa-fw fa-envelope"></i> Email</a></li>
        <!-- li role="presentation"><a class="list-item-sm-padding" data-action="listingsSheet" role="menuitem" tabindex="-1">
          <i class="fa fa-fw fa-file-text"></i> Show Sheet</a></li-->
        <li role="presentation"><a class="list-item-sm-padding" data-action="internalListingsSheet" role="menuitem" tabindex="-1">
          <i class="fa fa-fw fa-list"></i> Internal Listings Sheet</a></li>
      </ul>
    </div>

    <span class="totals">
      &nbsp;&nbsp;<%= @commercial_units.total_count %> Units found
    </span>
  </div>
</div>

<span id="infinite-table-container">
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-hover table-condensed infinite-table-com">
        <thead>
          <tr>
            <th style="min-width: 45px;">
              <!-- checkboxes -->
              <i data-action="selectAllUnits" class="select-all-listings fa fa-square-o fa-lg"></i>
            </th>
            <th style="max-width: 105px;"><!-- first image --></th>
            <th data-sort="formatted_street_address" class="th-sortable">Address</th>
            <th data-sort="code" class="th-sortable">Landlord</th>
            <th>Property Sub-type</th>
            <th data-sort="rent" class="th-sortable">Price</th>
            <th data-sort="sq_footage" class="th-sortable">Sq Footage</th>
            <th data-sort="available_by" class="th-sortable">Available</th>
            <th data-sort="access_info" class="th-sortable">Access</th>
            <th data-sort="updated_at" class="th-sortable">Updated</th>
            <th data-sort="status" class="th-sortable">Status</th>
            <% if current_user.is_management? || current_user.is_listings_manager? %>
              <th colspan="1"></th>
            <% end %>
          </tr>
        </thead>

        <tbody class="commercial_units_table_body">
          <%= render partial: 'commercial_listings/commercial_listing',
              collection: @commercial_units, locals: {
                com_images: @com_images, bldg_images: @bldg_images
              } %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4 pagination-wrapper">
      <%= render partial: 'shared/pagination', locals: {models: @commercial_units} %>
    </div>
  </div>
</span>

</div>

<% end %><!-- form -->


<!-- Email Modal -->
<div class="modal fade modal-fullscreen" id="emailModal" tabindex="-1" role="dialog"
  aria-labelledby="emailModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <%= form_tag(send_listings_commercial_listings_path, remote:true) do %>
      <div class="modal-body">
        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "commercial_listing[recipients]", "Recipients", class: 'required' %>
            <i><small>Use commas to separate email addresses</small></i>
            <%= text_field_tag "commercial_listing[recipients]", nil, class: 'form-control', required: true %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "commercial_listing[title]", "Title", class: 'required' %>
            <%= text_field_tag "commercial_listing[title]", "Check out these great listings!", class: 'form-control', required: true %>
          </div>
        </div>

        <div class="row vertical-padding">
          <div class="col-md-12">
            <%= label_tag "commercial_listing[message]", "Message" %>
            <%= text_area_tag "commercial_listing[message]", nil, class: 'form-control' %>
          </div>
        </div>

        <br />
        <div class="row vertical-padding">
          <div class="col-md-12">

          </div>
        </div>

        <%= hidden_field_tag "commercial_listing[listing_ids]" %>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default horizontal-padding" data-dismiss="modal">Cancel</button>&nbsp;&nbsp;
        <%= submit_tag "Send Email", class:"btn btn-warning" %>
      </div>

      <% end %>

    </div>
  </div>
</div>

<%# Template Dependency: commercial_listings/modals %>
<%= render 'modals' %>


</div>
<script type="text/javascript">
  window.addEventListener('popstate', function(event) {
      // The popstate event is fired each time when the current history entry changes.
      location.reload();
  }, false);
</script>