<!-- display company info -->
<div class="row">
  <div class="col-xs-12">
    <%= image_tag current_user.company.image.file.url(:thumb), :class => 'photo-inline pdf-company-logo', 
      alt: current_user.company.image.file.url(:thumb), align:"left" %>
    
    <h3>
      <%= current_user.company.name %> Listings<br />
      <small><%= Time.now.strftime("%B %d, %Y") %></small><br />
      <small>FOR INTERNAL USE ONLY</small>
    </h3>
    
  </div>
</div>

<% @neighborhood_group.each do |neighborhood_name, listings| %>
  <% reset_cycle() %>
  <div class="row">
    <div class="col-xs-12">
      <table class="table pdf-table splitForPrint new_section">
        <tr class="neighborhood-row">
          <th colspan="9"><%= neighborhood_name %></th>
        </tr>
        <tr class="heading-row">
          <th>Address</th>
          <th>Landlord</th>
          <th>Category</th>
          <th>Price</th>
          <th>Sq Footage</th>
          <th>Available</th>
          
          <th style="width: 20%;">Access</th>
          
          
        </tr>
        <% listings.each do |listing| %>
          <tr class="<%= cycle('even', 'odd') -%>">
            <td><%= listing.street_address_and_unit %></td>
            <td><%= listing.unit.building.landlord.name %></td>
            <td><%= listing.property_sub_type %></td>
            <td><%= rent_formatted(listing.unit.rent) %>/SF/MONTH</td>
            <td><%= listing.sq_footage %></td>
            
            <td>
              <% if !listing.unit.available_by.blank? && listing.unit.available_by <= Date.today %>
                Now
              <% else %>
                <%= listing.unit.available_by %>
              <% end %>
            </td>
            
            <td><%= listing.unit.access_info %></td>
            
          </tr>
        <% end %>
      </table>  

    </div>
  </div>

<% end %>