<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">

        <%= form_for(@landlord) do |f| %>
          <% if @landlord.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@landlord.errors.count, "error") %> prohibited this landlord from being saved:</h2>

              <ul>
              <% @landlord.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :code %><br>
            <%= f.text_field :code, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :phone %><br>
            <%= f.text_field :phone, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :mobile %><br>
            <%= f.text_field :mobile, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :fax %><br>
            <%= f.text_field :fax, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :email %><br>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :website %><br>
            <%= f.text_field :website, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :street_address %><br>
            <%= f.text_field :street_address, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :city %><br>
            <%= f.text_field :city, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :state %><br>
            <%= f.text_field :state, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :zipcode %><br>
            <%= f.text_field :zipcode, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :notes %><br>
            <%= f.text_area :notes, class: 'form-control',
            rows: 4 %>
          </div>
          <div class="field">
            <%= f.label :listing_agent_percentage %><br>
            <%= f.text_field :listing_agent_percentage, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :months_required %><br>
            <%= f.select :months_required, options_for_select(Landlord.months_requireds.collect { |s| [s[0].humanize, s[0]] }, selected: @landlord.months_required), {} , class: "form-control" %>
          </div>
          <div class="field">
            <%= f.label :pet_policy %><br>
            <%= f.text_field :pet_policy, class: 'form-control' %>
          </div>
          <div class="field">
            <%= f.label :management_info %><br>
            <%= f.text_area :management_info, class: 'form-control', rows: 4 %>
          </div>
          <div class="actions">
            <%= f.submit %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>