<div id="landlords">

<%= form_for(@landlord) do |f| %>
<%= f.hidden_field :lock_version %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body no-vertical-padding">
        <%= render partial: 'shared/error_messages', locals: {model: @landlord} %>

        <div class="row">
          <div class="col-md-12 form-section-header">
            <hr class="thin-line" />
            <h4>Company/Landlord Info</h4>
            <hr class="thin-line" />
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <%= f.label :code, class: 'required' %>
          </div>
          <div class="col-xs-9">
              <%= f.text_field :code, required: true, class: 'form-control' %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="form-group">
            <div class="col-xs-3 form-label-responsive">
              <%= f.label :name, class: 'required' %>
            </div>
            <div class="col-xs-9">
                <%= f.text_field :name, required: true, class: 'form-control' %>
            </div>
          </div>
        </div>

        <!-- <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <%#= f.label :contact_name, class: 'required' %>
          </div>
          <div class="col-xs-9">
            <div class="field">
              <%#= f.text_field :contact_name, required: true, class: 'form-control' %>
            </div>
          </div>
        </div> -->

        <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <%= f.label :office_phone, class: 'required'%>
          </div>
          <div class="col-xs-9">
            <div class="field">
              <%= f.text_field :office_phone, required: true, class: 'form-control' %>
            </div>
          </div>
        </div>

        <!-- <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <%#= f.label :mobile %>
          </div>
          <div class="col-xs-9">
            <div class="field">
              <%#= f.text_field :mobile, class: 'form-control' %>
            </div>
          </div>
        </div> -->

        <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <%= f.label :fax %>
          </div>
          <div class="col-xs-9">
            <div class="field">
              <%= f.text_field :fax, class: 'form-control' %>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <%= f.label :email %>
          </div>
          <div class="col-xs-9">
            <div class="field">
              <%= f.text_field :email, class: 'form-control' %>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <%= f.label :website %>
          </div>
          <div class="col-xs-9">
            <div class="field">
              <%= f.text_field :website, class: 'form-control' %>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <%= f.label :rating, "Landlord Rating" %>
          </div>
          <div class="col-xs-9">
            <div class="field">
              <%= f.select :rating, [['NA', 0], ['Excellent', 1], ['Good', 2], ['Fair', 3]], {}, {class: "form-control"}%>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <%= f.label :formatted_street_address, "Street Address", class: 'required' %>
          </div>
          <div class="col-xs-9">
            <div class="field">
              <%= f.text_field :formatted_street_address, class: 'form-control autocomplete-input',
                  required: true, placeholder: "123 Main St" %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <p>Visually confirm the building's location:</p>
            <div id="map-canvas" data-address="<%= @landlord.formatted_street_address %>"></div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-12 form-section-header">
            <hr class="thin-line" />
            <h4>Contact Info</h4>
            <hr class="thin-line" />
          </div>
        </div>
        <br />
        <% if !@landlord.landlord_contacts.blank? %>
          <%= hidden_field_tag "total_count_contacts", "#{@landlord.landlord_contacts.count + 1}" %>
        <% else %>
          <%= hidden_field_tag "total_count_contacts"  %>
        <% end %>
        <% if !@landlord.landlord_contacts.blank? %>
          <%# abort @landlord.landlord_contacts.count.inspect %>
          <a href="javascript:void(0)" class="button-added">+ Add A Contact</a>
          <div id="add_more"></div>
          <div class="multiple_contact box template-added">
          <div class="multiple_contact box template-for-clone" style="display: none;">
            <br />
            <div class="row">
              <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                <%= label_tag "Name", nil, class: "required" %>
              </div>
              <div class="col-xs-4">
                <%= text_field_tag :name, '', class: 'form-control', name: "name_#{@landlord.landlord_contacts.count}", required: true %>
              </div>
              <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                <%= label_tag "Email", nil, class: "required" %>
              </div>
              <div class="col-xs-4">
                <%= text_field_tag :email, '', class: 'form-control', name: "email_#{@landlord.landlord_contacts.count}", required: true %>
              </div>
            </div>

            <br />
            <div class="row">
              <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                <%= label_tag "Phone" %>
              </div>
              <div class="col-xs-4">
                <%= text_field_tag :phone, '', class: 'form-control', name: "phone_#{@landlord.landlord_contacts.count}" %>
              </div>
              <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                <%= label_tag "Position", nil, class: "required" %>
              </div>
              <div class="col-xs-4">
                <%= text_field_tag :position, '', class: 'form-control', name: "position_#{@landlord.landlord_contacts.count}", required: true %>
              </div>
            </div>
            <a href="javascript:void(0)" class="button-remove">Delete Contact</a>
            <br />
          </div>
        <% else %>
          <a href="javascript:void(0)" class="button-add">+ Add A Contact</a>
          <div id="add_more"></div>
          <div class="multiple_contact box template">
        <% end %>
        <!-- <input class="button-add" type="button" value="Clone box"> -->
        
          <% if !@landlord.landlord_contacts.blank? %>  
            <% r = 0 %>
            <% @landlord.landlord_contacts.each do |ll_contact| %>
              <%= hidden_field_tag "ll_contact_id_#{r}", ll_contact.id %>
              <br />
              <div class="row">
                <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                  <%= label_tag "Name", nil, class: "required del_cont_#{ll_contact.id}" %>
                </div>
                <div class="col-xs-4">
                  <%= text_field_tag :name, ll_contact.name ? ll_contact.name : '', class: "form-control del_cont_#{ll_contact.id}", name: "name_#{r}", required: true %>
                </div>
                <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                  <%= label_tag "Email", nil, class: "required del_cont_#{ll_contact.id}" %>
                </div>
                <div class="col-xs-4">
                  <%= text_field_tag :email, ll_contact.email ? ll_contact.email : '', class: "form-control del_cont_#{ll_contact.id}", name: "email_#{r}", required: true %>
                </div>
              </div>

              <br />
              <div class="row">
                <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                  <%= label_tag "Phone", nil, class: "del_cont_#{ll_contact.id}" %>
                </div>
                <div class="col-xs-4">
                  <%= text_field_tag :phone, ll_contact.phone ? ll_contact.phone : '', class: "form-control del_cont_#{ll_contact.id}", name: "phone_#{r}" %>
                </div>
                <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                  <%= label_tag "Position", nil, class: "required del_cont_#{ll_contact.id}" %>
                </div>
                <div class="col-xs-4">
                  <%= text_field_tag :position, ll_contact.position ? ll_contact.position : '', class: "form-control del_cont_#{ll_contact.id}", name: "position_#{r}", required: true %>
                </div>
              </div>
              <%= link_to "Delete Contact", "javascript:void(0)", class: "button-remove-db del_cont_#{ll_contact.id}", onClick: "delete_contact_from_db(#{ll_contact.id})"%>
              <!-- <a href="javascript:void(0)" class="button-remove-db" onclick="delete_contact_from_db("")">Delete Contact</a> -->
              <br />
              <% r = r + 1 %>
            <% end %>
          <% else %>
            <br />
            <div class="row">
              <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                <%= label_tag "Name", nil, class: "required" %>
              </div>
              <div class="col-xs-4">
                <%= text_field_tag :name, '', class: 'form-control', name: "name_0", required: true %>
              </div>
              <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                <%= label_tag "Email", nil, class: "required" %>
              </div>
              <div class="col-xs-4">
                <%= text_field_tag :email, '', class: 'form-control', name: "email_0", required: true %>
              </div>
            </div>

            <br />
            <div class="row">
              <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                <%= label_tag "Phone" %>
              </div>
              <div class="col-xs-4">
                <%= text_field_tag :phone, '', class: 'form-control', name: "phone_0" %>
              </div>
              <div class="col-xs-1 form-label-responsive" style="width: 12%;">
                <%= label_tag "Position", nil, class: "required" %>
              </div>
              <div class="col-xs-4">
                <%= text_field_tag :position, '', class: 'form-control', name: "position_0", required: true %>
              </div>
            </div>

            <br />
            <a href="javascript:void(0)" class="button-remove">Delete Contact</a>
          <% end %>
          <!-- <input class="button-remove" type="button" value="Delete box"> -->
          <!-- <a href="javascript:void(0)" class="button-remove">Delete Contact</a> -->
        </div>
        <br />
        <br />
        <div class="row">
          <div class="col-xs-12 form-section-header">
            <hr class="thin-line" />
            <h4>Additional Info</h4>
            <hr class="thin-line" />
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <%= f.label :listing_agent_id, "Listing Agent" %>
          </div>
          <div class="col-xs-4">
            <%= f.select(:listing_agent_id,
              options_for_select(current_user.company.users.collect {|u| [u.name, u.id]},
                [@landlord.listing_agent ? @landlord.listing_agent.id : '']),
              {prompt: "Choose one..."},
              class: 'form-control',
              :include_blank => true) %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <%= f.label :listing_agent_percentage, 'Listing agent %' %>
          </div>
          <div class="col-xs-9 col-md-4">
            <div class="field">
              <%= f.text_field :listing_agent_percentage, class: 'form-control' %>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-3 form-label-responsive">
            <strong>Fee</strong>
          </div>
          <div class="col-xs-9 col-md-4">
            <div class="checkbox checkbox-warning checkbox-inline">
              <%= f.check_box :has_fee, class:"has-fee styled", checked: @landlord.has_fee %>
              <%= f.label :has_fee %>
            </div>
          </div>
        </div>

        <br />
        <div class="row show-op">
          <div class="col-xs-3 form-label-responsive">
            <%= f.label :op_fee_percentage, 'Owner Pays %' %>
          </div>
          <div class="col-xs-9 col-md-4">
            <%= f.number_field :op_fee_percentage, class: 'form-control', min: 0, default: 95 %>
          </div>
        </div>

        <div class="row show-tp">
          <div class="col-xs-3 form-label-responsive">
            <%= f.label :tp_fee_percentage, 'Tenant Pays %' %>
          </div>
          <div class="col-xs-4">
            <%= f.number_field :tp_fee_percentage, class: 'form-control', min: 0, default: 95 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-12">
            <%= f.label :update_source, "Source of updates" %><br />
            <%= f.text_area :update_source, class: 'form-control', rows: 2 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-12">
            <%= f.label :notes, "Notes (will be shared on listings)" %><br />
            <small class="explainer-text"><em>
              Tip: Enter 2 blank lines to separate paragraphs.
            </small></em>
            <br><br>
            <%= f.bootsy_area :notes, class: 'form-control', rows: 15 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-12">
            <%= f.label :key_pick_up_location, "Key Pickup Location" %><br>
            <%= f.text_area :key_pick_up_location, class: 'form-control', rows: 2 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-xs-12">
            <%= f.label :management_info, "Additional Management Info" %><br>
            <small class="explainer-text"><em>
              Tip: Enter 2 blank lines to separate paragraphs.
            </small></em>
            <br><br>
            <%= f.bootsy_area :management_info, class: 'form-control', rows: 15 %>
          </div>
        </div>

        <br>
        <div class="row vertical-margin-lg">
          <div class="col-md-6 col-md-offset-3">
            <div class="actions">
              <%= f.submit 'Update', class:"btn btn-warning btn-block" %>
            </div>
          </div>
        </div>

        <!-- geocoder plugin looks for "details" class name to insert results. Do not change without updating google-maps.js! -->
        <div class="details field">
          <%= f.hidden_field :street_number, name: "street_number" %>
          <%= f.hidden_field :route, name: "route" %>
          <%= f.hidden_field :neighborhood, name:"neighborhood" %>
          <%= f.hidden_field :sublocality, name:"sublocality" %>
          <%= f.hidden_field :administrative_area_level_2_short, name:"administrative_area_level_2_short" %>
          <%= f.hidden_field :administrative_area_level_1_short, name:"administrative_area_level_1_short" %>
          <%= f.hidden_field :postal_code, name:"postal_code" %>
          <%= f.hidden_field :country_short, name:"country_short" %>
          <%= f.hidden_field :lat, name:"lat" %>
          <%= f.hidden_field :lng, name:"lng" %>
          <%= f.hidden_field :place_id, name:"place_id" %>
        </div>

      </div><!-- panel body -->
    </div><!-- panel -->
  </div><!-- col -->
</div><!-- row -->

<% end %>
</div>
