<%= form_for(@landlord) do |f| %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body no-vertical-padding">
        <%= render :partial => 'shared/error_messages', 
          :locals => {:model => @landlord} %>

        <div class="row">
          <div class="col-md-12 form-section-header">
            <hr class="thin-line" />
            <h4>Contact Info</h4>
            <hr class="thin-line" />
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-3 form-label-responsive">
            <%= f.label :code %>
          </div>
          <div class="col-md-9">
              <%= f.text_field :code, class: 'form-control' %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-3 form-label-responsive">
            <%= f.label :name %>
          </div>
          <div class="col-md-9">
            <div class="field">
              <%= f.text_field :name, class: 'form-control' %>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-3 form-label-responsive">
            <%= f.label :contact_name %>
          </div>
          <div class="col-md-9">
            <div class="field">
              <%= f.text_field :contact_name, class: 'form-control' %>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-3 form-label-responsive">
            <%= f.label :office_phone %>
          </div>
          <div class="col-md-9">
            <div class="field">
              <%= f.text_field :office_phone, class: 'form-control' %>
            </div>
          </div>
        </div>
        
        <br />
        <div class="row">
          <div class="col-md-3 form-label-responsive">
            <%= f.label :mobile %>
          </div>
          <div class="col-md-9">
            <div class="field">
              <%= f.text_field :mobile, class: 'form-control' %>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-3 form-label-responsive">
            <%= f.label :fax %>
          </div>
          <div class="col-md-9">
            <div class="field">
              <%= f.text_field :fax, class: 'form-control' %>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-3 form-label-responsive">
            <%= f.label :email %>
          </div>
          <div class="col-md-9">
            <div class="field">
              <%= f.text_field :email, class: 'form-control' %>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-3 form-label-responsive">
            <%= f.label :website %>
          </div>
          <div class="col-md-9">
            <div class="field">
              <%= f.text_field :website, class: 'form-control' %>
            </div>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-3 form-label-responsive">
            <%= f.label :formatted_street_address, "Street Address" %>
          </div>
          <div class="col-md-9">
            <div class="field">
              <%= f.text_field :formatted_street_address, class: 'form-control autocomplete-input', placeholder: "123 Main St" %>
            </div>
          </div>
        </div>
          
        <div class="row">
          <div class="col-md-12">
            <p>Visually confirm the building's location:</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div id="map_canvas" data-address="<% @landlord.formatted_street_address %>"></div><br />
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 form-section-header">
            <hr class="thin-line" />
            <h4>Additional Info</h4>
            <hr class="thin-line" />
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-12">
            <%= f.label :update_source, "Source of updates" %><br />
            <%= f.text_area :update_source, class: 'form-control', rows: 2 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-12">
            <%= f.label :notes, "Notes (will be shared on listings)" %><br />
            <%= f.text_area :notes, class: 'form-control', rows: 4 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-12">
            <%= f.label :key_pick_up_location, "Key Pickup Location" %><br>
            <%= f.text_area :key_pick_up_location, class: 'form-control', rows: 2 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-12">
            <%= f.label :management_info, "Additional Management Info" %><br>
            <%= f.text_area :management_info, class: 'form-control', rows: 4 %>
          </div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-12">
            <div class="actions">
              <%= f.submit "Update Landlord", class: 'btn btn-warning' %>
            </div>
          </div>
        </div>

          <!-- geocoder plugin looks for "details" class name to insert results. Do not change without updating google-maps.js! -->
          <div class="details field">
            <%= f.hidden_field :street_number, name: "street_number" %>
            <%= f.hidden_field :route, name: "route" %>
            <%= f.hidden_field :neighborhood, name:"neighborhood" %>
            <%= f.hidden_field :sublocality, name:"sublocality" %>
            <%= f.hidden_field :administrative_area_level_2_short, name:"administrative_area_level_2_short" %>
            <%= f.hidden_field :administrative_area_level_1_short, name:"administrative_area_level_1_short" %>
            <%= f.hidden_field :postal_code, name:"postal_code" %>
            <%= f.hidden_field :country_short, name:"country_short" %>
            <%= f.hidden_field :lat, name:"lat" %>
            <%= f.hidden_field :lng, name:"lng" %>
            <%= f.hidden_field :place_id, name:"place_id" %>
          </div>

        
      </div>
    </div>

  </div>
</div>
<% end %>