<tr class="<%= cycle('even', 'odd') -%>">
  <td><%= link_to landlord.code, landlord %></td>
  <td><%= landlord.name %></td>
  <td><%= landlord.mobile %></td>
  <td><%= landlord.active_unit_count %></td>
  <td><%= landlord.total_unit_count %></td>
  <td>
    <% if landlord.last_unit_updated_at %>
      <%= time_ago_in_words(landlord.last_unit_updated_at) %>
    <% else %>
      --
    <% end %>
  </td>
  <td>
    <%= link_to 'Edit', edit_landlord_path(landlord) %> |
    <%= link_to 'Delete', delete_modal_landlord_path(landlord),
    data: {toggle: "modal", target: "#landlordDeleteModal"}, remote: true %>
  </td>
</tr>