<% provide(:title, 'Landlords') %>

<div class="row">
  <div class="col-sm-6">
    <h1>Landlords</h1>
  </div>
  <% if current_user.is_management? %>
    <div class="hidden-xs hidden-sm col-sm-6 form-label-responsive page-header-buttons">
      <%= link_to 'Add a Landlord', new_landlord_path, class: 'btn btn-warning btn-sm link-as-button' %>
      <%= link_to 'Export to CSV',
          landlords_path(params.permit!.merge(format: 'csv')),
          class: 'btn btn-warning btn-sm link-as-button', target: :_blank %>
    </div>
    <div class="hidden-md hidden-lg col-sm-6 col-sm-left-padding form-label-responsive page-header-buttons">
      <%= link_to 'Add a Landlord', new_landlord_path, class: 'btn btn-warning btn-sm link-as-button' %>
      <%= link_to 'Export to CSV',
          landlords_path(params.permit!.merge(format: 'csv')),
          class: 'btn btn-warning btn-sm link-as-button', target: :_blank %>
    </div>
  <% end %>
</div>

<!-- put this here so that clicking on the buttons above won't trigger the spinner -->
<div id="landlords">

  <div class="row hidden-print">
    <div class="col-xs-12">
      <i class="fa fa-spinner fa-pulse fa-5x ll-spinner-desktop"></i>

      <div id="landlord-search-filters" data-search-path="<%= filter_landlords_path %>">
        <%= form_tag landlords_path, method: 'get' do %>
        <div class="row">
          <div class="col-sm-2 col-md-1 vertical-padding form-label-responsive">
            <label class="vertical-padding">Code:</label>
          </div>
          <div class="col-sm-10 col-md-2 vertical-padding">
            <%= autocomplete_field_tag :filter, params[:filter],
              autocomplete_landlord_code_landlords_path,
              update_elements: {},
              placeholder: "Filter by code",
              size: 30, class:'form-control' %>
          </div>
          <div class="col-sm-2 col-md-1 vertical-padding form-label-responsive">
            <label class="vertical-padding">Listing agent:</label>
          </div>
          <div class="col-sm-10 col-md-2 vertical-padding">
            <%= select_tag(:listing_agent_id,
                options_for_select(@listing_agents.collect {|u| [u.name, u.id]},
                    [params[:listing_agent_id] ? params[:listing_agent_id].titleize : "Any"]),
                  {prompt: "Choose one...",
                  class: 'form-control'}) %>
          </div>
          <div class="col-sm-2 col-md-1 vertical-padding form-label-responsive">
            <label class="vertical-padding">Status:</label>
          </div>
          <div class="col-sm-10 col-md-2 vertical-padding">
            <% if current_user.is_management? || current_user.is_listings_manager? %>
              <%= select_tag(:status,
                options_for_select(['Any', 'Active/Pending', 'Active', 'Pending', 'Off'],
                params[:status] ? params[:status].titleize : "Any"), class: 'form-control') %>
            <% else %>
              <%= select_tag(:status,
                options_for_select(['Any', 'Active/Pending', 'Active', 'Pending'],
                params[:status] ? params[:status].titleize : "Any"), class: 'form-control') %>
            <% end %>
          </div>
          <% if current_user.is_company_admin? || current_user.is_super_admin? || current_user.is_listings_manager? %>
            <div class="col-sm-2 col-md-1 vertical-padding form-label-responsive">
              <label class="vertical-padding">Rating:</label>
            </div>
            <div class="col-sm-10 col-md-2 vertical-padding">
              <%= select_tag(:rating,
                  options_for_select([['Any','Any'],['NA', 0], ['Excellent', 1], ['Good', 2], ['Fair', 3]],
                  params[:rating] ? params[:rating].titleize : "Any"), class: 'form-control') %>
            </div>
          <% end %>
          <div style="clear: both;"></div>
          <% if current_user.is_company_admin? || current_user.is_super_admin? || current_user.is_listings_manager? %>
            <div class="col-sm-2 col-md-1 vertical-padding form-label-responsive">
              <label class="vertical-padding">LL Class:</label>
            </div>
            <div class="col-sm-10 col-md-2 vertical-padding">
              <%= select_tag(:ll_importance,
                  options_for_select([['Any','Any'],['Gold', 'gold'], ['Silver', 'silver'], ['Bronze', 'bronze']], params[:ll_importance] ? params[:ll_importance] : "Any"), class: 'form-control') %>
            </div>
          <% end %>
        </div>
        <% end %><!-- form end -->
      </div>
    </div><!-- col -->
  </div><!-- row -->

  <br>
  <div class="row">
    <div class="col-xs-12 vertical-padding">
      <span class="totals">
        &nbsp;&nbsp;<%= @landlords.total_count %> Landlords found
      </span>
    </div>
  </div>

  <br />
  <span id="infinite-table-container">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover table-condensed infinite-table-ll">
          <thead>
            <tr>
              <th data-sort="code" class="th-sortable">Code</th>
              <th data-sort="name" class="th-sortable">Name</th>
              <th>Mobile</th>
              <th data-sort="listing_agent_name" class="th-sortable">Listing Agent</th>
              <th data-sort="listing_agent_persentage" class="th-sortable">Listing Agent %</th>
              <th data-sort="active_unit_count" class="th-sortable">On-Market Units</th>
              <th data-sort="total_unit_count" class="th-sortable">Total Units</th>
              <th data-sort="last_unit_updated_at" class="th-sortable">Last Unit Updated</th>
              <th data-sort="updated_at" class="th-sortable">Last Landlord Update</th>
              <th colspan="1" class="hidden-print"></th>
            </tr>
          </thead>

          <tbody class="landlords_table_body">
            <%= render @landlords %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 pagination-wrapper">
        <%= render partial: 'shared/pagination', locals: {models: @landlords} %>
      </div>
    </div>
  </span>

</div>

<!-- Delete Modal -->
<div class="modal fade modal-fullscreen" id="landlordDeleteModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Deleting Landlord</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button class="delete-btn"></button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>
