<script>
   // unobstrusive: attach method call here
   // call when typing or enter or focus leaving
  //$('#code_name_filter').keyup(function() {
    //console.log("CALLING FILTER");
    // $.ajax({
    //   url: "<%= landlords_filter_path %>",
    //   data: {
    //     filter : $('#code_name_filter').val()
    //   },
    //   dataType: "script"
    // }).fail(function() {
    //   //$( this ).addClass( "done" );
    //   console.log("[FAILED] search update failed");
    // });
  //});
</script>

<% provide(:title, 'Landlords') %>
<h1 class="page-header">Landlords</h1>

<div class="row">
  <div class="col-md-6">
    <%= form_tag landlords_path, :method => 'get' do %>
      <%= label_tag(:code_name_filter, "Filter:") %>
      <%= text_field_tag :code_name_filter, params[:code_name], placeholder: "code/name", size: 20 %>
      &nbsp;&nbsp;
      <%= label_tag(:agent, "Primary Agent:") %>
      <%= text_field_tag :agent, params[:agent], placeholder: "Agent Name", size: 20 %>
      &nbsp;&nbsp;
      <%= check_box_tag(:checkbox_active, class: "checkbox inline") %>
      <%= label_tag :checkbox_active, "Has active units" %>
    <% end %>

  </div>
  <div class="col-md-3 pull-right">
    <%= link_to 'Add a Landlord', new_landlord_path %>
    <%= will_paginate @landlords %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table table-striped table-hover table-condensed table-responsive">
      <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Active Units</th>
          <th>Total Units</th>
          <th>Last Unit Updated</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @landlords.each do |landlord| %>
          <tr>
            <td><%= link_to landlord.code, landlord %></td>
            <td><%= landlord.name %></td>
            <td><%= landlord.mobile %></td>
            <td><%= landlord.active_units %></td>
            <td><%= landlord.total_units %></td>
            <td><%= landlord.last_unit_updated_on %></td>
            <td>
              <%= link_to 'Edit', edit_landlord_path(landlord) %> |
              <%= link_to 'Destroy', landlord, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>