<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @landlord.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @landlord.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @landlord.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @landlord.mobile %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @landlord.fax %>
</p>

<p>
  <strong>Email:</strong>
  <%= @landlord.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @landlord.website %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @landlord.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @landlord.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @landlord.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @landlord.zipcode %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @landlord.notes %>
</p>

<p>
  <strong>Listing agent percentage:</strong>
  <%= @landlord.listing_agent_percentage %>
</p>

<p>
  <strong>Months required:</strong>
  <%= @landlord.months_required %>
</p>

<p>
  <strong>Pet policy:</strong>
  <%= @landlord.pet_policy %>
</p>

<p>
  <strong>Management info:</strong>
  <%= @landlord.management_info %>
</p>

<%= link_to 'Edit', edit_landlord_path(@landlord) %> |
<%= link_to 'Back', landlords_path %>
