<% provide(:title, @landlord.code) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md">
        <h1 class="page-header">Landlord <%= @landlord.code %></h1>

        <%= link_to 'Edit', edit_landlord_path(@landlord) %> |
        <%= link_to 'View all', landlords_path %> |
        <%= link_to 'Add building', new_building_path(landlord_id: @landlord.id) %><br  />
        <br  />

        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              <strong>Code:</strong>
              <%= @landlord.code %>
            </p>

            <p>
              <strong>Name:</strong>
              <%= @landlord.name %>
            </p>

            <p>
              <strong>Office Phone:</strong>
              <%= @landlord.office_phone %>
            </p>

            <p>
              <strong>Mobile:</strong>
              <%= @landlord.mobile %>
            </p>

            <p>
              <strong>Fax:</strong>
              <%= @landlord.fax %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @landlord.email %>
            </p>

            <p>
              <strong>Website:</strong>
              <%= @landlord.website %>
            </p>

            <p>
              <strong>Street address:</strong>
              <%= @landlord.formatted_street_address %>
            </p>

            <p>
              <strong>Notes: (Shared on listings)</strong>
              <%= @landlord.notes %>
            </p>

            <p>
              <strong>Listing agent %:</strong>
              <%= @landlord.listing_agent_percentage %>
            </p>

            <p>
              <strong>Required securities:</strong>
              <%= @landlord.required_security.name %>
            </p>

            <p>
              <strong>Owner Pays Fee %:</strong>
              <%= @landlord.op_fee_percentage %>
            </p>

            <p>
              <strong>Tenant Pays Fee %:</strong>
              <%= @landlord.tp_fee_percentage %>
            </p>

            <p>
              <strong>Pet policy:</strong>
              <%= @landlord.pet_policy.name %>
            </p>

            <p>
              <strong>Additional Management info:</strong>
              <%= @landlord.management_info %>
            </p>

            <p>
              --View properties-- TODO
            </p>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
  
