<% provide(:title, @landlord.code) %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md">
        <h1 class="page-header">Landlord <%= @landlord.code %></h1>

        <%= link_to 'Edit', edit_landlord_path(@landlord) %> |
        <%= link_to 'View all', landlords_path %>

        <div class="panel panel-default">
          <div class="panel-body">
            <p>
              <strong>Code:</strong>
              <%= @landlord.code %>
            </p>

            <p>
              <strong>Name:</strong>
              <%= @landlord.name %>
            </p>

            <p>
              <strong>Phone:</strong>
              <%= @landlord.phone %>
            </p>

            <p>
              <strong>Mobile:</strong>
              <%= @landlord.mobile %>
            </p>

            <p>
              <strong>Fax:</strong>
              <%= @landlord.fax %>
            </p>

            <p>
              <strong>Email:</strong>
              <%= @landlord.email %>
            </p>

            <p>
              <strong>Website:</strong>
              <%= @landlord.website %>
            </p>

            <p>
              <strong>Street address:</strong>
              <%= @landlord.street_address %>
            </p>

            <p>
              <strong>City:</strong>
              <%= @landlord.city %>
            </p>

            <p>
              <strong>State:</strong>
              <%= @landlord.state %>
            </p>

            <p>
              <strong>Zipcode:</strong>
              <%= @landlord.zipcode %>
            </p>

            <p>
              <strong>Notes: (Shared on listings)</strong>
              <%= @landlord.notes %>
            </p>

            <p>
              <strong>Listing agent percentage:</strong>
              <%= @landlord.listing_agent_percentage %>
            </p>

            <p>
              <strong>Required securities:</strong>
              <%= @landlord.required_security.name %>
            </p>

            <p>
              <strong>Pet policy:</strong>
              <%= @landlord.pet_policy %>
            </p>

            <p>
              <strong>Additional Management info:</strong>
              <%= @landlord.management_info %>
            </p>

            <p>
              --View properties-- TODO
            </p>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
  
