<% provide(:title, @landlord.code) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    
    <div class="page-header">
      <div class="row">
        <div class="col-md-7">
          <h1><small>Landlord</small> <%= @landlord.code %></h1>
        </div>
        <div class="col-md-5 right">
          <br /><br />
          <%= link_to 'Edit', edit_landlord_path(@landlord) %> |
          <%= link_to 'View all', landlords_path %> |
          <%= link_to 'Add building', new_building_path(landlord_id: @landlord.id) %><br  />  
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            
            <div class="row">
              <div class="col-md-1">
                <strong>Code:</strong>
              </div>
              <div class="col-md-5">
                <%= @landlord.code %>
              </div>
              <div class="col-md-3">
                <strong>Mobile:</strong>
              </div>
              <div class="col-md-3">
                <%= @landlord.mobile %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1">
                <strong>Name:</strong>
              </div>
              <div class="col-md-5">
                <%= @landlord.name %>
              </div>
              <div class="col-md-3">
                <strong>Office Phone:</strong>
              </div>
              <div class="col-md-3">
                <%= @landlord.office_phone %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1">
                <strong>Email:</strong>
              </div>
              <div class="col-md-5">
                <%= mail_to @landlord.email %>
              </div>
              <div class="col-md-3">
                <strong>Fax:</strong>
              </div>
              <div class="col-md-3">
                <%= @landlord.fax %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1">
                <strong>Web:</strong>
              </div>
              <div class="col-md-5">
                <a href="<%= @landlord.website %>"><%= @landlord.website %></a>
              </div>
              <div class="col-md-3">
                <strong>Office address:</strong>
              </div>
              <div class="col-md-3">
                <%= @landlord.formatted_street_address %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <br />
                <strong>Listing agent %:</strong> <%= @landlord.listing_agent_percentage %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <br />
                <strong>Required securities:</strong> <%= @landlord.required_security.name.titleize %>
              </div>
            </div>
          
            <div class="row">
              <div class="col-md-12">
                <br />
                <strong>Notes: (Shared on listings)</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= @landlord.notes %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <br />
                <strong>Additional Management info:</strong>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <%= @landlord.management_info %>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <br />
                <p>--View properties-- TODO</p>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
  
