<div id="sales" data-unit-id="<%= @sales_unit ? @sales_unit.id : '' %>">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @panel_title %></h3>
  </div>
  <div class="panel-body">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <% if !current_user.is_photo_manager? %>
        <li role="presentation" class="active"><a href="#basic-info" aria-controls="basic-info" role="tab" data-toggle="tab">Basic Info</a></li>
        <li role="photos"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
        <li role="documents"><a href="#documents" aria-controls="documents" role="tab" data-toggle="tab">Documents</a></li>
      <% else %>
        <li role="photos" class="active"><a href="#photos" aria-controls="photos" role="tab" data-toggle="tab">Photos</a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% if !current_user.is_photo_manager? %>
        <!-- ******************** third tabpanel - documents ******************** -->
        <div role="tabpanel" class="tab-pane fade" id="documents">

        <% if @sales_unit && @sales_unit.id %>
          <br />
          <%= form_for(@sales_unit, :url => sales_listing_documents_path(@sales_unit),
            html: {multipart: true, class: "dropzone", id: "sunit-dropzone-docs"}, method: :post) do |f| %>
            <div class="fallback">
              <%= f.file_field :file %><br>
              <%= f.submit "Upload" %>
            </div>
          <% end %>

          <br />
          <div class="row">
            <div class="col-md-12">
              <p><strong>Edit current documents (drag to reorder):</strong></p>
              <div class="documents sortable">
                <% if @sales_unit.unit.documents.length > 0 %>
                  <%= render 'documents',  locals: { sales_unit: @sales_unit } %>
                <% else %>
                  <p>(No files uploaded yet.)</p>
                <% end %>
              </div>
            </div>
          </div>

        <% else %>
          <br />
          <strong>Save the basic info first!</strong>
        <% end %>

        </div><!-- end tabpanel docs -->
      <% end %>

      <!-- ******************** second tabpanel - photos ******************** -->
      <% if !current_user.is_photo_manager? %>
        <div role="tabpanel" class="tab-pane fade" id="photos">

          <% if @sales_unit && @sales_unit.id %>

            <br />
            <%= form_for(@sales_unit, :url => sales_listing_unit_images_path(@sales_unit),
              html: {multipart: true, class: "dropzone", id: "sunit-dropzone"}, method: :post) do |f| %>
              <div class="fallback">
                <%= f.file_field :file %><br>
                <%= f.submit "Upload" %>
              </div>
            <% end %>

            <br />
            <div class="row">
              <div class="col-md-12">
                <p><strong>Edit current photos (drag to reorder):</strong></p>
                <div class="images sortable">
                  <% if @sales_unit.unit.images.length > 0 %>
                    <%= render 'images',  locals: { sales_unit: @sales_unit } %>
                  <% else %>
                    <p>(No files uploaded yet.)</p>
                  <% end %>
                </div>
              </div>
            </div>

          <% else %>
            <br />
            <strong>Save the basic info first!</strong>
          <% end %>

        </div><!-- end tabpanel photos -->
      <% else %>
        <div role="tabpanel" class="tab-pane fade in active" id="photos">

          <% if @sales_unit && @sales_unit.id %>

            <br />
            <%= form_for(@sales_unit, :url => sales_listing_unit_images_path(@sales_unit),
              html: {multipart: true, class: "dropzone", id: "sunit-dropzone"}, method: :post) do |f| %>
              <div class="fallback">
                <%= f.file_field :file %><br>
                <%= f.submit "Upload" %>
              </div>
            <% end %>

            <br />
            <div class="row">
              <div class="col-md-12">
                <p><strong>Edit current photos (drag to reorder):</strong></p>
                <div class="images sortable">
                  <% if @sales_unit.unit.images.length > 0 %>
                    <%= render 'images',  locals: { sales_unit: @sales_unit } %>
                  <% else %>
                    <p>(No files uploaded yet.)</p>
                  <% end %>
                </div>
              </div>
            </div>

          <% else %>
            <br />
            <strong>Save the basic info first!</strong>
          <% end %>

        </div><!-- end tabpanel photos -->
      <% end %>
      <!-- ******************** first tabpanel - basic info ********************-->
      <% if !current_user.is_photo_manager? %>
        <div role="tabpanel" class="tab-pane fade in active" id="basic-info">
          <%= form_for(@sales_unit) do |f| %>
          <%= f.hidden_field :lock_version %>
          <%= render :partial => 'shared/error_messages',
            :locals => {:model => @sales_unit} %>

            <br />
            <div class="row">
            <%= f.fields_for @sales_unit.unit do |unit_form| %>
              <div class="col-xs-12 col-md-3 form-label-responsive">
                <%= unit_form.label :status, class: 'required' %>
              </div>
              <div class="col-xs-12 col-md-4">
                <div class="field">
                  <%= unit_form.select :status,
                    options_for_select(['Active', 'On Market', 'Offer Submitted', 'Contract Out', 'In Escrow', 'Closed Off'],
                      [@sales_unit.unit.status.titleize]),
                    {prompt: "Choose one..."},
                    :required => true,
                    class: "form-control" %>
              </div>
            </div>
            <% end %>
          </div>

            <br />
            <div class="row">
              <div class="col-md-3 form-label-responsive">
                <%= f.label :formatted_street_address, "Street Address", class: 'required' %>
              </div>
              <div class="col-md-9">
                <%= f.text_field :formatted_street_address, class: 'form-control autocomplete-input',
                  placeholder:"123 Main St", required: true %>
              </div>
            </div>

            <div class="neighborhood_options">
              <%= render 'neighborhood_options' %>
            </div>

            <div class="field" id="map_panel">
              <br/>
              <p>Visually confirm the building's location:</p>
              <div id="map_canvas" data-address="<%= @sales_unit.unit.building.formatted_street_address %>"></div>
            </div>

          <!-- geocoder plugin looks for "details" class name to insert results. Do not change without updating google-maps.js! -->
          <div class="details field">
            <%= f.hidden_field :street_number, name: "street_number" %>
            <%= f.hidden_field :route, name: "route" %>
            <%= f.hidden_field :intersection, name: "intersection" %>
            <%= f.hidden_field :sublocality, name:"sublocality" %>
            <%= f.hidden_field :administrative_area_level_2_short, name:"administrative_area_level_2_short" %>
            <%= f.hidden_field :administrative_area_level_1_short, name:"administrative_area_level_1_short" %>
            <%= f.hidden_field :postal_code, name:"postal_code" %>
            <%= f.hidden_field :country_short, name:"country_short" %>
            <%= f.hidden_field :lat, name:"lat" %>
            <%= f.hidden_field :lng, name:"lng" %>
            <%= f.hidden_field :place_id, name:"place_id" %>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :beds, class: 'required' %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :beds, class: 'form-control',
                in: 0.0..10.0, :required => true %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :baths, class: 'required' %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :baths, class: 'form-control', step: 0.5, in: 0.0..10.0,
              :required => true %>
            </div>
          </div>

          <%= f.fields_for @sales_unit.unit do |unit_form| %>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= unit_form.label :building_unit, "Unit" %>
            </div>
            <div class="col-md-4">
              <%= unit_form.text_field :building_unit, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= unit_form.label :available_by, "Available", class: 'required' %>
            </div>
            <div class="col-md-4">
              <div class='input-group date datepicker'
                data-available-by="<%= @sales_unit.unit.available_by ? @sales_unit.unit.available_by.strftime("%m/%d/%Y") : '' %>">

                <%= unit_form.text_field :available_by,
                  placeholder: "Available", class:"form-control", size:30 %>

                <label class="input-group-addon btn" for="date">
                  <span class="fa fa-calendar open-datepicker"></span>
                </label>
              </div>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= unit_form.label :access_info %>
            </div>
            <div class="col-md-9">
              <%= f.check_box :tenant_occupied, checked: @sales_unit.tenant_occupied %>
              <%= f.label :tenant_occupied %><br />
                <%= unit_form.text_area :access_info, class: 'form-control', rows: 4 %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= unit_form.label :rent, "Price", class: 'required' %>
            </div>
            <div class="col-md-3">
              <%= unit_form.number_field :rent, class: 'form-control', :required => true %>
            </div>
          </div>
          <% end %>

          <br />
          <div class="row">
            <div class="col-xs-12 col-md-3 form-label-responsive">
              <%= f.label :listing_type, class: 'required' %>
            </div>
            <div class="col-xs-12 col-md-4">
              <div class="field">
                <%= f.select :listing_type,
                  options_for_select(['Single Fam', '2-3 Fam Townhome', 'Multi-family', 'Condo', 'Coop'],
                    [@sales_unit.listing_type ? @sales_unit.listing_type.titleize : '']),
                  {prompt: "Choose one..."},
                  :required => true,
                  class: "form-control" %>
              </div>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-xs-12 col-md-3 form-label-responsive">
              <%= f.label :sales_amenity_ids, "Amenities" %>
            </div>

            <!-- for bigger screens -->
            <div class="col-xs-12 col-md-9">
              <div class="row">

                <% i = 0 %>
                <%= f.collection_check_boxes(:sales_amenity_ids, current_user.company.sales_amenities, :id, :name) do |b| %>

                  <% if i % 3 == 0 && i > 0 %>
                    </div>
                    <div class="row">
                  <% end %>

                  <div class="col-sm-4">
                    <%= b.check_box(class: "check_box") %>&nbsp;
                    <%= b.text.titleize %>
                  </div>

                <% i = i+1 %>
                <% end %>

              </div><!-- row -->

              <div class="row">
                <div class="col-xs-12">
                  <%= f.text_field :custom_amenities, class: 'form-control',
                  placeholder: "Or enter new amenities, comma separated" %>
                </div>
              </div>

            </div><!-- col -->

          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :internal_notes %>
            </div>
            <div class="col-md-9">
              <%= f.text_area :internal_notes, class: 'form-control', rows: 6 %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :public_description %>
            </div>
            <div class="col-md-9">
              <%= f.text_area :public_description, class: 'form-control', rows: 6 %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :seller_name, class: 'required' %>
            </div>
            <div class="col-md-9">
              <%= f.text_field :seller_name, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :seller_phone, class: 'required' %>
            </div>
            <div class="col-md-9">
              <%= f.text_field :seller_phone, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :seller_address, class: 'required' %>
            </div>
            <div class="col-md-9">
              <%= f.text_field :seller_address, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :year_built %>
            </div>
            <div class="col-md-4">
              <%= f.text_field :year_built, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :building_type, class: 'required' %>
            </div>
            <div class="col-md-4">
              <%= f.select :building_type,
                  options_for_select(['Wood Frame', 'Brick'],
                    [@sales_unit.building_type ? @sales_unit.building_type.titleize : '']),
                  {prompt: "Choose one..."},
                  :required => true,
                  class: "form-control" %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :lot_size %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :lot_size, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :building_size %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :building_size, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :block_taxes %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :block_taxes, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :lot_taxes %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :lot_taxes, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :water_sewer %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :water_sewer, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :insurance %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :insurance, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :school_district %>
            </div>
            <div class="col-md-4">
              <%= f.text_field :school_district, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :certificate_of_occupancy %>
            </div>
            <div class="col-md-4">
              <%= f.text_field :certificate_of_occupancy, class: 'form-control' %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :violation_search %>
            </div>
            <div class="col-md-9">
              <%= f.text_area :violation_search, class: 'form-control', rows:'8' %>
            </div>
          </div>

          <br />
          <div class="row show-op">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :percent_commission, 'Commission %' %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :percent_commission, class: 'form-control', min: 0 %>
              <div id="op_explainer_text"></div>
            </div>
          </div>

          <br />
          <div class="row show-op">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :outside_broker_commission, 'Outside Broker Commission %' %>
            </div>
            <div class="col-md-4">
              <%= f.number_field :outside_broker_commission, class: 'form-control', min: 0 %>
              <div id="op_explainer_text"></div>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :primary_agent_id, "Primary Agent" %>
            </div>
            <div class="col-md-4">
              <%= f.fields_for @sales_unit.unit do |unit_form| %>
                <%= unit_form.select(:primary_agent_id,
                  options_for_select(current_user.company.users.unarchived.collect {|u| [u.name, u.id]},
                    [@sales_unit.unit.primary_agent ? @sales_unit.unit.primary_agent.id : '']),
                  {prompt: "Choose one..."},
                  class: 'form-control',
                  :include_blank => true) %>
              <% end %>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-3 form-label-responsive">
              <strong>Open House</strong>
            </div>
            <div class="col-md-9">
              <%= f.fields_for @sales_unit.unit do |unit_form| %>
                <%= unit_form.check_box(:oh_exclusive) %>
                <%= unit_form.label :oh_exclusive, "Is Exclusive" %><br />
                <%= unit_form.label :open_house, "Date & Time Details" %>
                <%= unit_form.text_area :open_house, class: 'form-control', rows: 3 %>
              <% end %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :rlsny, "RLSNY" %>
            </div>
            <div class="col-md-9">
              <div class="checkbox checkbox-warning checkbox-inline ">
                <%= f.check_box :rlsny, class:"rlsny", checked: @sales_unit.rlsny %>
                <label></label>
              </div>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :floor %>
            </div>
            <div class="col-md-9">
              <%= f.number_field :floor, class: 'form-control' %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :total_room_count %>
            </div>
            <div class="col-md-9">
              <%= f.number_field :total_room_count, class: 'form-control' %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :condition %>
            </div>
            <div class="col-md-9">
                <%= f.select(:condition,
                  options_for_select(["New Mint", "Excellent", "Good", "Fair", "Wreck", "Estate"], @sales_unit.condition), {prompt: "Choose one..."},
                  class: 'form-control',
                  :include_blank => true) %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :showing_instruction %>
            </div>
            <div class="col-md-9">
              <%= f.text_field :showing_instruction, class: 'form-control' %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :commission_amount %>
            </div>
            <div class="col-md-9">
              <%= f.number_field :commission_amount, class: 'form-control', :step => 'any' %>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :cyof, "CYOF" %>
            </div>
            <div class="col-md-9">
              <div class="radio radio-warning radio-inline">
                <%= f.radio_button :cyof, true, checked: @sales_unit.cyof %>
                <%= f.label :cyof_true, "Yes" %>
              </div>
              <div class="radio radio-warning radio-inline">
                <%= f.radio_button :cyof, false, checked: !@sales_unit.cyof %>
                <%= f.label :cyof_false, "No" %>
              </div>
            </div>
          </div>

          <div class="row vertical-margin-lg">
            <div class="col-md-3 form-label-responsive">
              <%= f.label :share_with_brokers, "Share w/ Brokers" %>
            </div>
             <div class="col-md-9">
              <div class="radio radio-warning radio-inline">
                <%= f.radio_button :share_with_brokers, true, checked: @sales_unit.share_with_brokers %>
                <%= f.label :share_with_brokers_true, "Yes" %>
              </div>
              <div class="radio radio-warning radio-inline">
                <%= f.radio_button :share_with_brokers, false, checked: !@sales_unit.share_with_brokers %>
                <%= f.label :share_with_brokers_false, "No" %>
              </div>
            </div>
          </div>

          <br />
          <div class="row">
            <div class="col-md-9 col-md-offset-3">
              <div class="actions">
                <%= f.submit class: "btn btn-warning" %>
              </div>
            </div>
          </div>


          <% end %>

        </div><!-- end tabpanel home -->
      <% end %>
    </div><!-- tab content -->

  </div><!-- panelbody -->
</div><!-- panel -->

</div>
