<tr class="<%= cycle('even', 'odd') -%>" data-id="<%= sales_listing.listing_id %>" >
  <!-- ****** checkboxes ****************************************** -->
  <% if controller_name == 'sales_listings' %>
    <td>
      <i data-action="selectUnit" class="fa fa-square-o fa-lg"></i>
    </td>
  <% end %>

  <!-- ****** IMAGE ****************************************** -->
  <td class="img-col" style="max-width: 150px;">
    <% if @res_images[sales_listing.unit_id] %>
      <%= link_to(image_tag(@res_images[sales_listing.unit_id],
        class: 'img-responsive',
        alt: @res_images[sales_listing.unit_id]), sales_listing) %>
    <% else %>
      <!-- placeholder image -->
      <%= link_to(image_tag("listing_soon_thumb.png".freeze, alt: "Image coming soon",
        class: 'img-responsive',
        size: "100x100"), sales_listing) %>
    <% end %>
  </td>

  <!-- ****** ADDRESS ****************************************** -->
  <td>
    <%= link_to "#{sales_listing.street_address_and_unit}", sales_listing_path(sales_listing.id) %><br />
    <% if sales_listing.neighborhood_name %>
      <small><%= sales_listing.neighborhood_name %></small>
    <% end %>
  </td>

  <!-- ****** UNIT ****************************************** -->
  <td>
    <%= sales_listing.building_unit %>
  </td>

  <!-- ****** LOT SIZE ****************************************** -->
  <td>
    <%= sales_listing.lot_size %>
  </td>

  <!-- ****** ACCESS INFO****************************************** -->
  <td data-toggle="tooltip" data-placement="top" title="<%= sales_listing.access_info %>"
    data-delay="1500">
    <%= trim_access sales_listing.access_info %></td>
  <td><%= sales_listing.bed_and_baths %></td>
  <td>
    <% if sales_listing.available_by %>
      <%= sales_listing.available_by.strftime("%b %d") %>
    <% else %>
      -
    <% end %>
  </td>

  <!-- ****** PRICE ****************************************** -->
  <td><%= rent_formatted(sales_listing.rent) %></td>

  <!-- ****** UPDATED AT ****************************************** -->
  <td><%= time_ago_in_words(sales_listing.updated_at) %></td>

  <!-- ****** STATUS ****************************************** -->
  <td>
    <% if sales_listing.status == Unit.statuses["active"] %>
      <span class="glyphicon glyphicon-arrow-up green" aria-hidden="true"></span>
    <% elsif sales_listing.status == Unit.statuses["pending"] %>
      <span class="glyphicon glyphicon-arrow-up dark-orange" aria-hidden="true"></span>
    <% elsif sales_listing.status == Unit.statuses["on_market"]  %>
      <span class="glyphicon glyphicon-arrow-up green-combo" aria-hidden="true"></span>
    <% elsif sales_listing.status == Unit.statuses["offer_submitted"]  %>
      <span class="glyphicon glyphicon-arrow-up pink-dark" aria-hidden="true"></span>
    <% elsif sales_listing.status == Unit.statuses["contract_out"]  %>
      <span class="glyphicon glyphicon-arrow-up pink-combo" aria-hidden="true"></span>
    <% elsif sales_listing.status == Unit.statuses["in_escrow"]  %>
      <span class="glyphicon glyphicon-arrow-up wooden-mix" aria-hidden="true"></span>
    <% elsif sales_listing.status == Unit.statuses["off"] %>
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    <% end %>
  </td>

  <% if current_user.is_management? || current_user.is_listings_manager? ||
        current_user.is_photo_manager? %>
    <td class="hidden-print">
      <% if !current_user.is_photo_manager? %>
        <%= link_to 'Edit', edit_sales_listing_path(sales_listing) %>
        <br /><%= link_to 'Delete', delete_modal_sales_listing_path(sales_listing),
          data: { toggle: "modal", target: "#sunitDeleteModal", params: params}, remote: true %>
        <br />
        <%= link_to 'Duplicate', duplicate_modal_sales_listing_path(sales_listing),
          data: { toggle: "modal", target: "#sunitDuplicateModal"}, remote: true %><br />
        <%= link_to 'Announcement', new_announcement_path(
            { address: sales_listing.formatted_street_address2 }) %>
      <% else %>
        <%= link_to 'Manage photos', edit_sales_listing_path(sales_listing) %>
      <% end %>
    </td>
  <% end %>
</tr>
