<!DOCTYPE html>
<html>
<head>
  <!--   -->
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.9, maximum-scale=1.0, minimal-ui">
  <title><%= full_title(yield(:title)) %></title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <!-- used for listings index pages -->
  <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
  <%= stylesheet_link_tag 'print', media: 'print', 'data-turbolinks-track': true %>

  <%= csrf_meta_tags %>

  <!-- favicons generated from http://realfavicongenerator.net/ -->
  <%= favicon_link_tag "apple-touch-icon-57x57.png", rel:"apple-touch-icon", sizes:"57x57" %>
  <%= favicon_link_tag "apple-touch-icon-60x60.png", rel:"apple-touch-icon", sizes:"60x60" %>
  <%= favicon_link_tag "apple-touch-icon-72x72.png", rel:"apple-touch-icon", sizes:"72x72" %>
  <%= favicon_link_tag "apple-touch-icon-76x76.png", rel:"apple-touch-icon", sizes:"76x76" %>
  <%= favicon_link_tag "apple-touch-icon-114x114.png", rel:"apple-touch-icon", sizes:"114x114" %>
  <%= favicon_link_tag "apple-touch-icon-120x120.png", rel:"apple-touch-icon", sizes:"120x120" %>
  <%= favicon_link_tag "apple-touch-icon-144x144.png", rel:"apple-touch-icon", sizes:"144x144" %>
  <%= favicon_link_tag "apple-touch-icon-152x152.png", rel:"apple-touch-icon", sizes:"152x152" %>
  <%= favicon_link_tag "apple-touch-icon-180x180.png", rel:"apple-touch-icon", sizes:"180x180" %>
  <%= favicon_link_tag "favicon-32x32.png", rel:"icon", type:"image/png", sizes:"32x32" %>
  <%= favicon_link_tag "android-chrome-192x192.png", rel:"icon", type:"image/png", sizes:"192x192" %>
  <%= favicon_link_tag "favicon-96x96.png", rel:"icon", type:"image/png", sizes:"96x96" %>
  <%= favicon_link_tag "favicon-16x16.png", rel:"icon", type:"image/png", sizes:"16x16" %>
  <%= favicon_link_tag "favicon.ico", rel:"icon", type:"image/png" %>
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body class="<%= controller_name %> <%= action_name %>">

<div id="mapbox-token" data-mapbox-token="<%= ENV['MAPBOX_TOKEN'] %>"></div>
  <%= render 'layouts/navbar_mobile' %>
  <%= render 'layouts/navbar_desktop' %>

  <div class="data-current-user-id"
      data-current-user-id="<%= current_user ? current_user.id : nil %>">
  </div>

  <div id="main-container">
    <div class="main-content">

      <div class="container-fluid">
        <div id="notices">
          <%= render 'layouts/notices' %>
        </div>

      	<%= yield %>
      </div>
    	<!--%= debug(params) if Rails.env.development? %-->
    </div>

  </div>

  <%= render 'layouts/footer' %>

  <script data-turbolinks-eval="false"
      src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
  <script data-turbolinks-eval="false"
      src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>

  <!-- used for geocoding -->
  <script type="text/javascript" data-turbolinks-eval="false"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['GOOGLE_MAPS_KEY'] %>">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true, 'data-turbolinks-eval':"false" %>

</body>
</html>

