<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= full_title(yield(:title)) %></title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <% if action_name == 'index' &&
        controller.controller_name == 'residential_listings' ||
        controller.controller_name == 'commercial_listings' ||
        controller.controller_name == 'sales_listings' %>
    <!-- used for listings index pages -->
    <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
  <% end %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
  <!-- used for geocoding -->

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= ENV['GOOGLE_MAPS_KEY'] %>"></script>

  <!-- favicons generated from http://realfavicongenerator.net/ -->
  <%= favicon_link_tag "apple-touch-icon-57x57.png", rel:"apple-touch-icon", sizes:"57x57" %>
  <%= favicon_link_tag "apple-touch-icon-60x60.png", rel:"apple-touch-icon", sizes:"60x60" %>
  <%= favicon_link_tag "apple-touch-icon-72x72.png", rel:"apple-touch-icon", sizes:"72x72" %>
  <%= favicon_link_tag "apple-touch-icon-76x76.png", rel:"apple-touch-icon", sizes:"76x76" %>
  <%= favicon_link_tag "apple-touch-icon-114x114.png", rel:"apple-touch-icon", sizes:"114x114" %>
  <%= favicon_link_tag "apple-touch-icon-120x120.png", rel:"apple-touch-icon", sizes:"120x120" %>
  <%= favicon_link_tag "apple-touch-icon-144x144.png", rel:"apple-touch-icon", sizes:"144x144" %>
  <%= favicon_link_tag "apple-touch-icon-152x152.png", rel:"apple-touch-icon", sizes:"152x152" %>
  <%= favicon_link_tag "apple-touch-icon-180x180.png", rel:"apple-touch-icon", sizes:"180x180" %>
  <%= favicon_link_tag "favicon-32x32.png", rel:"icon", type:"image/png", sizes:"32x32" %>
  <%= favicon_link_tag "android-chrome-192x192.png", rel:"icon", type:"image/png", sizes:"192x192" %>
  <%= favicon_link_tag "favicon-96x96.png", rel:"icon", type:"image/png", sizes:"96x96" %>
  <%= favicon_link_tag "favicon-16x16.png", rel:"icon", type:"image/png", sizes:"16x16" %>
  <%= favicon_link_tag "favicon.ico", rel:"icon", type:"image/png" %>
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body class="<%= controller_name %> <%= action_name %>">

<div id="mapbox-token" data-mapbox-token="<%= ENV['MAPBOX_TOKEN'] %>"></div>
<div id="main-container">

	<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container-fluid">
    <%= link_to "RealtyHunter", current_user ? user_home_path : root_path, id: "logo",
        class: 'title-logo' %>
    <% if logged_in? %>
    <nav>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Rentals", residential_listings_path %></li>
            <li><%= link_to "Commercial", commercial_listings_path %></li>
            <li><%= link_to "Sales", sales_listings_path %></li>

            <% if current_user.has_role? :roomsharing %>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Roommates List
                <% if unread_roommates_count > 0 %>
                  <span class="roommates_badge badge"><%= unread_roommates_count %></span>
                <% end %>
                <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Roommates List", roommates_path %></li>
                  <li><%= link_to "Roommates", new_roommate_path %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Roommates", new_roommate_path %></li>
            <% end %>

            <li><%= link_to "Buildings", buildings_path %></li>

            <% if current_user.is_management? %>
              <li><%= link_to "Landlords", landlords_path %></li>
              <li><%= link_to "Deals", deals_path %></li>
            <% end %>

            <!-- COMPANY ADMIN -->
            <% if !current_user.is_external_vendor? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.company.name %>
                  <% if total_unread_forms_count > 0 && current_user.is_management? %>
                    <span class="total_forms_badge badge"><%= total_unread_forms_count %></span>
                  <% end %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Company", company_path(current_user.company) %></li>
                  <li><%= link_to "Offices", company_offices_path(current_user.company) %></li>
                  <li><%= link_to "Managers", managers_company_path(current_user.company) %></li>
                  <li><%= link_to "Coworkers", employees_company_path(current_user.company) %></li>

                  <% if current_user.is_company_admin? %>
                    <li><%= link_to "Waterfall", user_waterfalls_path %></li>
                  <% end %>
                  <% if current_user.is_management? || current_user.is_listings_manager? %>
                    <li><%= link_to "Announcements", new_announcement_path %></li>
                    <li role="separator" class="divider"></li>

                    <li class="dropdown-header">WuFoo Forms</li>
                    <li>
                      <%= link_to forms_careers_path do %>
                        Careers <% if unread_careers_count > 0 %>
                          <span class="careers_badge badge"><%= unread_careers_count %></span>
                        <% end %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to forms_contact_us_path do %>
                        Contact Us <% if unread_contact_us_count > 0 %>
                          <span class="contact_us_badge badge"><%= unread_contact_us_count %></span>
                        <% end %>
                      <% end %>
                    </li>
                    <li>
                      <%= link_to forms_partner_index_path do %>
                        Partner With Us <% if unread_partner_count > 0 %>
                          <span class="partner_badge badge"><%= unread_partner_count %></span>
                        <% end %>
                      <% end %>
                    </li>
                    <!--li>< % = link_to "Residential Listing", forms_residential_listings_path % ></li-->
                    <!--li>< % = link_to "Commercial Listing", forms_commercial_listings_path % ></li-->

                  <% end %>
                </ul>
              </li>
            <% end %>

            <!-- SUPER ADMIN -->
            <% if (logged_in?) && (current_user.has_role? :super_admin) %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Administrator Menu <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Companies", companies_path %></li>
                <li><%= link_to "Users", users_path %></li>
              </ul>
              </li>
            <% end %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name.titleize %> <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">

                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "My Waterfall", user_waterfall_path(current_user) %></li>
                <% if current_user.is_manager? %>
                  <li><%= link_to "My Team Members", subordinates_user_path(current_user) %></li>
                <% end %>
                <% if current_user.is_management? %>
                  <li><%= link_to "Add New Member", admin_new_users_path %></li>
                <% elsif current_user.is_company_admin? %>
                  <li><%= link_to "Add Office", new_company_office_path(current_user.company) %></li>
                <% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Log out", logout_path, method: "delete" %>
                </li>
              </ul>
            </li>
        </ul>
      </div><!-- collapse -->
    </nav>
    <% end %><!-- if logged_in? -->
  </div>
  </header>

	<!-- error msgs -->
  <div id="notices">
    <%= render 'layouts/notices' %>
  </div>

  <div class="container-fluid">
  	<%= yield %>
  </div>
	<!--%= debug(params) if Rails.env.development? %-->
</div>

</body>
</html>

